<%
# amazon s3 uploads

s3_upload_hash = {
    label: "Layout Upload (.pdf)", required: false, callback_url: project_project_layout_url(@project),
    form_id: "layout_layout_upload_s3_uploader", callback_param: "layout_layout_upload[direct_upload_url]",
    container_id: "layout_layout_upload_container", object: @project_layout, column_name: "layout_upload"
  }
%>
<%= render partial: "shared/amazon_s3_upload", locals: s3_upload_hash %>





<%= simple_form_for(edit_project_layout_path(@project_layout)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exact_name_on_copyright %>
    <%= f.input :final_page_count %>
    <%= f.input :layout_approval_issue_list %>
    <%= f.input :layout_approved %>
    <%= f.input :layout_approved_date %>
    <%= f.input :layout_notes %>
    <%= f.input :page_header_display_name %>
    <%= f.input :pen_name %>
    <%= f.input :use_pen_name_for_copyright %>
    <%= f.input :use_pen_name_on_title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
