<% provide(:title, "Channel Report For #{@channel_report.scan_date}") %>

<h1>Channel Report</h1>

<p>
  <strong>Scan Date:</strong>
  <%= @channel_report.scan_date %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>KDP Select</th>
    <th>Select Error</th>
    <th>Amazon</th>
    <th>Amazon Link</th>
    <th>B&amp;N</th>
    <th>B&amp;N link</th>
    <th>Apple</th>
    <th>Apple Link</th>
  </tr>
  <% @channel_report.report_items_by_title.each do | report_item | %>
  <tr>
    <td class='book-title'><%= report_item.title %></td>
    <td><i class="genericon genericon-<%= "#{ report_item.kdp_select ? "checkmark" : "close" }"%>"></i></td>
    <td><i class="genericon genericon-<%= "#{ report_item.kdp_select_error?  ? "checkmark" : "close" }"%>"></i></td>
    <td><i class="genericon genericon-<%= "#{ report_item.amazon  ? "checkmark" : "close" }"%>"></i></td>
    <td><%= link_to 'goto', report_item.amazon_link unless report_item.amazon_link.nil? || !report_item.amazon %></td>
    <td><% if report_item.nook %><i class="genericon genericon-checkmark"></i><% end %></td>
    <td><%= link_to 'goto', report_item.nook_link unless report_item.nook_link.nil? || !report_item.nook %></td>
    <td><% if report_item.apple %><i class="genericon genericon-checkmark"></i><% end %></td>
    <td><%= link_to 'goto', report_item.apple_link unless report_item.apple_link.nil? || !report_item.apple %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_channel_report_path(@channel_report) %> |
<%= link_to 'Back', channel_reports_path %>
