<h1>Listing project_views</h1>

<table>
  <thead>
    <tr>
      <th>Project type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_views.each do |project_view| %>
      <tr>
        <td><%= project_view.project_type %></td>
        <td><%= link_to 'Show', project_view %></td>
        <td><%= link_to 'Edit', edit_project_view_path(project_view) %></td>
        <td><%= link_to 'Destroy', project_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project view', new_project_view_path %>
