<div class="container">
  <h1>Legal Document for <%= @project.book_title %></h1>
  <hr />
  <p>
    <strong>Document Type:</strong>
    <%= ImportedContract::Document_Types.key @imported_contract.document_type %>
  </p>

  <p>
    <strong>Document Signers:</strong>
    <ul>
      <% @imported_contract.signers.each do | signer | %>
        <li><%= link_to signer.name, signer.profile_page %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Document Date:</strong>
    <%= @imported_contract.document_date %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= link_to @imported_contract.contract_file_name,
          download_imported_contracts_path(@imported_contract),
          target: :blank %>
  </p>

  <%= link_to 'Edit', edit_imported_contract_path(@imported_contract) %> |
  <%= link_to 'Back', imported_contracts_path %>

</div>
