 <p>
  <strong>Text:</strong>
  <%= @post.content %>
</p>
 
<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
  <p>
    <%= f.label :content, "Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>