<%= simple_form_for(@publication_fact_sheet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <label>Author Name<span class="required">*</span></label>
    <%= f.input :author_name, label: false, required: true %>

    <%= f.input :series_name %>
    <%= f.input :series_number %>

    <label>Back Blurb / Book Description<span class="required">*</span></label>
    <%= f.input :description, label: false, required: false %>

    <label>Author Bio<span class="required">*</span></label>
    <%= f.input :author_bio %>

    <%= f.input :endorsements %>

    <label>One Line Blurb<span class="required">*</span></label>
    <%= f.input :one_line_blurb, label: false, required: true %>

    <%= f.input :print_price %>

    <label>ebook Price<span class="required">*</span></label>
    <%= f.input :ebook_price, label: false, required: true %>

    <label>BISAC Code One<span class="required">*</span></label>
    <%= f.input :bisac_code_one, label: false, required: true %>

    <%= f.input :bisac_code_two, label: 'BISAC Code Two' %>
    <%= f.input :bisac_code_three, label: 'BISAC Code Three' %>
    <%= f.input :search_terms %>

    <label>What age range is most appropriate for your book?<span class="required">*</span></label>
    <%= f.collection_radio_buttons :age_range, PublicationFactSheet::AGE_RANGES,
                 :first, :last, required: true,
                 collection_wrapper_tag: 'div',
                 item_wrapper_tag: 'p' %>

    <label>Do you want your paperback cover to be matte or glossy?<span class="required">*</span></label>
    <%= f.collection_radio_buttons :paperback_cover_type, PublicationFactSheet::COVER_TYPES,
                :first, :last, required: true,
                collection_wrapper_tag: 'div',
                item_wrapper_tag: 'p' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
