<% if @approved %>
    <p>The Final Cover for this project was approved on <%= @project.cover_template.final_cover_approval_date %>.</p>
<% else %>
    <p>The Final Cover for this project was not approved with the suggested changes as follows: </p>
<% end %>
<div>
  <% if @project.cover_template.final_cover_notes.present? %>
    <pre style="border: 2px solid black; padding: 10px; overflow: auto;">
      <%= @project.cover_template.final_cover_notes %>
    </pre>
    <br />
  <% end %>

  <% if @project.cover_template.final_cover_screenshot.present? %>
    <b>Explanatory screenshot:</b>
    <br>
    <%= image_tag @project.cover_template.final_cover_screenshot.expiring_url(*Constants::LinkExpirationOneMonth) %>
    <br>
  <% end %>

  Thanks,<br><br>

  - Booktrope
</div>
<br>

<% if @project.cover_template.ebook_front_cover? %>
    <b>eBook Front Cover:</b><br>
    <%= image_tag @project.cover_template.ebook_front_cover.expiring_url(*Constants::LinkExpirationOneMonth) %>
    <br>
<% end %>

<b>Download Links</b>:<br>
Raw Full Cover: <%= (@project.cover_template.raw_cover?) ? (link_to "DOWNLOAD", @project.cover_template.raw_cover.expiring_url(*Constants::LinkExpirationOneMonth)) : 'N/A' %><br/>
eBook Front Cover: <%= (@project.cover_template.ebook_front_cover?) ? (link_to "DOWNLOAD", @project.cover_template.ebook_front_cover.expiring_url(*Constants::LinkExpirationOneMonth)) : 'N/A' %><br/>
CreateSpace Full Cover: <%= (@project.cover_template.createspace_cover?) ? (link_to "DOWNLOAD", @project.cover_template.createspace_cover.expiring_url(*Constants::LinkExpirationOneMonth)) : 'N/A' %><br/>
Lightning Source Full Cover: <%= (@project.cover_template.lightning_source_cover?) ? (link_to "DOWNLOAD", @project.cover_template.lightning_source_cover.expiring_url(*Constants::LinkExpirationOneMonth)) : 'N/A' %><br/>
Alternate Cover: <%= (@project.cover_template.alternative_cover?) ? (link_to "DOWNLOAD", @project.cover_template.alternative_cover.expiring_url(*Constants::LinkExpirationOneMonth)) : 'N/A' %><br/><br/>
Font License: <%= (@project.cover_template.font_license?) ? (link_to "DOWNLOAD", @project.cover_template.font_license.expiring_url(*Constants::LinkExpirationOneMonth)) : 'N/A' %><br/><br/>
Font List: <%= @project.cover_template.font_list%><br/><br/>
