<%= simple_form_for @task do | f |  %>
  <%= f.error_notification %>

  <% if :action == :new %>
   <%= f.input :name  %>
   <p>
   This is the name of the task you cannot edit this field, but you can override
   the value using the override name field.
   </p>
  <% end %>
  <%= f.input :override_name, label: "Override Name" %>
  <p>This will be the name displayed to the user throughout the system (i.e. The Grid and Details tab)</p>
  <%= f.input :tab_text %>
  <p>The text that appears on the tab on the project page</p>
  <%= f.input :icon %>
  <%= f.input :intro_video %>
  <%= f.input :days_to_complete %>
  <%= f.association :workflow %>
  <%= f.association :next_task %>
  <%= f.association :rejected_task %>
  <%= f.collection_select :partial, load_partials, :last, :first, include_blank: true %>
  <%= f.input :team_only %>

  <div style="padding: 0px 20px 20px 20px; margin-bottom: 20px; border-color:#C7C6C6; border-width: 1px; border-style: solid;">
    <h3>Alerts and Modal</h3>
    <%= f.input :modal, label: "Is Modal?" %>
    <%= f.input :modal_header %>
    <%= f.input :modal_text %>
  </div>
  <h4>Performers</h4>
  <%= f.association :performers, as: :check_boxes, label: false  %>
  <h4>Unlocked Tasks</h4>
  <%= f.association :unlocked, collection: Task.all.order("name"), label: false, as: :check_boxes %>
  <%= f.submit %>
<% end %>
