<%= simple_form_for @task do | f |  %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :tab_text %>
  <%= f.input :icon %>
  <%= f.input :intro_video %>
  <%= f.input :days_to_complete %>
  <%= f.association :workflow %>
  <%= f.association :next_task %>
  <%= f.association :rejected_task %>
  <%= f.collection_select :partial, load_partials, :last, :first, include_blank: true %>
  <%= f.input :team_only %>
  <h4>Performers</h4>
  <%= f.association :performers, as: :check_boxes, label: false  %>
  <h4>Unlocked Tasks</h4>
  <%= f.association :unlocked, collection: Task.all.order("name"), label: false, as: :check_boxes %>
  <%= f.submit %>
<% end %>
