<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
    	<th>Horizontal Order</th>
      <th>Workflow</th>
      <th>Task Id</th>
      <th>Name</th>
      <th>Phase Id</th>
      <th>Next</th>
      <th>Rejected task</th>
      <th>Partial</th>
      <th>Icon</th>
      <th>Tab text</th>
      <th>Intro video</th>
      <th>Days to complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
      	<td><%= task.horizontal_order %></td>
        <td><%= task.workflow.name %></td>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.phase_id %></td>        
        <td><%= task.next_id %></td>
        <td><%= task.rejected_task_id %></td>
        <td><%= task.partial %></td>
        <td><%= task.icon %></td>
        <td><%= task.tab_text %></td>
        <td><%= task.intro_video %></td>
        <td><%= task.days_to_complete %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
