<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Workflow</th>
      <th>Task Id</th>
      <th>Name</th>
      <th>Next</th>
      <th>Rejected task</th>
      <th>Partial</th>
      <th>Icon</th>
      <th>Tab text</th>
      <th>Intro video</th>
      <th>Days to complete</th>
      <th>Performer Roles</th>
      <th>Unlocked Tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.workflow.name unless task.workflow.nil? %></td>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.next_id %></td>
        <td><%= task.rejected_task_id %></td>
        <td><%= task.partial %></td>
        <td><%= task.icon %></td>
        <td><%= task.tab_text %></td>
        <td><%= task.intro_video %></td>
        <td><%= task.days_to_complete %></td>
        <td>
        	<% task.performers.each_with_index do | performer, index | %>
        		<%= performer.name %>
        		<%= "," if !index != 0 && index != task.performers.count-1 %>
        	<% end %>
        </td>
        <td>
        	<% task.unlocked_tasks.each_with_index do | unlocked_task, index | %>
        		<%= unlocked_task.unlocked_task.name %>
        		<%= "," if !index != 0 && index != task.unlocked_tasks.count-1 %>
        	<% end %>
        </td>        
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
