<h1><%= @task.name %></h1>

<p>
  <strong>Workflow:</strong>
  <%= @task.workflow.name unless @task.workflow.nil? %>
</p>

<p>
  <strong>Next:</strong>
  <% unless @task.next_task.nil? %>
    <%= link_to @task.next_task.name, @task.next_task %>
  <% end %>
</p>

<p>
  <strong>Rejected task:</strong>
  <% unless @task.rejected_task.nil? %>
    <%= link_to @task.rejected_task.name, @task.rejected_task %>
  <% end %>
</p>

<p>
  <strong>Partial:</strong>
  <%= @task.partial %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @task.icon %>
</p>

<p>
  <strong>Tab text:</strong>
  <%= @task.tab_text %>
</p>

<p>
  <strong>Intro video:</strong>
  <%= @task.intro_video %>
</p>

<p>
  <strong>Days to complete:</strong>
  <%= @task.days_to_complete %>
</p>

<div class="row">
  <div class="col-md-4">
  <h4>Performer Roles:</h4>
  <table>
    <tr>
      <th>Performers</th>
    </tr>
    <tbody>
    <% @task.performers.each do | performer | %>
      <tr><td><%= performer.name %></td></tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Unlocked Tasks:</h4>
    <table>
      <tr>
        <th>Task</th>
      </tr>
      <tbody>
        <% @task.unlocked_tasks.each do | unlocked_task| %>
        <%#= unlocked_task.unlocked_task.name unless unlocked_task.unlocked_task.nil? %>
          <tr><td><%= link_to unlocked_task.unlocked_task.name, unlocked_task.unlocked_task %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
