<h1>Projects in Manuscript Development</h1>

<table id="manuscript_development_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Manuscript Development Decision</th>
      <th>Manuscript Development End Date</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @man_devs.each do |man_dev| %>
      <tr>
        <td><%= link_to man_dev.project, man_dev.project %></td>
        <td><%= man_dev.man_dev_decision %></td>
        <td><%= man_dev.man_dev_end_date %></td>
        <td><%= link_to 'Show', man_dev %></td>
        <td><%= link_to 'Edit', edit_man_dev_path(man_dev) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#manuscript_development_table").DataTable({ 'pageLength': '100'});
</script>

