<%= simple_form_for(@print_corner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :project %>
    <%= f.association :user %>
    <label>Order Type</label>
    <%= f.input :order_type, label: false,
        collection: PrintCorner::OrderTypes,
        label_method: :last, value_method: :first,
        include_blank: false,
        input_html: {
            id: 'print_corner_type'
        },
        required: true %>
    <%= f.input :first_order %>
    <%= f.input :additional_order %>
    <%= f.input :over_125 %>
    <%= f.input :billing_acceptance %>
    <%= f.input :quantity %>
    <%= f.input :has_author_profile %>
    <%= f.input :has_marketing_plan %>
    <%= f.input :shipping_recipient %>
    <%= f.input :shipping_address_street_1 %>
    <%= f.input :shipping_address_street_2 %>
    <%= f.input :shipping_address_city %>
    <%= f.input :shipping_address_state %>
    <%= f.input :shipping_address_zip %>
    <%= f.input :marketing_plan_link %>
    <%= f.input :marketing_copy_message %>
    <%= f.input :contact_phone %>
    <%= f.input :expedite_instructions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
