<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @print_corner.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @print_corner.user %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @print_corner.order_type %>
</p>

<p>
  <strong>First order:</strong>
  <%= @print_corner.first_order %>
</p>

<p>
  <strong>Additional order:</strong>
  <%= @print_corner.additional_order %>
</p>

<p>
  <strong>Over 125:</strong>
  <%= @print_corner.over_125 %>
</p>

<p>
  <strong>Billing acceptance:</strong>
  <%= @print_corner.billing_acceptance %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @print_corner.quantity %>
</p>

<p>
  <strong>Has author profile:</strong>
  <%= @print_corner.has_author_profile %>
</p>

<p>
  <strong>Has marketing plan:</strong>
  <%= @print_corner.has_marketing_plan %>
</p>

<p>
  <strong>Shipping recipient:</strong>
  <%= @print_corner.shipping_recipient %>
</p>

<p>
  <strong>Shipping address street 1:</strong>
  <%= @print_corner.shipping_address_street_1 %>
</p>

<p>
  <strong>Shipping address street 2:</strong>
  <%= @print_corner.shipping_address_street_2 %>
</p>

<p>
  <strong>Shipping address city:</strong>
  <%= @print_corner.shipping_address_city %>
</p>

<p>
  <strong>Shipping address state:</strong>
  <%= @print_corner.shipping_address_state %>
</p>

<p>
  <strong>Shipping address zip:</strong>
  <%= @print_corner.shipping_address_zip %>
</p>

<p>
  <strong>Marketing plan link:</strong>
  <%= @print_corner.marketing_plan_link %>
</p>

<p>
  <strong>Marketing copy message:</strong>
  <%= @print_corner.marketing_copy_message %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @print_corner.contact_phone %>
</p>

<p>
  <strong>Expedite instructions:</strong>
  <%= @print_corner.expedite_instructions %>
</p>

<%= link_to 'Edit', edit_print_corner_path(@print_corner) %> |
<%= link_to 'Back', print_corners_path %>
