<%= simple_form_for(@control_number) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asin, label: "ASIN" %>
    <%= f.input :apple_id, label: "Apple ID" %>
    <%= f.input :epub_isbn, label: "ePub ISBN" %>
    <%= f.input :hardback_isbn, label: "Hardback ISBN" %>
    <%= f.input :paperback_isbn, label: "Paperback ISBN" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Control Numbers" %>
  </div>
<% end %>
