<h1>Blog Tours</h1>

<table id="blog_tours_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Cost</th>
      <th>Tour type</th>
      <th>Blog tour service</th>
      <th>Number of stops</th>
      <th>Start date</th>
      <th>End date</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @blog_tours.each do |blog_tour| %>
      <tr>
        <td class="book-title"><%= link_to blog_tour.project.book_title, blog_tour.project %></td>
        <td>$<%= blog_tour.cost %></td>
        <td><%= blog_tour.tour_type %></td>
        <td><%= blog_tour.blog_tour_service %></td>
        <td><%= blog_tour.number_of_stops %></td>
        <td><%= blog_tour.start_date %></td>
        <td><%= blog_tour.end_date %></td>
        <td><%= link_to 'Show', blog_tour %></td>
        <td><%= link_to 'Edit', edit_blog_tour_path(blog_tour) %></td>
        <td><%= link_to 'Destroy', blog_tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#blog_tours_table").DataTable({ "pageLength" : 100 });
</script>
