<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_type.name %>
</p>

<p>
  <strong>Team total percent:</strong>
  <%= @project_type.team_total_percent %>
</p>

<%= link_to 'Edit', edit_project_type_path(@project_type) %> |
<%= link_to 'Back', project_types_path %>
