<h1>Listing price_change_promotions</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Price promotion</th>
      <th>Price after promotion</th>
      <th>Type</th>
      <th>Sites</th>
      <th>Parse IDs</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_change_promotions.each do |price_change_promotion| %>
      <tr>
        <td><%= price_change_promotion.start_date %></td>
        <td><%= price_change_promotion.end_date %></td>
        <td><%= price_change_promotion.price_promotion %></td>
        <td><%= price_change_promotion.price_after_promotion %></td>
        <td><%= price_change_promotion.type.humanize %></td>
        <td><%= price_change_promotion.sites %></td>
        <td><%= price_change_promotion.parse_ids %></td>
        <td><%= link_to price_change_promotion.project.title, price_change_promotion.project %></td>
        <td><%= link_to 'Show', price_change_promotion %></td>
        <td><%= link_to 'Edit', edit_price_change_promotion_path(price_change_promotion) %></td>
        <td><%= link_to 'Destroy', price_change_promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price change promotion', new_price_change_promotion_path %>
