<% provide(:title, "Price Change Promotions") %>
<div class="page" id="blog-page" role="main">
<h1>Price Change Promotions</h1>
  <script type="text/javascript">
    function toggleTable1() {
      var lTable = document.getElementById("pricePromotionGridtable");
    lTable.style.display = (lTable.style.display == "table") ? "none" : "table";}
  </script>
  <table id="pricePromotionGridtable" class="projectListTable">
  <thead>
    <tr>
      <th>Project</th>
      <th>Type</th>
      <th>Start Date</th>
      <th>Promotion Price</th>
      <th>End Date</th>
      <th>Price after promotion</th>
      <th>Sites</th>
      <th>Start Date Parse ID(s)</th>
      <th>End Date Parse ID(s)</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @price_change_promotions.each do |price_change_promotion| %>
      <tr>
        <td class="book-title"><%= link_to price_change_promotion.project.title, price_change_promotion.project %></td>
        <td><%= price_change_promotion.type.map(&:humanize).join(",") %></td>
        <td><nobr><%= price_change_promotion.start_date %></nobr></td>
        <td><%= price_change_promotion.price_promotion %></td>
        <td><nobr><%= price_change_promotion.end_date %></nobr></td>
        <td><%= price_change_promotion.price_after_promotion %></td>
        <td><%= price_change_promotion.sites.map(&:humanize).join(", ") %></td>
        <td><%= price_change_promotion.parse_ids["start_ids"].gsub(/,/, ",<br />").html_safe unless price_change_promotion.parse_ids.nil? || price_change_promotion.parse_ids["start_ids"].nil? %></td>
        <td><%= price_change_promotion.parse_ids["end_ids"].gsub(/,/, ", <br />").html_safe unless price_change_promotion.parse_ids.nil? || price_change_promotion.parse_ids["end_ids"].nil? %></td>
        <td><%= link_to 'Show', price_change_promotion %></td>
        <td>
          <% if can? :edit, price_change_promotion %>
            <%= link_to 'Edit', edit_price_change_promotion_path(price_change_promotion) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, price_change_promotion %>
            <%= link_to 'Destroy', price_change_promotion, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $("#pricePromotionGridtable").DataTable({
        "pageLength" : 100
  });
</script>
<br>

</div>
