<h1>Price Change Promotion for: <%= @price_change_promotion.project.title %></h1>

<p>
  <strong>Project:</strong>
  <%= link_to @price_change_promotion.project.title, @price_change_promotion.project %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @price_change_promotion.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @price_change_promotion.end_date %>
</p>

<p>
  <strong>Price promotion:</strong>
  <%= @price_change_promotion.price_promotion %>
</p>

<p>
  <strong>Price after promotion:</strong>
  <%= @price_change_promotion.price_after_promotion %>
</p>

<p>
  <strong>Type</strong>
  <%= @price_change_promotion.type.map(&:humanize).join(",") %>
</p>

<p>
  <strong>Sites:</strong>
  <%= @price_change_promotion.sites.join(", ") %>
</p>

<% if current_user.role? :booktrope_staff %>
<p>
  <strong>Parse ID(s)</strong><br />

  <% unless @price_change_promotion.parse_ids.nil? %>
    <% @price_change_promotion.parse_ids.each do | key, value | %>
      <strong><%= key.humanize %></strong>
      <ul>
        <% value.split(",").each do | parse_id | %>
          <li><%= parse_id %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</p>
<% end %>

<% if can? :edit, @price_change_promotion %>
  <%= link_to 'Edit', edit_price_change_promotion_path(@price_change_promotion) %> |
  <%= link_to 'Back', price_change_promotions_path %>
<% end %>
