<h1>Listing Approve Blurbs</h1>

<table id="approve_blurbs_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Blurb Notes</th>
      <th>Blurb Approval Decision</th>
      <th>Blurb Approval Date</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @approve_blurbs.each do |approve_blurb| %>
      <tr>
        <td><%= link_to approve_blurb.project.title, approve_blurb.project %></td>
        <td><%= approve_blurb.blurb_notes %></td>
        <td><%= approve_blurb.blurb_approval_decision %></td>
        <td><%= approve_blurb.blurb_approval_date %></td>
        <td><%= link_to 'Show', approve_blurb %></td>
        <td><%= link_to 'Edit', edit_approve_blurb_path(approve_blurb) %></td>
        <td><%= link_to 'Destroy', approve_blurb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('#approve_blurbs_table').DataTable({"pageLength": 100});

</script>

<br>

<%= link_to 'New Approve blurb', new_approve_blurb_path %>
