<h1>Approve Blurb for <br /> <%= link_to @project.book_title, @project  %></h1>

<p>
  <strong>Blurb approval decision:</strong>
  <%= @approve_blurb.blurb_approval_decision?? "Approved" : "Rejected" %>
</p>

<p>
  <strong>Blurb approval date:</strong>
  <%= @approve_blurb.blurb_approval_date %>
</p>

<p>
  <strong>Blurb notes:</strong>
  <%= @approve_blurb.blurb_notes %>
</p>

<% if current_user.role? :booktrope_staff %>
  <%= link_to 'Edit', edit_approve_blurb_path(@approve_blurb) %> |
  <%= link_to 'Back', approve_blurbs_path %>
<% end %>
