<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name %><br />
<%= f.text_field :name %><br />

<%= f.label :email %><br />
<%= f.text_field :email %><br />

<%= f.label :password %><br />
<%= f.password_field :password %><br />

<%= f.label :password_confirmation, "Confirm Password" %><br />
<%= f.password_field :password_confirmation %><br />

<h2><%= f.label :role %></h2>
<% User::ROLES.each do | role | %>
	<%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
	<%= h role.humanize %><br />
<% end %>
<%= hidden_field_tag "user[roles][]", "" %>