<% provide(:title, "#{@user.name} Favorites") %>
<div id="primary" class="content-area">
	<div id="content" class="site-content" role="main">
		<article id="post-0" class="post-0 bp_members type-bp_members status-publish hentry">
			<header class="entry-header">
				<h1 class="entry-title"><%= link_to @user.name, @user%></h1>
			</header><!-- .entry-header -->
			
			<div class="entry-content">
				<div id="buddypress">
					<%= render "users/header" %>
					<%= render "users/navigation" %>
									
					<div id="item-body" role="main">
						<%= render 'users/activity_navigation' %>
<div class="activity" role="main">

	

		<noscript>
		&lt;div class="pagination"&gt;
			&lt;div class="pag-count"&gt;Viewing item 1 to 2 (of 2 items)&lt;/div&gt;
			&lt;div class="pagination-links"&gt;&lt;/div&gt;
		&lt;/div&gt;
	</noscript>

	
		<ul id="activity-stream" class="activity-list item-list">

	
	
		

<li class="groups new_forum_post activity-item mini" id="activity-101112">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/justin/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/287/1b207d03dede2e9f9dabe9e6605601a4-bpthumb.jpg" class="avatar user-287-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Justin Jeffress">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/justin/" title="Justin Jeffress">Justin Jeffress</a> submitted form <a href="https://teamtrope.com/projects/four-rubbings-by-jennifer-hotes/">Update Project Status</a> for <a href="https://teamtrope.com/groups/jennifer-hotes-teamroom/" class=""><img src="https://secure.gravatar.com/avatar/7a6a587ae7afe54ab3540222532da43f?d=wavatar&amp;s=20&amp;r=G" class="avatar group-104-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Jennifer Hotes: Teamroom"></a><a href="">Four Rubbings</a>: <a href="https://teamtrope.com/members/justin/" class="view activity-time-since" title="View Discussion"><span class="time-since">1 month, 1 week ago</span></a></p>

		</div>

		
		
		<div class="activity-meta">

			
			
				
					<a href="?ac=101112/#ac-form-101112" class="button acomment-reply bp-primary-action" id="acomment-comment-101112">Comment <span>0</span></a>

				
				
					
						<a href="https://teamtrope.com/activity/unfavorite/101112/?_wpnonce=22382662de" class="button unfav bp-secondary-action" title="Remove Favorite">Remove Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/101112?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
		<div class="activity-comments">

			
			
				<form action="https://teamtrope.com/activity/reply/" method="post" id="ac-form-101112" class="ac-form" style="display: none;">
					<div class="ac-reply-avatar"><img src="https://teamtrope.com/wp-content/uploads/avatars/287/1b207d03dede2e9f9dabe9e6605601a4-bpthumb.jpg" class="avatar user-287-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Justin Jeffress"></div>
					<div class="ac-reply-content">
						<div class="ac-textarea">
							<textarea id="ac-input-101112" class="ac-input" name="ac_input_101112"></textarea>
						</div>
						<input type="submit" name="ac_form_submit" value="Post"> &nbsp; <a href="#" class="ac-reply-cancel">Cancel</a>
						<input type="hidden" name="comment_form_id" value="101112">
					</div>

					
					<input type="hidden" id="_wpnonce_new_activity_comment" name="_wpnonce_new_activity_comment" value="2062d6c130"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/favorites/">
				</form>

			
		</div>

	
	
</li>


	
		

<li class="groups activity_update activity-item" id="activity-31588">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/andy/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/1/10b60fa73838a53694d73ca8439442d4-bpthumb.jpg" class="avatar user-1-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Andy Roberts">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/andy/" title="Andy Roberts">Andy Roberts</a> posted an update in the group <a href="https://teamtrope.com/groups/october-sprint-bookdrop-forced-workflow/" class=""><img src="https://teamtrope.com/wp-content/uploads/group-avatars/140/7d420ad5273ce1a3db8c2c19c3680569-bpthumb.png" class="avatar group-140-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Dev Chat"></a><a href="https://teamtrope.com/groups/october-sprint-bookdrop-forced-workflow/">2013 October Sprint – BookDrop!</a> <a href="https://teamtrope.com/activity/p/31588/" class="view activity-time-since" title="View Discussion"><span class="time-since">1 year, 1 month ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p>I finished the BookFields Group</p>

			</div>

		
		
		<div class="activity-meta">

			
			
				
					<a href="?ac=31588/#ac-form-31588" class="button acomment-reply bp-primary-action" id="acomment-comment-31588">Comment <span>0</span></a>

				
				
					
						<a href="https://teamtrope.com/activity/unfavorite/31588/?_wpnonce=22382662de" class="button unfav bp-secondary-action" title="Remove Favorite">Remove Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/31588?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
		<div class="activity-comments">

			
			
				<form action="https://teamtrope.com/activity/reply/" method="post" id="ac-form-31588" class="ac-form" style="display: none;">
					<div class="ac-reply-avatar"><img src="https://teamtrope.com/wp-content/uploads/avatars/287/1b207d03dede2e9f9dabe9e6605601a4-bpthumb.jpg" class="avatar user-287-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Justin Jeffress"></div>
					<div class="ac-reply-content">
						<div class="ac-textarea">
							<textarea id="ac-input-31588" class="ac-input" name="ac_input_31588"></textarea>
						</div>
						<input type="submit" name="ac_form_submit" value="Post"> &nbsp; <a href="#" class="ac-reply-cancel">Cancel</a>
						<input type="hidden" name="comment_form_id" value="31588">
					</div>

					
					<input type="hidden" id="_wpnonce_new_activity_comment" name="_wpnonce_new_activity_comment" value="2062d6c130"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/favorites/">
				</form>

			
		</div>

	
	
</li>


	
	
	
		</ul>

	



	<form action="" name="activity-loop-form" id="activity-loop-form" method="post">

		<input type="hidden" id="_wpnonce_activity_filter" name="_wpnonce_activity_filter" value="5bb40fdfd7"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/favorites/">
	</form>


</div><!-- .activity -->						
						
					</div>
				</div><!-- #buddypress -->
			</div><!-- .entry-content -->
		</article><!-- #post-## -->
		
	</div><!-- #content -->
</div>
<%= render "layouts/sidebar" %>
