<% provide(:title, "#{@user.name} Mentions") %>
<div id="primary" class="content-area">
	<div id="content" class="site-content" role="main">
		<article id="post-0" class="post-0 bp_members type-bp_members status-publish hentry">
			<header class="entry-header">
				<h1 class="entry-title"><%= link_to @user.name, @user%></h1>
			</header><!-- .entry-header -->
			
			<div class="entry-content">
				<div id="buddypress">
					<%= render "users/header" %>
					<%= render "users/navigation" %>
					<div id="item-body" role="main">
						<%= render "users/activity_navigation" %>
		




<div class="activity" role="main">

	

		<noscript>
		&lt;div class="pagination"&gt;
			&lt;div class="pag-count"&gt;Viewing item 1 to 20 (of 38 items)&lt;/div&gt;
			&lt;div class="pagination-links"&gt;&lt;span class='page-numbers current'&gt;1&lt;/span&gt;
&lt;a class='page-numbers' href='/members/justin/activity/mentions/?acpage=2'&gt;2&lt;/a&gt;
&lt;a class="next page-numbers" href="/members/justin/activity/mentions/?acpage=2"&gt;&amp;rarr;&lt;/a&gt;&lt;/div&gt;
		&lt;/div&gt;
	</noscript>

	
		<ul id="activity-stream" class="activity-list item-list">

	
	
		

<li class="activity activity_comment activity-item" id="activity-105219">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/105147/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 weeks, 3 days ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/jennifergilbert/" rel="nofollow">@jennifergilbert</a> – Got it! Also, I just got the 4.4 Price promo form that you submitted. In the future, can you please drop me a message instead if you intend on changing the dates of an original form or extending the dates. Since submitting a new form doesn’t remove the old entry date for the scheduled price raise on 11/11. This way, it’s easier…<span class="activity-read-more" id="activity-read-more-105219"><a href="https://teamtrope.com/activity/p/105147/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/105147/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/105219/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/105219?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-102909">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/96848/" class="view activity-time-since" title="View Discussion"><span class="time-since">1 month ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/ruthsilver/" rel="nofollow">@ruthsilver</a> – Thank you for resubmitting a 4.4 Promo form, you did set for the price to be lowered on 10/30 which would have started at 23:59 PST, but since the automated system read it as a price raise it’s taking a little longer. I have two forms in which Fractured Dream was submitted to be raised to $4.99 or $3.99. If you can confirm with me…<span class="activity-read-more" id="activity-read-more-102909"><a href="https://teamtrope.com/activity/p/96848/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/96848/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/102909/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/102909?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-98099">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/jessejames/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/7/24cd44d0de7755f828965045d1fe734f-bpthumb.jpg" class="avatar user-7-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Jesse James Freeman">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/jessejames/" title="Jesse James Freeman">Jesse James Freeman</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/98008/" class="view activity-time-since" title="View Discussion"><span class="time-since">1 month, 3 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/claudialong/" rel="nofollow">@claudialong</a> Sincere thanks for jumping in and giving a new author in our community advice. It’s greatly appreciated and very thoughtful that you took the time to do so.  Thanks for saying @Adam and I can fix anything — we try (and I’m sure he’s thankful for the kind words) Many thanks!</p>
<p><a href="https://teamtrope.com/members/davidthivierge/" rel="nofollow">@davidthivierge</a> Booktropia is our secret hidden FB group,…<span class="activity-read-more" id="activity-read-more-98099"><a href="https://teamtrope.com/activity/p/98008/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/98008/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/98099/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/98099?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="groups activity_update activity-item has-comments" id="activity-93158">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/sarkajonae/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/265/d8a2065fc5cad7c3589469982d2f2872-bpthumb.jpg" class="avatar user-265-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Sárka-Jonae Miller">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/sarkajonae/" title="Sárka-Jonae Miller">Sárka-Jonae Miller</a> posted an update in the group <a href="https://teamtrope.com/groups/ruth-mancini-teamroom/" class=""><img src="https://teamtrope.com/wp-content/uploads/group-avatars/138/a01eb7daaf8421c6f60af17c15222537-bpthumb.jpg" class="avatar group-138-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Ruth Mancini: Teamroom"></a><a href="https://teamtrope.com/groups/ruth-mancini-teamroom/">Ruth Mancini: Teamroom</a> <a href="https://teamtrope.com/activity/p/93158/" class="view activity-time-since" title="View Discussion"><span class="time-since">2 months, 2 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> <a href="https://teamtrope.com/members/ruthmancini/" rel="nofollow">@ruthmancini</a> I know I submitted a 4.4 form, but since this is so important I thought I’d put a reminder. Swimming Upstream must be 99 cents tomorrow (Sept. 22) for the ENT Book of the Day and Midlist sponsorships. Thanks cc: <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a></p>

			</div>

		
		
		<div class="activity-meta">

			
			
				
					<a href="?ac=93158/#ac-form-93158" class="button acomment-reply bp-primary-action" id="acomment-comment-93158">Comment <span>1</span></a>

				
				
					
						<a href="https://teamtrope.com/activity/favorite/93158/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/93158?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
		<div class="activity-comments">

			<ul>

<li id="acomment-93173">
	<div class="acomment-avatar">
		<a href="https://teamtrope.com/members/ruthmancini/">
			<img src="https://teamtrope.com/wp-content/uploads/avatars/295/ecf74cb9248a5cf059c607d72bf617e9-bpthumb.jpg" class="avatar user-295-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Ruth Mancini">		</a>
	</div>

	<div class="acomment-meta">
		<a href="https://teamtrope.com/members/ruthmancini/">Ruth Mancini</a> replied <a href="https://teamtrope.com/activity/p/93158/#acomment-93173" class="activity-time-since"><span class="time-since">2 months, 1 week ago</span></a>	</div>

	<div class="acomment-content"><p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> <a href="https://teamtrope.com/members/sarkajonae/" rel="nofollow">@sarkajonae</a> Thanks Sarka – the sales seem to have slipped off in the UK now so it’s a good time to pause the FB ads too.  I’m not sure whether we need to find another comparator before we start them up again? </p>
</div>

	<div class="acomment-options">

		
			<a href="#acomment-93173" class="acomment-reply bp-primary-action" id="acomment-reply-93158-from-93173">Reply</a>

		
		
			<a href="https://teamtrope.com/activity/delete/93173?cid=93173&amp;_wpnonce=5a8bca2fda" class="delete acomment-delete confirm bp-secondary-action" rel="nofollow">Delete</a>

		
		
	</div>

	</li>

</ul>
			
				<form action="https://teamtrope.com/activity/reply/" method="post" id="ac-form-93158" class="ac-form" style="display: none;">
					<div class="ac-reply-avatar"><img src="https://teamtrope.com/wp-content/uploads/avatars/287/1b207d03dede2e9f9dabe9e6605601a4-bpthumb.jpg" class="avatar user-287-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Justin Jeffress"></div>
					<div class="ac-reply-content">
						<div class="ac-textarea">
							<textarea id="ac-input-93158" class="ac-input" name="ac_input_93158"></textarea>
						</div>
						<input type="submit" name="ac_form_submit" value="Post"> &nbsp; <a href="#" class="ac-reply-cancel">Cancel</a>
						<input type="hidden" name="comment_form_id" value="93158">
					</div>

					
					<input type="hidden" id="_wpnonce_new_activity_comment" name="_wpnonce_new_activity_comment" value="2062d6c130"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/mentions/">
				</form>

			
		</div>

	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-84268">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/84165/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 months, 2 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/pamlabbe/" rel="nofollow">@pamlabbe</a> – <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> just removed Dangerous Reflections from the price change queue, there was no record of Twisted Reflections being submitted for a price change. Thanks! </p>
<p>cc: <a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/84165/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/84268/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/84268?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-84257">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/pamlabbe/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/414/8ca92f0181518962ea11555a6ed8d6bf-bpthumb.jpg" class="avatar user-414-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Pam Labbe">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/pamlabbe/" title="Pam Labbe">Pam Labbe</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/84165/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 months, 2 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> Can <a href="https://teamtrope.com/members/justin/" rel="nofollow">@Justin</a> remove the sale from 8/20-8/27 for both Dangerous Reflections and Twisted Reflections?  I’ll resubmit with new dates.  Thank you!</p>
<p>cc: <a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/84165/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/84257/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/84257?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="groups activity_update activity-item has-comments" id="activity-84165">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted an update in the group <a href="https://teamtrope.com/groups/shay-westalexis-davenport-series-teamroom/" class=""><img src="https://teamtrope.com/wp-content/uploads/group-avatars/186/a51aacfe52d47931172f6e3d74304cf1-bpthumb.jpg" class="avatar group-186-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Shay West/Alexis Davenport Series: Teamroom"></a><a href="https://teamtrope.com/groups/shay-westalexis-davenport-series-teamroom/">Shay West/Alexis Davenport Series: Teamroom</a> <a href="https://teamtrope.com/activity/p/84165/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 months, 2 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a>, <a href="https://teamtrope.com/members/pamlabbe/" rel="nofollow">@pamlabbe</a> </p>
<p>Hey there, I see that Dangerous Reflections is schedule for a price change from 8/20 – 8/27. If it’s something you wish to reschedule feel free to submit another 4.4 Price promo and <a href="https://teamtrope.com/members/justin/" rel="nofollow">@Justin</a> will be able to remove the old entry. Thanks! </p>

			</div>

		
		
		<div class="activity-meta">

			
			
				
					<a href="?ac=84165/#ac-form-84165" class="button acomment-reply bp-primary-action" id="acomment-comment-84165">Comment <span>4</span></a>

				
				
					
						<a href="https://teamtrope.com/activity/favorite/84165/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/84165?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
		<div class="activity-comments">

			<ul>

<li id="acomment-84257">
	<div class="acomment-avatar">
		<a href="https://teamtrope.com/members/pamlabbe/">
			<img src="https://teamtrope.com/wp-content/uploads/avatars/414/8ca92f0181518962ea11555a6ed8d6bf-bpthumb.jpg" class="avatar user-414-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Pam Labbe">		</a>
	</div>

	<div class="acomment-meta">
		<a href="https://teamtrope.com/members/pamlabbe/">Pam Labbe</a> replied <a href="https://teamtrope.com/activity/p/84165/#acomment-84257" class="activity-time-since"><span class="time-since">3 months, 2 weeks ago</span></a>	</div>

	<div class="acomment-content"><p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> Can <a href="https://teamtrope.com/members/justin/" rel="nofollow">@Justin</a> remove the sale from 8/20-8/27 for both Dangerous Reflections and Twisted Reflections?  I’ll resubmit with new dates.  Thank you!</p>
<p>cc: <a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a></p>
</div>

	<div class="acomment-options">

		
			<a href="#acomment-84257" class="acomment-reply bp-primary-action" id="acomment-reply-84165-from-84257">Reply</a>

		
		
			<a href="https://teamtrope.com/activity/delete/84257?cid=84257&amp;_wpnonce=5a8bca2fda" class="delete acomment-delete confirm bp-secondary-action" rel="nofollow">Delete</a>

		
		
	</div>

	</li>



<li id="acomment-84268">
	<div class="acomment-avatar">
		<a href="https://teamtrope.com/members/kelsey/">
			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">		</a>
	</div>

	<div class="acomment-meta">
		<a href="https://teamtrope.com/members/kelsey/">Kelsey Wong</a> replied <a href="https://teamtrope.com/activity/p/84165/#acomment-84268" class="activity-time-since"><span class="time-since">3 months, 2 weeks ago</span></a>	</div>

	<div class="acomment-content"><p><a href="https://teamtrope.com/members/pamlabbe/" rel="nofollow">@pamlabbe</a> – <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> just removed Dangerous Reflections from the price change queue, there was no record of Twisted Reflections being submitted for a price change. Thanks! </p>
<p>cc: <a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a></p>
</div>

	<div class="acomment-options">

		
			<a href="#acomment-84268" class="acomment-reply bp-primary-action" id="acomment-reply-84165-from-84268">Reply</a>

		
		
			<a href="https://teamtrope.com/activity/delete/84268?cid=84268&amp;_wpnonce=5a8bca2fda" class="delete acomment-delete confirm bp-secondary-action" rel="nofollow">Delete</a>

		
		
	</div>

	</li>



<li id="acomment-84304">
	<div class="acomment-avatar">
		<a href="https://teamtrope.com/members/pamlabbe/">
			<img src="https://teamtrope.com/wp-content/uploads/avatars/414/8ca92f0181518962ea11555a6ed8d6bf-bpthumb.jpg" class="avatar user-414-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Pam Labbe">		</a>
	</div>

	<div class="acomment-meta">
		<a href="https://teamtrope.com/members/pamlabbe/">Pam Labbe</a> replied <a href="https://teamtrope.com/activity/p/84165/#acomment-84304" class="activity-time-since"><span class="time-since">3 months, 2 weeks ago</span></a>	</div>

	<div class="acomment-content"><p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a>  I promise I’m not trying to be a pain  <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley">   but I have the price change request confirmation email dated July 29th.  I’m going to resubmit for both books with new sales dates, but I just don’t know if something might be up with Twisted Reflections project page if I got the receipt but it wasn’t received on the other end.  </p>
<p>cc <a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a></p>
</div>

	<div class="acomment-options">

		
			<a href="#acomment-84304" class="acomment-reply bp-primary-action" id="acomment-reply-84165-from-84304">Reply</a>

		
		
			<a href="https://teamtrope.com/activity/delete/84304?cid=84304&amp;_wpnonce=5a8bca2fda" class="delete acomment-delete confirm bp-secondary-action" rel="nofollow">Delete</a>

		
		
	</div>

	</li>



<li id="acomment-84321">
	<div class="acomment-avatar">
		<a href="https://teamtrope.com/members/kelsey/">
			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">		</a>
	</div>

	<div class="acomment-meta">
		<a href="https://teamtrope.com/members/kelsey/">Kelsey Wong</a> replied <a href="https://teamtrope.com/activity/p/84165/#acomment-84321" class="activity-time-since"><span class="time-since">3 months, 2 weeks ago</span></a>	</div>

	<div class="acomment-content"><p><a href="https://teamtrope.com/members/pamlabbe/" rel="nofollow">@pamlabbe</a> – It is a completely legit question! To assure you I did receive the receipt for the new dates for Dangerous Reflections and Twisted Reflections. I’ve figured out why it didn’t show up in the price queue before, so really sorry about earlier. I appreciate you trying to clarify it with me. <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley"> </p>
<p>cc: <a href="https://teamtrope.com/members/shay/" rel="nofollow">@shay</a></p>
</div>

	<div class="acomment-options">

		
			<a href="#acomment-84321" class="acomment-reply bp-primary-action" id="acomment-reply-84165-from-84321">Reply</a>

		
		
			<a href="https://teamtrope.com/activity/delete/84321?cid=84321&amp;_wpnonce=5a8bca2fda" class="delete acomment-delete confirm bp-secondary-action" rel="nofollow">Delete</a>

		
		
	</div>

	</li>

</ul>
			
				<form action="https://teamtrope.com/activity/reply/" method="post" id="ac-form-84165" class="ac-form" style="display: none;">
					<div class="ac-reply-avatar"><img src="https://teamtrope.com/wp-content/uploads/avatars/287/1b207d03dede2e9f9dabe9e6605601a4-bpthumb.jpg" class="avatar user-287-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Justin Jeffress"></div>
					<div class="ac-reply-content">
						<div class="ac-textarea">
							<textarea id="ac-input-84165" class="ac-input" name="ac_input_84165"></textarea>
						</div>
						<input type="submit" name="ac_form_submit" value="Post"> &nbsp; <a href="#" class="ac-reply-cancel">Cancel</a>
						<input type="hidden" name="comment_form_id" value="84165">
					</div>

					
					<input type="hidden" id="_wpnonce_new_activity_comment" name="_wpnonce_new_activity_comment" value="2062d6c130"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/mentions/">
				</form>

			
		</div>

	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-82277">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/82240/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/pamlabbe/" rel="nofollow">@pamlabbe</a> – Oh bother, sorry about the ENT portion, I tend to use a standard blurb… but yes please hold off on using them right now since their prices are much higher. </p>
<p><a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> – Could you please remove the listing for the price change for The Lycan Hunter from 8/26-9/5? Thank you! </p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/82240/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/82277/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/82277?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-82254">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/82240/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelseyjordan/" rel="nofollow">@kelseyjordan</a>, <a href="https://teamtrope.com/members/pamlabbe/" rel="nofollow">@pamlabbe</a></p>
<p>Hey guys, I just noticed that you guys had submitted a price reduction from 8/26-9/5 for The Lycan Hunter – it might not be a good idea to run a $0.99 promotion only two weeks before your BookBub promo, let me know if you need those dates fixed or removed as the process is currently being automated and I would need to…<span class="activity-read-more" id="activity-read-more-82254"><a href="https://teamtrope.com/activity/p/82240/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/82240/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/82254/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/82254?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-82074">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/adam/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/42/580263f76b0e9d16d617475d433433e0-bpthumb.jpg" class="avatar user-42-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Adam Bodendieck">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/adam/" title="Adam Bodendieck">Adam Bodendieck</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/82051/" class="view activity-time-since" title="View Discussion"><span class="time-since">3 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> – can you look into this? Please make sure The Graduation Present has changed across all vendors and also verify that everything is set for Flipka on 8/14. Thanks! </p>
<p>FWIW – I just checked KDP, and it looks like the price change is currently processing. Is this simply a case of it taking longer than normal for some reason? </p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/82051/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/82074/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/82074?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-78672">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/78484/" class="view activity-time-since" title="View Discussion"><span class="time-since">4 months, 2 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/jennifergilbert/" rel="nofollow">@jennifergilbert</a> – Confirmed, Thanks! <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley">  </p>
<p>cc: <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a>, <a href="https://teamtrope.com/members/shariryan/" rel="nofollow">@shariryan</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/78484/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/78672/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/78672?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="groups activity_update activity-item has-comments" id="activity-78484">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/jennifergilbert/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/250/eee255087d0fac990c9db3b0e5293f47-bpthumb.jpg" class="avatar user-250-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Jennifer Gilbert">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/jennifergilbert/" title="Jennifer Gilbert">Jennifer Gilbert</a> posted an update in the group <a href="https://teamtrope.com/groups/shari-j-ryan-teamroom/" class=""><img src="https://teamtrope.com/wp-content/uploads/group-avatars/131/7d782138136de45898e01e162b464f8e-bpthumb.jpg" class="avatar group-131-avatar avatar-20 photo" width="20" height="20" alt="Group logo of Shari J. Ryan: Teamroom"></a><a href="https://teamtrope.com/groups/shari-j-ryan-teamroom/">Shari J. Ryan: Teamroom</a> <a href="https://teamtrope.com/activity/p/78484/" class="view activity-time-since" title="View Discussion"><span class="time-since">4 months, 2 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> I just submitted a new price promo for Fissure Free and Schasm.  I had done one before but we decided to shorten the sale.  Can you confirm the new request will overrule the previous one? Thank you!!! cc<a href="https://teamtrope.com/members/shariryan/" rel="nofollow">@shariryan</a></p>

			</div>

		
		
		<div class="activity-meta">

			
			
				
					<a href="?ac=78484/#ac-form-78484" class="button acomment-reply bp-primary-action" id="acomment-comment-78484">Comment <span>1</span></a>

				
				
					
						<a href="https://teamtrope.com/activity/favorite/78484/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/78484?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
		<div class="activity-comments">

			<ul>

<li id="acomment-78672">
	<div class="acomment-avatar">
		<a href="https://teamtrope.com/members/kelsey/">
			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">		</a>
	</div>

	<div class="acomment-meta">
		<a href="https://teamtrope.com/members/kelsey/">Kelsey Wong</a> replied <a href="https://teamtrope.com/activity/p/78484/#acomment-78672" class="activity-time-since"><span class="time-since">4 months, 2 weeks ago</span></a>	</div>

	<div class="acomment-content"><p><a href="https://teamtrope.com/members/jennifergilbert/" rel="nofollow">@jennifergilbert</a> – Confirmed, Thanks! <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley">  </p>
<p>cc: <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a>, <a href="https://teamtrope.com/members/shariryan/" rel="nofollow">@shariryan</a></p>
</div>

	<div class="acomment-options">

		
			<a href="#acomment-78672" class="acomment-reply bp-primary-action" id="acomment-reply-78484-from-78672">Reply</a>

		
		
			<a href="https://teamtrope.com/activity/delete/78672?cid=78672&amp;_wpnonce=5a8bca2fda" class="delete acomment-delete confirm bp-secondary-action" rel="nofollow">Delete</a>

		
		
	</div>

	</li>

</ul>
			
				<form action="https://teamtrope.com/activity/reply/" method="post" id="ac-form-78484" class="ac-form" style="display: none;">
					<div class="ac-reply-avatar"><img src="https://teamtrope.com/wp-content/uploads/avatars/287/1b207d03dede2e9f9dabe9e6605601a4-bpthumb.jpg" class="avatar user-287-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Justin Jeffress"></div>
					<div class="ac-reply-content">
						<div class="ac-textarea">
							<textarea id="ac-input-78484" class="ac-input" name="ac_input_78484"></textarea>
						</div>
						<input type="submit" name="ac_form_submit" value="Post"> &nbsp; <a href="#" class="ac-reply-cancel">Cancel</a>
						<input type="hidden" name="comment_form_id" value="78484">
					</div>

					
					<input type="hidden" id="_wpnonce_new_activity_comment" name="_wpnonce_new_activity_comment" value="2062d6c130"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/mentions/">
				</form>

			
		</div>

	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-75024">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/74990/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/samanthamarch/" rel="nofollow">@samanthamarch</a> – Thanks for checking in, I’m going to copy <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> as well since the price change is currently being automated he’ll be better able to give you an estimate on this. </p>
<p>cc: <a href="https://teamtrope.com/members/marnimann/" rel="nofollow">@marnimann</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/74990/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/75024/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/75024?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-73789">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/heatherludviksson/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/2/5aa4558a8a78be0477d330d0a9a47174-bpthumb.jpg" class="avatar user-2-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Heather Ludviksson">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/heatherludviksson/" title="Heather Ludviksson">Heather Ludviksson</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/73408/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 1 week ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p>Hey <a href="https://teamtrope.com/members/jennifergilbert/" rel="nofollow">@jennifergilbert</a>, sorry for the delay.  I did submit the request to Amazon to stop the discount (it’s been updated to $4.99 in our system but for some reason they sometimes delay raising it).  From what I can see, it’s $4.99 on BN and iTunes so they should raise it soon.</p>
<p>Thank you!</p>
<p>cc<a href="https://teamtrope.com/members/ken/" rel="nofollow">@ken</a> <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> <a href="https://teamtrope.com/members/meredith/" rel="nofollow">@meredith</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/73408/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/73789/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/73789?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-73767">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/jennifergilbert/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/250/eee255087d0fac990c9db3b0e5293f47-bpthumb.jpg" class="avatar user-250-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Jennifer Gilbert">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/jennifergilbert/" title="Jennifer Gilbert">Jennifer Gilbert</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/73408/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 1 week ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> I have not heard back from Kelsey, but the price change I submitted last week has still not gone into effect.  Can you advise please?  it is impacting our Ad start. Thank you!! cc<a href="https://teamtrope.com/members/meredith/" rel="nofollow">@meredith</a> cc<a href="https://teamtrope.com/members/ken/" rel="nofollow">@ken</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/73408/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/73767/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/73767?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-70260">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/stephaniekonat/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/296/ac8224795a976f2c687061642a13e2d1-bpthumb.jpg" class="avatar user-296-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Stephanie Konat">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/stephaniekonat/" title="Stephanie Konat">Stephanie Konat</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/70182/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> Aha!  That’s what it was.  The other promo was a BookBub promo.  So now I understand the difference.  Thanks again for explaining!<br>
<a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> <a href="https://teamtrope.com/members/tiffanypitts/" rel="nofollow">@tiffanypitts</a></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/70182/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/70260/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/70260?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-70244">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/70182/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/stephaniekonat/" rel="nofollow">@stephaniekonat</a> – Thanks Stephanie! I’m sorry to hear about your confusion with your other author. Feel free to PM if it’s something I can clarify for you just to remove the confusion. <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley">  If it has to do with a BookBub promotion, that price would have been lowered 2 days in advance (I’m usually monitoring those) to give the book a buffer just in…<span class="activity-read-more" id="activity-read-more-70244"><a href="https://teamtrope.com/activity/p/70182/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/70182/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/70244/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/70244?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-70239">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/stephaniekonat/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/296/ac8224795a976f2c687061642a13e2d1-bpthumb.jpg" class="avatar user-296-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Stephanie Konat">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/stephaniekonat/" title="Stephanie Konat">Stephanie Konat</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/70182/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/kelsey/" rel="nofollow">@kelsey</a> <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a><br>
Hi there and thanks for explaining!  I will put in a price change, just because I kind of jumped the gun.  I noticed that with another author’s book, the price change showed up on Amazon 3 days prior to the date I had requested the promo, so I mistakenly thought that this would also happen with Double Blind.  Sorry for the…<span class="activity-read-more" id="activity-read-more-70239"><a href="https://teamtrope.com/activity/p/70182/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/70182/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/70239/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/70239?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-70210">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/kelsey/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/323/1b5eb7a8cbff0591784c1e91a1231d39-bpthumb.jpg" class="avatar user-323-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Kelsey Wong">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/kelsey/" title="Kelsey Wong">Kelsey Wong</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/70182/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p><a href="https://teamtrope.com/members/stephaniekonat/" rel="nofollow">@stephaniekonat</a> – Hey Stephanie, The date submitted for Double Blind was for it to be changed 6/12. The price change has currently been automated (successfully!) <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley">  If you would like the price change to happen earlier can you please submit a new 4.4 Price Promo form for the new duration that you would like to happen. Please note, the price change…<span class="activity-read-more" id="activity-read-more-70210"><a href="https://teamtrope.com/activity/p/70182/" rel="nofollow">[Read more]</a></span></p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/70182/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/70210/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/70210?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
		

<li class="activity activity_comment activity-item" id="activity-70024">
	<div class="activity-avatar">
		<a href="https://teamtrope.com/members/sarkajonae/">

			<img src="https://teamtrope.com/wp-content/uploads/avatars/265/d8a2065fc5cad7c3589469982d2f2872-bpthumb.jpg" class="avatar user-265-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Sárka-Jonae Miller">
		</a>
	</div>

	<div class="activity-content">

		<div class="activity-header">

			<p><a href="https://teamtrope.com/members/sarkajonae/" title="Sárka-Jonae Miller">Sárka-Jonae Miller</a> posted a new activity comment <a href="https://teamtrope.com/activity/p/67169/" class="view activity-time-since" title="View Discussion"><span class="time-since">5 months, 4 weeks ago</span></a></p>

		</div>

		
			<div class="activity-inner">

				<p>Thanks <a href="https://teamtrope.com/members/justin/" rel="nofollow">@justin</a> <img src="https://teamtrope.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley"> </p>

			</div>

		
		
		<div class="activity-meta">

			
				<a href="https://teamtrope.com/activity/p/67169/" class="button view bp-secondary-action" title="View Conversation">View Conversation</a>

			
			
				
				
					
						<a href="https://teamtrope.com/activity/favorite/70024/?_wpnonce=9b865e4b5e" class="button fav bp-secondary-action" title="Mark as Favorite">Favorite</a>

					
				
				<a href="https://teamtrope.com/activity/delete/70024?_wpnonce=5a8bca2fda" class="button item-button bp-secondary-action delete-activity confirm" rel="nofollow">Delete</a>
				
			
		</div>

	</div>

	
	
	
</li>


	
	
		<li class="load-more">
			<a href="#more">Load More</a>
		</li>

	
	
		</ul>

	



	<form action="" name="activity-loop-form" id="activity-loop-form" method="post">

		<input type="hidden" id="_wpnonce_activity_filter" name="_wpnonce_activity_filter" value="5bb40fdfd7"><input type="hidden" name="_wp_http_referer" value="/members/justin/activity/mentions/">
	</form>


</div><!-- .activity -->


	</div>									
			
				</div><!-- #buddypress -->
			</div><!-- .entry-content -->
		</article><!-- #post-## -->
	</div><!-- #content -->
</div>
<%= render "layouts/sidebar" %>


