<% provide(:title, @user.name) %>
<div id="primary" class="content-area">
	<div id="content" class="site-content" role="main">
		<article id="post-0" class="post-0 bp_members type-bp_members status-publish hentry">
			<header class="entry-header">
				<h1 class="entry-title"><%= link_to @user.name, @user%></h1>
			</header><!-- .entry-header -->
			<div class="entry-content">
				<div id="buddypress">
					<%= render "users/header" %>
					
					<%= render "users/navigation" %>
									
					<div id="item-body" role="main">
						<div class="item-list-tabs no-ajax" id="subnav" role="navigation">
							<ul>
								<li id="public-personal-li" class="current selected">
									<a id="public" href="https://teamtrope.com/members/justin/profile/">View</a>
								</li>
								<% if current_user == @user %>
								<li id="edit-personal-li">
									<%= link_to "Edit", edit_user_path(@user), id: "edit"  %>
								</li>
								<% end %>
								<li id="change-avatar-personal-li">
									<a id="change-avatar" href="https://teamtrope.com/members/justin/profile/change-avatar/">Change Avatar</a>
								</li>
							</ul>
						</div><!-- .item-list-tabs -->
						
						<div class="profile" role="main">
							<div class="bp-widget base">
								<h4>Base</h4>
								<table class="profile-fields">
									<tbody>
										<tr class="field_1 field_name field_type_textbox">
											<td class="label">Name</td>
											<td class="data">
												<p><% 
												#TODO: update this link to point to the member search.
												 %>
												<%= link_to @user.name, "#", rel: "nofollow" %>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div><!-- .profile -->
					</div><!-- #item-body -->
				</div><!-- #buddypress -->
			</div><!-- .entry-content -->
		</article><!-- #post-## -->
		
	</div><!-- #content -->
</div>
<%= render "layouts/sidebar" %>