<h1>Unlocked Tasks</h1>

<table id="unlocked_tasks_table">
  <thead>
    <tr>
      <th>Task</th>
      <th>Unlocked task</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @unlocked_tasks.each do |unlocked_task| %>
      <tr>
        <td><%= unlocked_task.task.display_name unless unlocked_task.task.nil? %></td>
        <td><%= unlocked_task.unlocked_task.display_name unless unlocked_task.unlocked_task.nil? %></td>
        <td><%= link_to 'Show', unlocked_task %></td>
        <td>
          <% if can? :edit, unlocked_task %>
            <%= link_to 'Edit', edit_unlocked_task_path(unlocked_task) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#unlocked_tasks_table").DataTable({ 'pageLength': '100'});
</script>

<%= link_to 'New Unlocked task', new_unlocked_task_path %>
