<h1>Hellosign Document</h1>

<p>
  <strong>Type:</strong>
  <%= link_to @hellosign_document.name, @hellosign_document.hellosign_document_type %>
</p>

<p>
  <strong>Hellosign ID:</strong>
  <%= @hellosign_document.hellosign_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hellosign_document.status %>
</p>


<%= link_to 'Edit', edit_hellosign_document_path(@hellosign_document) %> |
<%= link_to 'Back', hellosign_documents_path %>
