<h4>Cover Files</h4>
<%= image_tag cover_template.ebook_front_cover, class: 'alignright', width: "340px" %>
eBook Front Cover: <%= link_to "DOWNLOAD", cover_template.ebook_front_cover.url %><br/>
CreateSpace Front Cover: <%= link_to "DOWNLOAD", cover_template.createspace_cover.url %><br/>
Lightning Source Front Cover: <%= link_to "DOWNLOAD", cover_template.lightning_source_cover.url %><br/>
Alternate Cover: <%= link_to "DOWNLOAD", cover_template.alternate_cover.url if cover_template.alternative_cover? %><br/><br/>