<h4>Cover Files</h4>
<%= image_tag download_ebook_front_cover_path(@project), class: 'alignright', width: "340px" %>
eBook Front Cover: <%= link_to "DOWNLOAD", download_ebook_front_cover_path(@project) %><br/>
CreateSpace Front Cover: <%= link_to "DOWNLOAD", download_createspace_cover_path(@project) %><br/>
Lightning Source Front Cover: <%= link_to "DOWNLOAD", download_lightning_source_cover_path(@project) %><br/>
Alternate Cover: <%= link_to "DOWNLOAD", download_alternate_cover_path(@project) if cover_template.alternative_cover? %><br/><br/>