<% if ! @last_errors.nil? && @last_errors.length > 0 %>
    console.log(<%=@last_errors.to_s.html_safe%>);
    $('#upload_<%=params[:unique_id]%>').html('<span>There was an error processing your file.  Please check the file type and try again.<br><br></span>');
<% else %>
    <% if @cover_template.persisted? %>
      $('#upload_<%=params[:unique_id]%>').hide();

      <% unless @updated_file.nil? %>
        $('#cover_template_<%=@updated_file%>_s3_uploader').html('<span><%=params[:filename]%> was successfully uploaded.</span><br /><br />');

        // add the cover template
        if(cover_template_uploaded_files) {
          console.log('Adding <%=@updated_file%> to uploaded types list');
          cover_template_uploaded_files.push('<%=@updated_file%>');
          requiredCoverTemplateFilesUnlockSubmit();
        } else {
          console.error('cover_template_uploaded_files is undefined!  Cannot track uploaded book.');
        }
      <% end %>

    <% else %>
      $('#upload_<%=params[:unique_id]%> div.progress').removeClass('active progress-striped').addClass('progress-danger');
    <% end %>
<% end %>
