<%
# amazon s3 uploads
[
  {
    label: ".mobi File", required: true, callback_url: project_published_file_url(@project),
    form_id: "published_file_mobi_s3_uploader", callback_param: "published_file_mobi[direct_upload_url]",
    container_id: "published_file_mobi_uploads_container", object: @published_file, column_name: "mobi",
    controller_action: 'download_published_file_mobi'
  },
  {
    label: ".epub File", required: true, callback_url: project_published_file_url(@project),
    form_id: "published_file_epub_s3_uploader", callback_param: "published_file_epub[direct_upload_url]",
    container_id: "published_file_epub_uploads_container", object: @published_file, column_name: "epub",
    controller_action: 'download_published_file_epub'
  },
  {
    label: ".pdf File", required: false, callback_url: project_published_file_url(@project),
    form_id: "published_file_pdf_s3_uploader", callback_param: "published_file_pdf[direct_upload_url]",
    container_id: "published_file_pdf_uploads_container", object: @published_file, column_name: "pdf",
    controller_action: 'download_published_file_pdf'
  }
].each do | s3_upload_hash | %>

<%= render partial: "shared/amazon_s3_upload", locals: s3_upload_hash %>

<% end %>
<br />
<%= simple_form_for @published_file, html: {id: "publish_book"} do | f | %>
    <%= f.error_notification %>
    <div class='form_inputs'>
      <%= f.input :publication_date, label: "Publication Date", start_year: Date.today.year, :wrapper => :vertical_form %>
      <label>Enter the Booktrope official publication date for the book.</label>

      <%= hidden_field_tag :updated_mobi, 'no' %>
      <%= hidden_field_tag :updated_epub, 'no' %>
      <%= hidden_field_tag :updated_pdf, 'no' %>

    </div>
    <div class='form-actions'>
      <%= f.submit "submit" %>
    </div>
<% end %>
