<%= simple_form_for @published_file do | f | %>
    <%= f.error_notification %>
    <div>
          <%= f.input :publication_date, label: "Publication Date", start_year: Date.today.year, :wrapper => :vertical_form %>
          <label>Enter the Booktrope official publication date for the book.</label>
    </div>
    <div>
        <p>Existing filename: <%= (! @published_file.mobi_file_name.nil?) ? @published_file.mobi_file_name : 'N/A' %></p>
          <%= f.input :mobi, label: '.mobi File' %>
    </div>
    <div>
      <p>Existing filename: <%= (! @published_file.epub_file_name.nil?) ? @published_file.epub_file_name : 'N/A' %></p>
          <%= f.input :epub, label: '.epub File' %>
    </div>
    <div>
      <p>Existing filename: <%= (! @published_file.pdf_file_name.nil?) ? @published_file.pdf_file_name : 'N/A' %></p>
          <%= f.input :pdf, label: '.pdf File' %>
    </div>
    <div>
      <%= f.submit "submit" %>
    </div>
<% end %>
