<h1>Team Membership Removal Audit</h1>

<table id="team_membership_removal_audit_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Removed Member</th>
      <th>Notes</th>
      <th>Was Notified?</th>
      <th>Percentage</th>
      <th>Reason</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @audit_team_membership_removals.each do |audit_team_membership_removal| %>
      <tr>
        <td class="book-title"><%= link_to audit_team_membership_removal.project.book_title, audit_team_membership_removal.project %></td>
        <td><%= link_to audit_team_membership_removal.member.name, audit_team_membership_removal.member.profile_page %></td>
        <td><%= audit_team_membership_removal.notes %></td>
        <td><% if audit_team_membership_removal.notified_member? %><i class="fa fa-check-circle"></i><% end %></td>
        <td><%= audit_team_membership_removal.percentage %></td>
        <td><%= audit_team_membership_removal.reason %></td>
        <td><%= link_to 'Show', audit_team_membership_removal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#team_membership_removal_audit_table").DataTable({ 'pageLength': '100'});
</script>
