<!-- Add Stock Cover Image -->
<div class="container">
  <h1>Add Image</h1>
  <div class="row">
    <div class="col-md-6">

      <%= render partial: "cover_concepts/stock_cover_image" %>

      <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'add_stock_cover_image', id: @project),
                          html: { id: "add_stock_cover_image" } do | f | %>
        <%= f.error_notification %>
        <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'add_image_submitted_task_id' %>

        <br/>

        <div>
          <%= f.submit "Submit", disabled: '', class: 'btn disabled', id: 'stock_cover_image_submit_button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
