
<!-- Layout Approval -->
<div class="container">
  <h1>Layout Approval Instructions</h1>
  <div class="col-md-8">
    <div class="layout_approval">
      <p>
        Authors: Please review the latest Layout Proof of your book and give final sign off. Your Layout Proof can be found
        and downloaded by clicking the "Assets" tab above.
      </p>
      <p>
        This is your final opportunity to review your manuscript before it goes to press. Following approval, you will incur
        a fee for any requested changes.
      </p>

      <p>Specifically, you should be reviewing for the following:</p>

      <ul>
        <li>Is title correct on Title Page? On Headers?</li>
        <li>Are Editor, Designer, Proofreader, Artist/Photographer credited correctly on the Copyright Page?
          Note: This is at your team's discretion. Some of these roles will not always be credited on this page.</li>
        <li>Is all front/back matter (Acknowledgments, Dedication, Author's Note, etc.) correct?</li>
        <li>To the best of your knowledge, are the books listed on the "More Great Reads" page appropriate (similar
          genres, target audiences, themes, etc.)? If you have other books published by Booktrope, are they listed?
        </li>
        <li>Is layout consistent with your intentions?</li>
      </ul>

      <p>While we are happy to correct minor typos or proofreading errors at this stage, we ask that you not request
        other changes to content, fonts, or other stylistic items.</p>
    </div>

    <!-- This is where we would break the page for step 2 -->
    <hr />

    <div class="layout_approval">
      <p><strong>Is Layout Approved? <span class="required">*</span></strong></p>

      <%= simple_form_for @project, url: url_for(:controller => 'projects', :action => 'approve_layout', id: @project.id),
                          html: { id: 'approve_layout' } do |f| %>
        <%= f.error_notification %>
        <%= hidden_field_tag :submitted_task_id, current_tab.task.id %>
        <%= f.simple_fields_for :layout, (f.object.layout.nil?) ? f.object.build_layout : f.object.layout do | l | %>
          <ul>
          <%= l.collection_radio_buttons :layout_approved,
                     [['approved', 'Yes'],
                      ['approved_revisions', 'Yes, with revisions (please complete the following to provide revision requests). Click the "Plus" sign to add a new line for each revision.']],
                     :first, :last,
                     :item_wrapper_tag => 'li',
                     :item_wrapper_class => 'radio',
                     :checked => 'approved_revisions'
          %>
          </ul>
          <!-- need hidden input for list -->
          <%#= l.input_field :layout_approval_issue_list, as: :hidden %>
          <%= hidden_field_tag :layout_approval_issue_list,
            f.object.layout.layout_approval_issue_list.to_json,
            id: 'project_layout_attributes_layout_approval_issue_list' %>
        <% end %>
        <table id="approval_issue_list_table">
          <thead>
            <tr>
              <th class="issue_list_number">Page</th>
              <th class="issue_list_text">Problem</th>
              <th class="issue_list_text">Fix</th>
            </tr>
          </thead>
          <tbody>
           <% 20.times do | i | %>
            <tr>
              <td class="issue_list_number">
                <input id="page_<%= i %>" type="text" pattern="[0-9]*" class="form-control" name="page[<%= i%>]">
              </td>
              <td class="issue_list_text">
                <input id="problem_<%= i %>" type="text" class="form-control" name="problem[<%= i %>]">
              </td>
              <td class="issue_list_text">
                <input id="fix_<%= i %>" type="text" class="form-control" name="fix[<%= i %>]">
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

    </div>

    <!-- This is where we would break the page for step 3 -->
    <hr />
    <div class="layout_approval">
         <%= f.submit 'Save', class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
