<!-- Approve Final Cover -->
<div class="container">
  <h1>Approve Final Cover</h1>
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'approve_final_cover',
                                                 id: @project), html: { id: 'approve_final_cover' } do | f | %>
          <%= f.error_notification %>
          <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'approve_final_cover_submitted_task_id' %>

          <%= f.simple_fields_for :cover_template,
                                  (f.object.cover_template.nil?)? f.object.build_cover_template :
                                          f.object.cover_template do | cover_template | %>

              <label>Is Final Cover Approved? *</label>
              <%= cover_template.collection_radio_buttons :final_cover_approved,
                                             [[true, 'Yes'],
                                              [false, 'No']],
                                             :first, :last,
                                             :item_wrapper_tag => 'div',
                                             :item_wrapper_class => 'radio'

              %>

              <div id="final_cover_notes_box">
                <%= cover_template.input :final_cover_notes, as: :text,
                            label: 'Final Cover Notes',
                            input_html: { rows: 10, cols: 50, id: 'final_cover_notes', value:  '' }
                %>
              </div>

          <br/>
          <%= f.submit 'Submit' %>
        <% end %>
      <% end %>

      <br />
      <br />

      <div>
        <label>Explanatory screenshot (.png or .jpg)</label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
            id: "cover_template_final_cover_screenshot_s3_uploader",
            acl: 'private',
            callback_param: 'cover_template_final_cover_screenshot[direct_upload_url]',
            expiration: 24.hours.from_now.utc.iso8601,
            max_file_size: 100.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_final_cover_screenshot_uploads_container">
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div>
          <!-- gfield_description -->If a fix is needed, you may upload an explanatory screenshot here.
        </div>
      </div>

      <br />
      <br />

    </div>
  </div>
</div>
