<% if ! @project.control_number.nil? %>
    <h4>Control Numbers</h4>
    <ul>
      <li>
        eBook Library Price: <%= @project.control_number.ebook_library_price %>
      </li>

      <li>
        ASIN: <%= @project.control_number.asin %>
      </li>

      <li>
        Apple Id: <%= @project.control_number.apple_id %>
      </li>

      <li>
        epub ISBN: <%= @project.control_number.epub_isbn %>
      </li>

      <li>
        Hardback ISBN: <%= @project.control_number.hardback_isbn %>
      </li>

      <li>
        Paperback ISBN: <%= @project.control_number.paperback_isbn %>
      </li>

      <% if current_user.role?(:booktrope_staff) %>
          <li>
            Parse ID: <%= @project.control_number.parse_id %>
          </li>
      <% end %>
    </ul>
<% end %>

<h4>Published Files</h4>
<%= image_tag download_ebook_front_cover_path(@project), class: 'alignright', width: "340px" if @project.try(:cover_template).try(:ebook_front_cover?) %>

<strong>Cover:</strong>
<%= link_to "DOWNLOAD", download_ebook_front_cover_path(@project) if @project.try(:cover_template).try(:ebook_front_cover?)%><br/>

<%= render @project.published_file  unless @project.published_file.nil? %>
<%= render @project.final_manuscript unless @project.final_manuscript.nil? %>
<%= render @project.publication_fact_sheet unless @project.publication_fact_sheet.nil? %>
<%= render @project.cover_template unless @project.cover_template.nil? %>

<%= render @project.cover_concept unless @project.cover_concept.nil? %>

<h4>Page Count</h4>
Final Page Count: <%= (@project.layout.try(:final_page_count).nil?) ? 'N/A' : @project.layout.final_page_count %><br/>
Updated: <%= @project.try(:final_page_count).try(:updated_at).try(:strftime, "%Y-%m-%d") %><br/>

<%= render @project.layout unless @project.layout.nil? %>

<h4>Proofed Document</h4>
Has Sub-Chapters? No<br/>
Special Text Treatment: <br/>
Word Count: N/A<br/>
Previously Published?: No<br/>

<% if ! @project.try(:draft_blurb).nil? %>
    <h4>Latest Blurb</h4>
    <% if ! @project.try(:approve_blurb).try(:blurb_approval_date).nil? && @project.try(:approve_blurb).try(:blurb_approval_decision) == 'true' %>
        Approved: <b>Yes</b><br>
    <% else %>
        Approved: <b>No</b><br>
    <% end %>

    Blurb Text:<br>
    <pre style="width: 800px; height: 300px; overflow: auto;"><%= @project.try(:draft_blurb).try(:draft_blurb) %><br/></pre>

    <% if ! @project.try(:approve_blurb).try(:blurb_notes).nil? && @project.try(:approve_blurb).try(:blurb_approval_date).nil? %>
        Blurb Reviewer's Notes:<br>
        <pre style="width: 800px; height: 50px; overflow: auto;"><%= @project.try(:approve_blurb).try(:blurb_notes) %></pre>
    <% end %>

    Last Updated: <%= @project.try(:approve_blurb).try(:updated_at).try(:strftime, "%Y-%m-%d") %><br/>
<% end %>

<%= render @project.manuscript unless @project.manuscript.nil? %>

<%= render @project.media_kits unless @project.media_kits.nil? %>

<h4>Edit Complete Date</h4>
Edit Complete Date: <%= @project.edit_complete_date.try(:strftime, "%Y-%m-%d") %><br/>
