<h4>Published Files</h4>
<%= image_tag @project.cover_template.ebook_front_cover, class: 'alignright', width: "340px" if @project.try(:cover_template).try(:ebook_front_cover?) %>
<strong>Cover:</strong> 
<a href="https://teamtrope.com/wp-content/uploads/2013/07/A-Chorus-of-Wolves-Cover.jpg">DOWNLOAD</a><br/>

<%= render @project.published_file  unless @project.published_file.nil? %>

<h4>Final Files</h4><strong>Final PDF:</strong> N/A<br/>
<strong>Final Doc File:</strong> N/A<br/>

<%= render @project.publication_fact_sheet unless @project.publication_fact_sheet.nil? %>
<%= render @project.cover_template unless @project.cover_template.nil? %>

<h4>Stock Image Request</h4>
<img class="alignright" width="340px" src=""> Image Request: <br/>
<h4>Cover Concept Notes</h4> Cover Concept Notes: <br/>
<h4>Cover Concept</h4>N/A<br/>
<h4>Page Count</h4>
Final Page Count: N/A<br/>

<h4>Marketing Release Date</h4>
Marketing Release Date: N/A<br/>

<h4>Layout Options</h4> 
Layout Style: <br/>
Use Pen Name?: No<br/>
Use Pen Name for Copyright?: No<br/>

<h4>Proofed Document</h4>
Has Sub-Chapters? No<br/>
Special Text Treatment: <br/>
Word Count: N/A<br/>
Previously Published?: No<br/>

<h4>Manuscript</h4>
N/A<br/>

<h4>Edit Complete Date</h4>
Edit Complete Date: <%= @project.edit_complete_date.try(:strftime, "Y-m-d") %><br/>
        
<h4>Manuscript</h4>
N/A<br/>