
<!-- Bookbub Submission -->
<div class="container">
  <h1>Bookbub Submission</h1>
  <div class="row">
    <div class="col-md-6">

      <div>
        Please use this form to request inclusion in the Booktrope $.99 Bookbub Submissions. The title must meet the criteria below prior to filling out this form:
        <ul style="list-style-type: disc; margin: 0px 0px 0px 15px;">
          <li>20 or more reviews on Amazon</li>
          <li>4 star or better average on Amazon</li>
          <li>The title must not have been included in a Bookbub in the previous 6 months</li>
          <li>The author must not have been included in a Bookbub in the previous month</li>
          <li>The title must be 150 pages or more in Kindle length (click here for help in finding Kindle page length)</li>
          <li>The title cannot be a multi-author anthology</li>
        </ul>
      </div>

      <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'bookbub_submission',
                                                 id: @project), html: { id: 'bookbub_submission' } do | f | %>
          <%= f.simple_fields_for :bookbub_submissions, f.object.bookbub_submissions.build do | bs | %>

              <%= bs.input :submitted_by_id, as: :hidden, label: false, input_html: { value: @current_user.id } %>

              <label>Author Name<span class="required">*</span></label>
              <%= bs.input :author, label: false %>

              <label>Book Title<span class="required">*</span></label>
              <%= bs.input :title, label: false %>

              <label>ASIN<span class="required">*</span></label>
              <%= bs.input :asin, label: false %>

              <div class="form-group">
                <label>Enrollment Date<span class="required">*</span></label>
                <div>
                  <p>
                    What month would you like your BookBub submitted for?
                  </p>
                </div>
                <%= bs.input :enrollment_date, label: false,
                      as: :date,
                      start_year: Date.today.year,
                      end_year: Date.today.year + 1,
                      selected: Date.today + 1.month,
                      discard_day: true %>
              </div>

              <label>Current Price<span class="required">*</span></label>
              <%= bs.input :current_price, label: false %>

              <div class="form-group float">
                <label>Has this title had a Bookbub in the past 6 months?<span class="required">*</span></label><span>

                <br/>
                <%= radio_button_tag "bookbub_past_6_months", 'no', false %>
                <label for="bookbub_past_6_months_no">No</label>
                <br/>

                <%= radio_button_tag "bookbub_past_6_months", 'yes', false %>
                <label for="bookbub_past_6_months_yes">Yes</label>
                <br/>
                </span>
              </div>

              <div class="form-group float">
                <label>Has this author had a Bookbub feature in the past 30 days?<span class="required">*</span></label><span>
                <br/>
                <%= radio_button_tag "bookbub_feature_past_30_days", 'no', false %>
                <label for="bookbub_feature_past_30_days_no">No</label>
                <br/>

                <%= radio_button_tag "bookbub_feature_past_30_days", 'yes', false %>
                <label for="bookbub_feature_past_30_days_yes">Yes</label>
                <br/>
                </span>
              </div>

              <label>How many reviews on Amazon?<span class="required">*</span></label>
              <%= bs.input :num_reviews, label: false %>

              <label>Average star rating?<span class="required">*</span></label>
              <%= bs.input :num_stars, label: false %>

              <div>
                To Find Your Ebook Page Count :<br>
                <ul style="list-style-type: disc; margin: 0px 0px 0px 15px;">
                  <li>Go to your Amazon Author Central Page: <%= link_to 'https://authorcentral.amazon.com/', 'https://authorcentral.amazon.com/'%></li>
                  <li>Login with your email and password.</li>
                  <li>You will see a tab across the top that says “Books”.</li>
                  <li>Click this and then search the page for the title you are looking for. </li>
                  <li>Once you find it, click the title and this will take you to a new page. </li>
                  <li>Here is where you will find your “Book Details” This tab is located below your cover. You will be able to find out the Publisher, Date, Language, Length, and File Size. </li>
                  <li>Make sure that you have selected the Kindle Edition. You can select this on the right hand side of the page. The paperback will contain a different amount of pages from the kindle edition.</li>
                </ul>
              </div>

              <label>How many pages does the title have?<span class="required">*</span></label>
              <%= bs.input :num_pages, label: false %>

              <div id="bookbub_submit_does_not_qualify" style="display: none;">

              </div>

              <div id="bookbub_submission_button_box">
                <%= f.submit 'Submit Request', input_html: { id: 'bookbub_submit_button'} %>
              </div>

          <% end %>
      <% end %>
    </div>
  </div>
</div>
