
<!-- Control Numbers -->
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <h1>Control Numbers</h1>

            <%= simple_form_for @project,
                url: url_for(controller: 'projects', action: 'edit_control_numbers', id: @project),
                html: { id: 'control_numbers' } do | project | %>
                <%= project.error_notification %>
                <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'control_numbers_submitted_task_id' %>

                <!-- @todo: Replace CSS class names with whatever we're using for the theme -->

                <ul class='form_fields'>

                    <li class="field">
                        <label>Imprint&nbsp;<span class="required">*</span></label><br/>
                        <%= project.input :imprint_id, as: :radio_buttons,
                            collection: Imprint.all.map{ |imp| [imp.name, imp.id, {:id => 'control_numbers_imprint_' + imp.id.to_s }] },
                            wrapper: :vertical_radio_and_checkboxes,
                            label: false,
                            id: 'control_numbers_imprint_radio'
                        %>
                        <p class="input_description">IMPORTANT: If you have not discussed being part of a specific imprint with the imprint's Managing Director or Booktrope Management, please select "Booktrope Editions." </p>
                    </li>

                    <%= project.simple_fields_for :control_number, (project.object.control_number.nil?)? project.object.build_control_number :
                        project.object.control_number, html: {id: 'control_numbers_inputs'} do | control_number | %>

                        <li class='field'>
                            <%= control_number.input :ebook_library_price, label: 'eBook Library Price' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :asin, label: 'ASIN' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :bnid, label: 'Barnes & Noble ID' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :encore_asin, label: 'Encore ASIN' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :apple_id, label: 'Apple ID' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :epub_isbn, label: 'epub ISBN' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :hardback_isbn, label: 'Hardback ISBN' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :paperback_isbn, label: 'Paperback ISBN' %>
                        </li>

                        <li class='field'>
                            <%= control_number.input :parse_id, label: 'Parse ID' %>
                        </li>
                </ul>
                    <% end %>

                <%= project.submit 'submit' %>
            <% end %>
        </div>
    </div>
</div>