<h1>Control Numbers</h1>
<div>
  <%= simple_form_for @project.control_number.nil? ? @project.build_control_number : @project.control_number,
                      url: url_for(:controller => 'projects', :action => 'edit_control_numbers',
                      id: @project), method: :post do |f| %>
      <%= f.error_notification %>

      <!-- @todo: Replace CSS class names with whatever we're using for the theme -->
      <div class='form_body'>
        <ul class='form_fields'>
          <li class='field'>
            <%= f.input :imprint, priority: ['Booktrope'], collection: ['Booktrope', 'Vox Dei', 'Entice', 'Edge', 'Updrift', 'Uprush', 'Gravity', 'Forbidden'],
                        as: :radio_buttons,
                        label: 'Imprint'
            %>
          </li>

          <li class='field'>
            <%= f.input :ebook_library_price, label: 'eBook Library Price' %>
          </li>

          <li class='field'>
            <%= f.input :asin, label: 'ASIN' %>
          </li>

          <li class='field'>
            <%= f.input :apple_id, label: 'Apple Id' %>
          </li>

          <li class='field'>
            <%= f.input :epub_isbn, label: 'epub ISBN' %>
          </li>

          <li class='field'>
            <%= f.input :hardback_isbn, label: 'Hardback ISBN' %>
          </li>

          <li class='field'>
            <%= f.input :paperback_isbn, label: 'Paperback ISBN' %>
          </li>

          <li class='field'>
            <%= f.input :parse_id, label: 'Parse ID' %>
          </li>
        </ul>
      </div>
      <div>
        <%= f.submit 'submit' %>
      </div>
  <% end %>
</div>