<div class="container">
  <h1>eBook Only Incentive</h1>
  <% if @project.book_type.nil? || @project.book_type != "ebook_only" %>
  <div class="row">
    <div class="col-md-10">
      <div>The eBook Only Incentive is only available for eBook only projects.</div>
    </div>
  </div>
  <% elsif @project.ebook_only_incentive.nil? %>
  <div class="row">
    <div class="col-md-10">
      <p>
        To acknowledge the fact that ebook only published titles do not get
        complimentary author copies, we wanted to provide an incentive just for
        ebook only titles. Netgalley is a review site. Each ebook only title is
        eligible for a free month on Netgalley. You are also eligible for a
        month of Netgalley that is treated as a marketing expense. This free
        month will be fully funded by Booktrope. If you would like to take
        advantage of your free month, please fill out the following completely.
        Thank you.
      </p>
    </div>
  </div>

    <% if ! @project.try(:cover_template).try(:ebook_front_cover).nil? %>

  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for @project,
                          url: url_for(controller: 'projects', action: 'ebook_only_incentive', id: @project),
                          html: { id: 'ebook_only_incentive' } do | f | %>

        <%= f.simple_fields_for :ebook_only_incentive,
                ((f.object.ebook_only_incentive.nil?) ? f.object.build_ebook_only_incentive : f.object.ebook_only_incentive) do | ebook_only_incentive | %>

          <%= render partial: "shared/netgalley_fields",  locals: {
                                              builder: ebook_only_incentive,
                                              date_name: :ebook_only_incentive_publication_date,
                                              date_id: "ebook_only_incentive_publication_date" } %>

          <%= f.simple_fields_for :published_file, ((f.object.published_file.nil?) ? f.object.build_published_file : f.object.published_file) do |published_file| %>
          <% end %>

          <%= f.submit "Submit", id: 'ebook_published_file_submit_button' , style: 'display: none;' %>
        <% end %>
      <% end %>
      <%= render partial: "shared/netgalley_epub_upload", locals: {
                                                    prefix: 'ebook',
                                                    upload_div_id: 'uploaded_ebook_only_incentive_epub',
                                                    fake_button_id: 'ebook_only_incentive' } %>
    </div>
  </div>
  <script>
      $(function() {
          // This attaches the datepicker to a "fake" input field with the MM/DD/YYYY format that users
          // are familiar with, but updates a real hidden input field with the date format yyyy-mm-dd
          // format that Rails wants.
          $('#ebook_only_incentive_publication_date').datepicker({
              altField: '#promotion_start_date',
              altFormat: 'yy-mm-dd',
          });

          $('#ebook_only_incentive_publication_date').blur(function() {
              setEbookOnlyIncentivePublicationDate();
              $('#ebook_only_incentive').validate();
          });

          $(document).on('ready page:load', function () {
            actualDate = $('input[name=project\\[ebook_only_incentive_attributes\\]\\[publication_date\\]]').val();
            dateParts = actualDate.split('-');
            displayDate = dateParts[1] + '/' + dateParts[2] + '/' + dateParts[0];
            $('input[name=ebook_only_incentive_publication_date]').val(displayDate);
          });

      });

      $('#ebook_only_incentive').submit(function() {
          // set the actual value
          setEbookOnlyIncentivePublicationDate();
      });
      function setEbookOnlyIncentivePublicationDate()
      {
        if($('input[name=ebook_only_incentive_publication_date]').val() != '')
        {
          displayDate = $('input[name=ebook_only_incentive_publication_date]').val()

          dateParts = displayDate.split('/');
          $('input[name=project\\[ebook_only_incentive_attributes\\]\\[publication_date\\]]').val(dateParts[2] + '-' + dateParts[0] + '-' + dateParts[1]);

        }
        return false;

      }
  </script>
    <% else %>
      <div class="alert alert-danger" role="alert">Sorry, this title must first have a final cover template before it can be submitted to Netgalley.</div>
    <% end %>
  <% else %>
  <div class="row">
    <div class="col-md-10">
      <div>This title has already been enrolled into the eBook Only Incentive Program.</div>
    </div>
  </div>
  <% end %>
</div>
