<h1>Submit Edited Manuscript</h1>
<%= simple_form_for @project, url: url_for(controller: "projects", action: "edited_manuscript", id: @project) do | f | %>

	Once the editing process is complete, Author must upload your final manuscript for proofreading here.  You are only allowed to submit once, so please ensure editing is final! (.doc or .docx only) 
		
	Please note the special formatting requirements required for uploading in step 2.2.
		
	<%= f.input :manuscript_edited, as: :file, label: "Final Manuscript", 
				label_html: { class: "gfield_label" }, hint: ".doc or .docx file only",
				required: true  %>

	<label >Do any of the following apply to your book?</label>

	<%= f.input :childrens_book, as: :boolean, label: "Children's book" %>
	<%= f.input :color_interior, as: :boolean, label: "Full color interior" %>
	<%= f.input :has_index, as: :boolean, label: "My book has an index" %>
	<%= f.input :has_internal_illustrations, as: :boolean, label: "My book has illustrations or images inserted throughout" %>

	<%= f.submit "submit" %>
<% end %>
<% 
	#TODO: investigate checkbox collection 
	#book_contains = [{:label => 'Children\'s Book'}, {:label => 'Full color interior'}, {:label=> 'My book has an index'} ] 
%>