<!-- Original Manuscript -->
<div class='container'>
  <h1>Submit Edited Manuscript</h1>

  <div class='row'>
    <div class='col-md-6'>

      Once the editing process is complete, Author must upload your final manuscript for proofreading here. You are only
      allowed to submit once, so please ensure editing is final! (.doc or .docx only)<br><br>

      Please note the special formatting requirements required for uploading in step 2.2.

      <%= render partial: "manuscripts/edited_manuscript" %>
      <br>

      <br>
      <%= simple_form_for @project,
                          url: url_for(controller: 'projects', action: 'edited_manuscript', id: @project),
                          html: { id: 'submit_edited_manuscript' } do |f| %>

          <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'edited_manuscript_submitted_task_id' %>
          <label>Do any of the following apply to your book?</label>
          <ul>
            <li><%= f.input :childrens_book, as: :boolean, label: "Children's book" %></li>
            <li><%= f.input :color_interior, as: :boolean, label: 'Full color interior' %></li>
            <li><%= f.input :has_index, as: :boolean, label: 'My book has an index' %></li>
            <li><%= f.input :has_internal_illustrations, as: :boolean, label: 'My book has illustrations or images inserted throughout' %></li>
          </ul>


          <%= f.submit 'Submit', disabled: '', class: 'btn disabled', id: 'edited_manuscript_submit_button' %>
      <% end %>
      <%
         #TODO: investigate checkbox collection
         #book_contains = [{:label => 'Children\'s Book'}, {:label => 'Full color interior'}, {:label=> 'My book has an index'} ]
      %>
    </div>
  </div>
</div>
