<!-- Original Manuscript -->
<div class='container'>
  <h1>Submit Edited Manuscript</h1>

  <div class='row'>
    <div class='col-md-6'>

      Once the editing process is complete, Author must upload your final manuscript for proofreading here. You are only
      allowed to submit once, so please ensure editing is final! (.doc or .docx only)<br><br>

      Please note the special formatting requirements required for uploading in step 2.2.

      <div>
        <label>Final Manuscript <span class='required'>*</span></label>
        <%= s3_uploader_form callback_url: project_manuscript_url(@project),
                             id: 'edited_manuscript_s3_uploader',
                             acl: 'private',
                             callback_param: 'edited_manuscript[direct_upload_url]',
                             expiration: 24.hours.from_now.utc.iso8601,
                             max_file_size: 100.megabytes do %>
            <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id='edited_manuscript_uploads_container'></div>
        <script id='template-upload' type='text/x-tmpl'>
                  <div id='upload_{%=o.unique_id%}' class='upload'>
                    <h5>{%=o.name%}</h5>
                    <div class='progress progress-striped active'><div class='bar' style='width: 0%'></div></div>
                  </div>

        </script>
        <span>.doc & .docx files only!</span>
      </div>
      <br>
      <%= simple_form_for @project,
                          url: url_for(controller: 'projects', action: 'edited_manuscript', id: @project),
                          html: { id: 'submit_edited_manuscript' } do |f| %>

          <%= hidden_field_tag :submitted_task_id, current_tab.task.id %>
          <label>Do any of the following apply to your book?</label>
          <ul>
            <li><%= f.input :childrens_book, as: :boolean, label: "Children's book" %></li>
            <li><%= f.input :color_interior, as: :boolean, label: 'Full color interior' %></li>
            <li><%= f.input :has_index, as: :boolean, label: 'My book has an index' %></li>
            <li><%= f.input :has_internal_illustrations, as: :boolean, label: 'My book has illustrations or images inserted throughout' %></li>
          </ul>


          <%= f.submit 'Submit', disabled: '', class: 'btn disabled', id: 'edited_manuscript_submit_button' %>
      <% end %>
      <%
         #TODO: investigate checkbox collection
         #book_contains = [{:label => 'Children\'s Book'}, {:label => 'Full color interior'}, {:label=> 'My book has an index'} ]
      %>
    </div>
  </div>
</div>
