<!-- Final Manuscript -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Final Manuscript</h1>
        <span>Booktrope Staff Only</span>

        <br>

        <%= render partial: "final_manuscripts/final_manuscript_pdf" %>
        <br>

        <%= render partial: "final_manuscripts/final_manuscript_doc" %>
        <br>

        <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'final_manuscript', id: @project),
            html: {id: "final_manuscript"} do | f |
        %>
            <%= f.error_notification %>
            <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'final_manuscript_submitted_task_id' %>

          <%= f.submit "Submit", disabled: '', class: 'btn disabled', id: 'final_manuscript_submit_button' %>
        <% end %>

      </div>
    </div>
</div>
