<h1>Final Manuscript</h1>
<div class="gf_browser_safari gform_wrapper">
	<%= simple_form_for @project,
				url: url_for(controller: 'projects', action: 'final_manuscript', id: @project),
				html: {id: "final_manuscript"} do | f | 
				%>
        <%= f.error_notification %>
        <%= hidden_field_tag :submitted_task_id, current_tab.task.id %>				
		<div>
			<span>Booktrope Staff Only</span>
		</div>
		<div><!--gform_body-->
			<ul>
				<%= f.simple_fields_for :final_manuscript, 
							((f.object.final_manuscript.nil?)? 
									f.object.build_final_manuscript : 
									f.object.final_manuscript) do | final_manuscript | %>
				<li>
					<div>
						<%= final_manuscript.input :pdf,
									label: 'Final PDF' ,
									as: :file, required: true %>
					</div>
				</li>
				
				<li>
					<div>
						<%= final_manuscript.input :doc, 
									label: 'Final Word Doc',
									as: :file, required: true %>
					</div>
				</li>
				<% end %>
			</ul>
			<%= f.submit "Submit" %>
		</div>
	<% end %>
</div>