<h1>1099 Form Info</h1>
<%= simple_form_for @project, 
		url: url_for(controller: 'projects', action: 'submit_form_1099', id: @project),
		html: { id: 'form_1099' } do | f | %>

	<%= f.error_notification %>
	<%= hidden_field_tag :submitted_task_id, current_tab.task.id %>

	<div>
		<p>Please provide us with the following information so that we can properly credit your earnings. You only need to submit this form once - if you have already done so for another book or project, please do not resubmit.</p>
	</div>
	<div>
		<ul>
	
			<li>
				<div>
					<label>Is this the first time you are submitting the form, or is this a change in information?<span class="">*</span></label>
				</div>
				<ul>
				<%
					[[true, "First time I'm submitting the form"],
					[false, "I've already submittted a form in the past. This is an update to my information."]].each do | radio_item | 
				%>
					<li class="required"><label><%= radio_button_tag 'form_1099[first_time]', radio_item.first %> <%= radio_item.last %></label></li>
				<% end %>
				</ul>
			</li>
	
			<!-- End Page 1 -->
			<li>
				<h2>Personal Information</h2>
			</li>
	
			<li class="required">
				<%= label_tag 'Name', nil, class: 'required' %><br />
				<%= text_field_tag 'form_1099[first_name]', nil, class: 'required' %><br />
				First<br />
				<%= text_field_tag 'form_1099[last_name]', nil, class: 'required' %><br />
				Last
			</li>
	
			<li class="required">
				<%= label_tag "Middle Initial" %><br />
				<%= text_field_tag 'form_1099[middle_initial]' %><br />
			</li>
	
			<li class="required">
				<%= label_tag 'Phone', nil, class: 'required' %><br />
				<%= text_field_tag 'form_1099[phone]', nil, class: 'required' %><br />
			</li>
	
			<li class="required">
				<%= label_tag 'Email', nil, class: 'required' %><br />
				<%= text_field_tag 'form_1099[email]', nil, class: 'required' %><br />
			</li>
	
			<li class="required">
				<div>
					<label>Are you a US citizen or permanent resident?<span class="required">*</span></label>
				</div>
				<ul>
				<%
					[[true, "Yes"],[false, "No"]].each do | radio_item |
				%>
					<li><label><%= radio_button_tag 'form_1099[us_citizen_or_resident]', radio_item.first %><%= radio_item.last %></label></li>
				<% end %>
				</ul>
			</li>

			<!-- End Page 2 -->
	
			<li>
				<h2>Location Information</h2>
			</li>
			
			<!-- TODO: align this to be more like a contact form -->
			<li class="required">
				<%= label_tag 'Address', nil, class: 'required' %><br />
				<%= text_field_tag 'form_1099[address]', nil, class: 'required' %><br />
				Street Address<br />
	
				<%= text_field_tag 'form_1099[address_2]', nil %><br />
				Address Line 2<br />
	
				<%= text_field_tag 'form_1099[city]', nil, class: 'required' %><br />
				City<br />
	
				<%= text_field_tag 'form_1099[state]', nil, class: 'required' %><br />
				State/Province/Region<br />
	
				<%= text_field_tag 'form_1099[zip]', nil, class: 'required' %><br />
				ZIP/Postal Code<br />
	
				<%= text_field_tag 'form_1099[country]', nil, class: 'required' %><br />
				Country<br />
			</li>
	
			<!-- End Page 3 -->
	
			<li>
				<h2>Tax Information</h2>
				<div>Please fill out only one. Either SSN or Business name and EIN.</div>
			</li>
	
			<li class="required">
				<ul>
				<% [['ssn', 'SSN (Social Security Number'],['eid', 'EIN (Business Tax ID)']].each do | radio_button | %>
					<li><label><%= radio_button_tag 'form_1099[tax_id]', radio_button.first %> <%= radio_button.last %></label></li>
				<% end %>
				</ul>
				<div>Required only for US citizens and permanent residents. If you are located outside of the US, you will be paid via Paypal. Please provide your Paypal account email address below.</div><br />
			</li>
	
			<li id="social_security_number_wrapper" class="required" style="display: none; ">
				<%= label_tag 'social_security_number','Social Security Number', class: 'required' %><br />
				<%= text_field_tag 'form_1099[social_security_number]', nil, class: 'required' %>
			</li>
	
			<li id="business_tax_id_wrapper" class="required" style="display: none;">
				<%= label_tag 'business_tax_id', 'Tax ID', class: 'required' %><br />
				<%= text_field_tag 'form_1099[business_tax_id]', nil, class: 'required' %><br />
		
				<%= label_tag 'business_name', 'Business Name', class: 'required' %><br />
				<%= text_field_tag 'form_1099[business_name]', nil, class: 'required' %>
			</li>
	
			<li>
				<h2>Banking Information</h2>
			</li>
	
			<li class="required">
				<%= label_tag 'bank_name', 'Name of Bank', class: 'required' %><br />
				<%= text_field_tag 'form_1099[bank_name]', nil, class: 'required' %>
			</li>
	
			<li class="required">
				<%= label_tag 'account_type', 'Type of Account', class: 'required' %><br />
				<ul>
				<% [['checking', 'Checking'],['savings', 'Savings']].each do | radio_item | %>
					<li><label><%= radio_button_tag 'form_1099[account_type]', radio_item.first %><%= radio_item.last %></label></li>
				<% end %>
				</ul>
			</li>
	
			<li class="required">
				<%= label_tag 'routing_number', 'Routing Number', class: 'required' %><br />
				<%= text_field_tag 'form_1099[routing_number]', nil, class: 'required' %>
			</li>
	
			<li class="required">
				<%= label_tag 'account_number', 'Account Number', class: 'required' %><br />
				<%= text_field_tag 'form_1099[account_number]', nil, class: 'required' %>
			</li>	
		</ul>
	</div>
	
	<div>
		<%= f.submit "Submit" %>
	</div>
 <% end %>