<div class="container">
<h1>Media Kit</h1>
  <div class="row">
    <div class="col-md-6">


      <br>
      <%= render partial: "media_kit/media_kit_document" %>

        <%= simple_form_for @project,
          url: url_for(controller: 'projects', action: 'media_kit',  id: @project),
          html: { id: 'media_kit' } do | f | %>
            <%= f.error_notification %>
            <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'media_kit_submitted_task_id' %>
            <%= f.simple_fields_for :media_kit, ((f.object.media_kit.nil?)? f.object.build_media_kit : f.object.media_kit)  do | media_kit | %>
            <% end %>

            <%= f.submit "submit", disabled: '', class: 'btn disabled', id: 'media_kit_submit_button' %>
        <% end %>
    </div>
  </div>
</div>
