<div class="container">
  <h1>Netgalley Submission</h1>

  <% if @project.netgalley_submission.nil? %>
  <div class="row">
    <div class="col-md-10">
      <p>
        Please use this form if you are interested in having your title submitted
        to Netgalley which is a review service. The cost for a month on Netgalley
        is $40 and will be treated as a normal marketing expense. These spots are
        available on a first come first serve basis. You will need to have the
        Epub file available when you submit the title.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <%= simple_form_for @project,
                            url: url_for(controller: 'projects', action: 'new_netgalley_submission', id: @project),
                            html: { id: 'netgalley_submission' } do | f | %>

          <%= f.simple_fields_for :netgalley_submission,
                  ((f.object.netgalley_submission.nil?) ? f.object.build_netgalley_submission : f.object.netgalley_submission) do | netgalley_submission | %>

            <%= render partial: "shared/netgalley_fields",  locals: {
                                          builder: netgalley_submission,
                                          date_name: :netgalley_submission_publication_date,
                                          date_id: "netgalley_submission_publication_date" } %>

            <%= f.submit "Submit", id: 'netgalley_published_file_submit_button' ,style: 'display: none;' %>
          <% end %>
        <% end %>
        <%= render partial: "shared/netgalley_epub_upload", locals: {
                                                    prefix: 'netgalley',
                                                    upload_div_id: 'uploaded_netgalley_epub',
                                                    fake_button_id: 'netgalley_submission' } %>

    </div>
  </div>
  <script>
      $(function() {
          // This attaches the datepicker to a "fake" input field with the MM/DD/YYYY format that users
          // are familiar with, but updates a real hidden input field with the date format yyyy-mm-dd
          // format that Rails wants.
          $('#netgalley_submission_publication_date').datepicker({
              altField: '#promotion_start_date',
              altFormat: 'yy-mm-dd',
          });

          $('#netgalley_submission_publication_date').blur(function() {
              setNetgalleySubmissionPublicationDate();
              $('#netgalley_submission').validate();
          });

          $(document).on('ready page:load', function () {
            actualDate = $('input[name=project\\[netgalley_submission_attributes\\]\\[publication_date\\]]').val();
            dateParts = actualDate.split('-');
            displayDate = dateParts[1] + '/' + dateParts[2] + '/' + dateParts[0];
            $('input[name=netgalley_submission_publication_date]').val(displayDate);
          });

      });

      $('#netgalley_submission').submit(function() {
          // set the actual value
          setNetgalleySubmissionPublicationDate();
      });
      function setNetgalleySubmissionPublicationDate()
      {
        if($('input[name=netgalley_submission_publication_date]').val() != '')
        {
          displayDate = $('input[name=netgalley_submission_publication_date]').val()

          dateParts = displayDate.split('/');
          $('input[name=project\\[netgalley_submission_attributes\\]\\[publication_date\\]]').val(dateParts[2] + '-' + dateParts[0] + '-' + dateParts[1]);

        }
        return false;

      }
  </script>
  <% else %>
  <div>
    Your title has already been submitted for Netgalley.
  </div>
  <% end %>
</div>



