<!-- Original Manuscript -->
<div class="container">
  <h1>Original Manuscript</h1>
  <div class="row">
    <div class="col-md-10">

        Upload the Original Manuscript to unlock additional steps.

        <br>
        <%= render partial: "manuscripts/original_manuscript" %>
        <br>

        <%= simple_form_for @project,
                        url: url_for(controller: 'projects', action: 'original_manuscript', id: @project),
                        html: { id: 'original_manuscript' } do | f | %>
            <%= f.error_notification %>
          <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'original_manuscript_submitted_task_id' %>
          <br>
          <%= f.submit "Submit", disabled: '', class: 'btn disabled', id: 'original_submit_button' %>
        <% end %>
    </div>
  </div>
</div>
