<h1>Final Page Count</h1>
<div>

    <%= simple_form_for @project, url: url_for(:controller => 'projects', :action => 'update_final_page_count', id: @project.id) do |f| %>
        <%= f.error_notification %>
        <%= hidden_field_tag :submitted_task_id, current_tab.task.id %>

        <p>For Booktrope Production Team use Only. This is where the Booktrope Production Team indicates the final page count.</p>

        <%= f.input :final_page_count, label: 'Page Count *' %>

        <%= f.submit %>
    <% end %>
</div>