
<!-- Paperback Order -->
<div class="container">
  <h1>Paperback Order</h1>
  <div class="row">
    <div class="col-md-8">

      <!-- Disclosure -->
      <div>
        <ol>
          <li>US Authors Only- Paperback copies can be ordered by the author directly from the book’s CreateSpace e-store. Authors will be provided with a link to their book's unique e-store and a coupon code to use until May 31, 2016. This coupon code will enable authors to receive a 55% discount on each order (plus shipping and any applicable tax). The creative team (including the author) will receive royalties on these orders.</li>
          <li>Creative Team Member Copies, US Only – Creative team members will also have access to the book’s CreateSpace e-store and coupon code and can purchase books at a 55% discount until May 31, 2016.</li>
          <li>There is no longer an option to purchase books from Lightning Source for author copies. If you wish to have copies from LS, you will need to purchase copies through Barnes and Noble prior to May 31, 2016. Unfortunately, this will not include the 55% discount available via CreateSpace.</li>
          <li>International Authors will order all paperbacks by messaging @adam in your teamroom. Any request will be discounted 55% off list price (plus shipping and any applicable tax). International Authors will continue to be invoiced by Booktrope via Paypal until May 31, 2016. The invoice will need to be paid prior to shipment.</li>
          <li>If the e-store info below is blank and you need to order books, please contact <%= link_to '@adam', 'https://teamtrope.com/members/adam/' %> in the <%= link_to "Teamroom", @project.teamroom_link %> </li>
        </ol>
      </div>

      <%
         has_first_order = true
         first_order_intl = has_first_order && @project.print_corners.first.try(:shipping_address_country) != 'United States'

         # Determine if user is the author
         current_user_is_author = false
         @project.authors.each{ |a| current_user_is_author = true if (a.member.id == @current_user.id) }

        # Testing Overrides here
        # has_first_order = false
        # first_order_intl = false
        # current_user_is_author = true
      %>

      <!-- See if they've submitted before -->
      <!-- If they're not international, direct them to CreateSpace, show a coupon code -->
      <% if has_first_order && ! first_order_intl || ! current_user_is_author %>

          <!-- If we have the eBook Store Info -->
          <% if ! @project.createspace_store_url.nil? %>
              <h3>e-Store Info</h3>
              <b>CreateSpace Store URL</b>: <%= link_to @project.createspace_store_url, @project.createspace_store_url %><br/>
              <b>CreateSpace Discount Code</b>: <%= @project.createspace_coupon_code %><br/>
          <% else %>
            <!-- If we're the author and the eBook Store info isn't there, contact Adam -->
            <% if current_user_is_author %>
              <p><b>It looks like your store hasn't been set up yet.  If you'd like, you can send a request to have your store
              set up by clicking the button below.</b></p>

              <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'print_corner_estore_request', id: @project) do | f | %>
                <%= f.submit 'Request an e-Store' %>
              <% end %>

            <% else %>
              <!-- Notice for everyone else -->
              <p><b>Paperback orders are currently unavailable.  Please have the author of this book come to this task
                and submit a request to have the Createspace e-store set up.</b></p>

            <% end %>
          <% end %>
      <% else %>
        <p>Complimentary books for newly published titles are not being fulfilled at this time.</p>
      <% end %>

    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      var validator = $('#add_print_request_form').validate({
          rules: {

            <% if first_order_intl %>
              // Required for International Orders
              'project[print_corners_attributes][0][billing_acceptance]': {
                  required: true
              },
            <% end %>
              'project[print_corners_attributes][0][shipping_recipient]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_street_1]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_city]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_state]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_zip]': {
                  required: true
              },
              'project[print_corners_attributes][0][contact_phone]': {
                  required: true
              }
          },
          messages: {
              'project[print_corners_attributes][0][billing_acceptance]':
                      'You must accept the billing terms to proceed',
              'project[print_corners_attributes][0][shipping_recipient]':
                      'Please enter a recipient name for this shipment',
              'project[print_corners_attributes][0][shipping_address_street_1]':
                      'Please enter a shipping address',
              'project[print_corners_attributes][0][shipping_address_city]':
                      'Please enter a city',
              'project[print_corners_attributes][0][shipping_address_state]':
                      'Please enter a state',
              'project[print_corners_attributes][0][shipping_address_zip]':
                      'Please enter a zip code',
              'project[print_corners_attributes][0][contact_phone]':
                      'Please enter a contact phone number'
          }
      });

  });

</script>
