
<!-- Print Corner -->
<div class="container">
  <h1>Print Corner</h1>
  <div class="row">
    <div class="col-md-8">

      <!-- Disclosure -->
      <div>
        <ol>
          <li>All Authors US and International will be provided with 15 complimentary copies of each newly published book
            by placing your order via Print Corner (we recommend 10 for author use, 5 for marketing use, if so desired.</li>
          <li>US Authors Only- Additional copies can be ordered by the author directly from the book’s Createspace e-store.
            Authors will be provided with a link to their book's unique e-store and a coupon code to use every time they
            place an order. This coupon code will enable authors to receive a 55% discount on each order (plus shipping
            and any applicable tax). The creative team (including the author) will receive royalties on these orders.</li>
          <li>Many of you want your creative team to earn royalties on author copies. For this to be possible, we can
            no longer offer copies at cost. However we have increased the discount to 55% off list price so they remain
            attractive to authors for events and so your creative team will be compensated.</li>
          <li>Paperback marketing copies will no longer be sent directly from Booktrope – authors and book managers will
            be responsible for coordinating with each other and sending these copies (to reviewers, contest winners,
            etc.) Marketing copies in the past were treated as a marketing expense. They have now been included with
            the author copies and are no longer charged to the team yeah.</li>
          <li>Creative Team Member Copies, US Only – Creative team members will also have access to the book’s
            Createspace e-store and coupon code and can purchase books at a 55% discount.</li>
          <li>There is no longer an option to purchase books from Lightning Source for author copies. If you wish to
            have copies from LS, you will need to purchase copies through Barnes and Noble. Unfortunately, this will
            not include the 55% discount available via Createspace.</li>
          <li>International Authors will still place your initial and all subsequent orders via the Print tab in the
            book's Project. Any request beyond the initial 15 orders will be discounted 55% off list price (plus shipping
            and any applicable tax).  International Authors will continue to be invoiced by Booktrope via Paypal.</li>
          <li>US and International Authors- Paperback orders will no longer be treated as an advance against royalties.</li>
        </ol>
      </div>

      <%
         has_first_order = ! @project.print_corners.first.nil?
         first_order_intl = has_first_order && @project.print_corners.first.try(:shipping_address_country) != 'United States'

         # Determine if user is the author
         current_user_is_author = false
         @project.authors.each{ |a| current_user_is_author = true if (a.member.id == @current_user.id) }

        # Testing Overrides here
        # has_first_order = false
        # first_order_intl = false
        # current_user_is_author = true
      %>

      <!-- See if they've submitted before -->
      <!-- If they're not international, direct them to CreateSpace, show a coupon code -->
      <% if has_first_order && ! first_order_intl || ! current_user_is_author %>

          <!-- If we have the eBook Store Info -->
          <% if ! @project.createspace_store_url.nil? %>
              <h3>e-Store Info</h3>
              <b>CreateSpace Store URL</b>: <%= link_to @project.createspace_store_url, @project.createspace_store_url %><br/>
              <b>CreateSpace Discount Code</b>: <%= @project.createspace_coupon_code %><br/>
          <% else %>
            <!-- If we're the author and the eBook Store info isn't there, contact Adam -->
            <% if current_user_is_author %>
              <p><b>It looks like your store hasn't been set up yet.  If you'd like, you can send a request to have your store
              set up by clicking the button below.</b></p>

              <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'print_corner_estore_request', id: @project) do | f | %>
                <%= f.submit 'Request an e-Store' %>
              <% end %>

            <% else %>
              <!-- Notice for everyone else -->
              <p><b>Sorry, the e-Store has not been set up yet.  Please check back later!</b></p>

            <% end %>
          <% end %>
      <% else %>
        <p>
          In order to process your complimentary order of 15 books and to set up your Createspace e-store and discount
          code, follow the steps below.
        </p>
        <p>
          Once you’ve completed the form, your 15 complimentary copies will be sent to you and your Createspace
          e-store/coupon code will be set up. To order additional copies, you will need to place your order via the
          Createspace e-store. You will be provided with the link to your e-store and your coupon code once it’s been
          set up. The same link and coupon code can be used for all orders moving forward.
        </p>
        <p>
          If you have any questions, please feel free to submit a help ticket via the “Booktrope Assistance” link on the
          right-hand side of the page.
        </p>


        <!-- New Submissions here -->
          <%= simple_form_for @project,
                              url: url_for(controller: 'projects', action: 'print_corner_request', id: @project),
                              html: { id: 'add_print_request_form' } do | f | %>
              <%= f.error_notification %>
              <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'print_corner_submitted_task_id' %>

              <%= f.simple_fields_for :print_corners, f.object.print_corners.build do | pc | %>
                  <%= pc.input :user_id, as: :hidden, input_html: { value: @current_user.try(:id) }  %>

                  <div>
                    <p>Please wait until your book's Publication Fact Sheet has been submitted before placing your order.</p>
                  </div>

                  <div>
                    <ul>
                      <li id="pc_billing_acceptance" style="display: block;">
                        <label>Billing Acceptance<span class="required">*</span></label>
                        <div>
                          <ul>
                            <li>
                              <%= pc.input :billing_acceptance, as: :boolean, label: "By checking the box, I am stating I agree to the terms below." %>
                            </li>
                          </ul>
                        </div>
                        <div><p>I understand I will be billed via Paypal per the terms specified in the Print Books found here:
                          <a href="https://teamtrope.com/docs/booktrope-policy-author-copies/" target="_top">https://teamtrope.com/docs/booktrope-policy-author-copies/</a></p>
                          <p>Payment is due immediately upon receipt of the bill.  Failure to pay this bill in a timely manner
                            will result in suspension of my ability to order print copies directly from Booktrope in the future.</p>
                        </div>
                      </li>

                      <!-- Make hidden?  Or hard-code?  -->
                      <%= pc.input :quantity, as: :hidden, input_html: { value: 15 }, label:false %>

                      <li id="pc_ship_to_name">
                        <label>Ship To Name<span class="required">*</span></label>
                        <div>
                          <%= pc.input :shipping_recipient, label: false %>
                        </div>
                      </li>

                      <li id="pc_shipping_address" style="display: block;">
                        <!-- Author / Creative -->
                        <h4>Shipping Address<span class="required">*</span></h4>
                        <!-- Marketing -->
                        <label style="display: none;">Shipping Address for Marketing Copies<span class="required">*</span></label>

                        <div>
                          <div>
                            <label>Street Address</label>
                            <%= pc.input :shipping_address_street_1, label: false %>
                          </div>

                          <div>
                            <label>Address Line 2</label>
                            <%= pc.input :shipping_address_street_2, label: false %>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <label>City</label>
                              <%= pc.input :shipping_address_city, label: false, input_html: { id: 'pc_shipping_city' } %>
                            </div>
                            <div class="col-md-6">
                              <div id="pc_shipping_state">
                                <label>State / Province / Region</label>
                                <%= pc.input :shipping_address_state, label: false %>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <label>ZIP / Postal Code</label>
                              <%= pc.input :shipping_address_zip, label: false %>
                            </div>
                            <div class="col-md-6">
                              <div id="pc_country_list">
                                <!-- Country Selection // Author / Creative only -->
                                <label>Country</label>
                                <%= pc.input :shipping_address_country, label: false,
                                             collection: countries_list,
                                             label_method: :last, value_method: :first,
                                             :selected => 'United States',
                                             include_blank: false,
                                             required: false
                                %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li id="pc_contact_phone">
                        <label>Phone<span class="required">*</span></label>
                        <div class="row">
                          <div class="col-sm-3">
                            <div class="input-group">
                              <%= pc.input :contact_phone, label: false, input_html: { class: 'form-control' } %>
                            </div>
                          </div>
                        </div>

                        <div>Our print partners require a phone number so the delivery carrier can call if there are any special instructions.</div>
                      </li>

                    </ul>
                  </div>
              <% end %>
              <div>
                <br>
                <%= f.submit "Submit" %>
              </div>

          <% end %>
        <!-- End New Submission -->
      <% end %>

    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      var validator = $('#add_print_request_form').validate({
          rules: {

              // Required for Author Copy or Creative
              'project[print_corners_attributes][0][billing_acceptance]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_recipient]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_street_1]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_city]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_state]': {
                  required: true
              },
              'project[print_corners_attributes][0][shipping_address_zip]': {
                  required: true
              },
              'project[print_corners_attributes][0][contact_phone]': {
                  required: true
              }
          },
          messages: {
              'project[print_corners_attributes][0][billing_acceptance]':
                      'You must accept the billing terms to proceed',
              'project[print_corners_attributes][0][shipping_recipient]':
                      'Please enter a recipient name for this shipment',
              'project[print_corners_attributes][0][shipping_address_street_1]':
                      'Please enter a shipping address',
              'project[print_corners_attributes][0][shipping_address_city]':
                      'Please enter a city',
              'project[print_corners_attributes][0][shipping_address_state]':
                      'Please enter a state',
              'project[print_corners_attributes][0][shipping_address_zip]':
                      'Please enter a zip code',
              'project[print_corners_attributes][0][contact_phone]':
                      'Please enter a contact phone number'
          }
      });

  });

</script>
