<h1>Project Interest Sign-up</h1>

	<%= simple_form_for @project do | f | %>
	<span>Booktrope Management, I'm interested in working on this project! Please review my qualifications and pass my name on to the other team members for consideration.</span><br /><br />
	

		<%= hidden_field_tag(:submitted_from_action, action_name) %>
		<%= f.error_notification %>
	
		<%= f.input :id, as: :hidden, value: @project.id %>
						
		<%= f.label :member_id, "Desired Role" %>
		<%= select_tag :member_id, options_from_collection_for_select(Role.where.not(id: @project.roles.ids), "id", "name") %><br /><br />
		
		<%= f.label :self_pr, "Here's why I'll be great for this gig"%>
		<%= text_area :self_pr, :text, size: "50x10" %><br /><br />

  
  	<%= f.submit "submit" %>

	<% end %>
