<h1>Paperback Orders & Other Production Costs</h1>
<div class="gf_browser_safari gform_wrapper">



  <%= simple_form_for @project, url: url_for(controller: 'projects', action: 'production_expense', id: @project),
        html: { id: "production_expense" } do | f | %>
    <div><!-- gform_heading -->
      <span><!-- gform_description -->For Booktrope team members to record cost of paperback orders for accounting purposes</span>
    </div>
    <div><!-- gform_body -->
      <ul>
      <%= f.simple_fields_for :production_expenses, f.object.production_expenses.build do | production_expense | %>
        <li>
          <%= production_expense.input :total_quantity_ordered,
                label: "Total Quantity Ordered",
                input_html: { class: 'complimentary', id: 'total_quantity_ordered' } %>
        </li>
        <li>
          <%= production_expense.input :total_cost,
                label: "Total cost of order (per LSI, BN or vendor)",
                input_html: {class: 'complimentary', id: 'total_cost'} %>
        </li>
        <li>
          <%= production_expense.input :complimentary_quantity,
                label: "Quantity treated as complimentary",
                input_html: {class: 'complimentary', id: 'complimentary_quantity'} %>
          <div class="instruction ">Please enter a value less than or equal to <strong>10</strong>.</div>
        </li>
        <li>
          <%= production_expense.input :complimentary_cost,
                label: "Value of complimentary copies",
                input_html: {class: 'complimentary', id: 'complimentary_cost'} %>
          <div class="instruction">=# of complimentary copies / Total copies ordered * Total cost of LSI order</div>
        </li>
        <li>
          <%= production_expense.input :author_advance_quantity,
                label: "Quantity treated as author advance",
                input_html: {class: 'advance', id: 'advance_quantity'} %>
        </li>
        <li>
          <%= production_expense.input :author_advance_cost,
                label: "Value treated as author advance",
                input_html: {class: 'advance', id: 'total_author_advance_cost'} %>
          <div class="instruction">=# of advance copies / Total copies ordered * Total cost of LSI order</div>
        </li>
        <li>
          <%= production_expense.input :purchased_quantity,
                label: "Quantity treated as Purchased Copies",
                input_html: { id:'total_purchased_quantity' } %>
          <div class="instruction">This may include author purchased copies, team member purchased copies or 3rd party orders</div>
        </li>
        <li>
          <%= production_expense.input :purchased_cost,
                label: "Total cost of Purchased copies",
                input_html: {class: 'purchased', id: "total_purchased_cost"}
           %>
          <div class="instruction">This is the actual cost of the order (including S&amp;H) from LSI</div>
        </li>
        <li>
          <%= production_expense.input :paypal_invoice_amount, label: "Value of Purchased Copies to invoice via Paypal" %>
          <div class="instruction">First 100 author copies provided at cost; additional at 50% off list.
            Pricing Policy on author copies can be found here: <%= link_to "Booktrope Policy: Author Copies", "https://teamtrope.com/docs/booktrope-policy-author-copies/" %><br />
            Pricing Policy on 3rd party orders can be found here: <%= link_to "Bulk Orders To A 3rd Party Special Pricing", "https://teamtrope.com/docs/bulk-orders-to-a-3rd-party-special-pricing/" %>
          </div>
        </li>
        <li>
          <%= production_expense.input :calculation_explanation, label: "Explanation of how Value of Purchased Copies was calculated" %>
          <div class="instruction">Example, 100 books at cost, 50 books at 50% off list</div>
        </li>
        <li>
          <%= production_expense.input :marketing_quantity,
                label: "Quantity used for marketing purposes",
                input_html: { class: "marketing", id: "marketing_quantity" } %>
        </li>
        <li>
          <%= production_expense.input :marketing_cost,
                label: "Total Cost of Marketing Copies",
                input_html: { id: 'total_marketing_cost'} %>
          <div class="instruction">=# of marketing copies / Total copies ordered * Total cost of LSI order</div>
        </li>
        <li>
          <label>Additional costs</label>
          <%= production_expense.collection_radio_buttons :additional_costs,ProductionExpense::ADDITIONAL_COSTS, :first, :last,
            collection_wrapper_tag: 'ul',
            item_wrapper_tag: 'li' %>
        </li>
        <li>
          <%= production_expense.input :additional_team_cost, label: "Total of additional costs to be allocated to teams" %>
        </li>
        <li>
          <%= production_expense.input :additional_booktrope_cost, label: "Total of additional costs to be absorbed by Booktrope" %>
        </li>
        <li>
          <%= production_expense.input :effective_date, label: "Date costs should be allocated against revenue" %>
        </li>
      <% end %>
      </ul>
    </div>
    <div><!-- gform_footer top_label -->
      <%= f.submit  'submit' %>
    </div>
  <% end %>
</div>
