<h1>Revenue Split</h1>
<font color="#ff0000">Must not exceed <%= @project.project_type.team_total_percent %>%</font><br /><br />
<script>
	var maxPercent = <%= @project.project_type.team_total_percent %>;
	var total = 0;
	
	jQuery.validator.addMethod("revenueSplitValidation", function(value, element, params)
	{       
		total = 0;
    $(params[0]).each(function() {
        total += parseFloat($(this).val());
    });

    return this.optional(element) || total < parseFloat(value);
	}, jQuery.validator.format("Revenue allocation total must not exceed " + maxPercent + "%"));
	
</script>
<div>
	<%= simple_form_for @project,
	 url: url_for(:controller => 'projects', :action => 'revenue_allocation_split',
                      id: @project), html: { id: "revenue_allocation_split" } do | f| %>
                      
		<%= f.simple_fields_for :team_memberships do | builder | %>
			<%= builder.object.member.name %>
			<%= builder.input :id, as: :hidden %>
			<%= builder.input :percentage, label: builder.object.role.name + " Percentage ", input_html: { class: "percentage" }  %><br />
		<% end %>
		
		<%= hidden_field_tag :submitted_task_id, current_tab.task.id %>
		<%= hidden_field_tag :fullAmount, @project.project_type.team_total_percent %><br />
		
		<%= select_date Date.today, prefix: :effective_date, discard_day: true %><br /><br />
		<div>The date you would like this allocation agreement to take effect.</div><br />	
		<%= f.submit 'submit' %>
	<% end %>
</div>
	
	