
<!-- Publication Fact Sheet (PFS) -->
<div class="container">
  <h1>Publication Fact Sheet (PFS)</h1>
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for @project,
          url: url_for(controller: 'projects', action: 'submit_pfs', id: @project),
          html: { id: "publication_fact_sheet"} do | f | %>

        <%= f.error_notification %>
        <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'submit_pfs_submitted_task_id' %>

        <div>
          <span>This is it! Please submit this form one time only once all information is complete and FINAL. We will use this information and the files to set up and complete your book. Once submitted, the information and image cannot be revised or updated without incurring a change fee.</span>
        </div>
        <div>
          <ul>
            <li>
              <h2>Final Title</h2>
            </li>

            <li>
              <%= f.input :final_title, label: 'Final Title', required: true %>
              <div class="gfield_description">This is the final agreed upon official book title. </div>
            </li>

            <%= f.simple_fields_for :publication_fact_sheet,
              (f.object.publication_fact_sheet.nil?) ? f.object.build_publication_fact_sheet :
              f.object.publication_fact_sheet, id: @project.publication_fact_sheet do | pfs | %>

                <li>
                  <%= pfs.input :author_name, label: 'Author Name', required: true %>
                  <div><!-- gfield_description --> This is the name of the Author exactly as it appears on the cover and title page. If multiple Authors, please separate with a comma and indicate roles (e.g. "Jane Doe (Author), Joe Blow (Illustrator)"). </div>
                </li>

                <li>
                  <%= pfs.input :series_name, label: 'Series name' %>
                  <div><!-- gfield_description -->If this book is part of a series, please enter the series name EXACTLY as you want it displayed on Amazon, Barnes and Noble, etc. Example: The River Valley Collection</div>
                </li>

                <li>
                  <%= pfs.input :series_number, label: 'Series Number' %>
                  <div><!-- gfield_description -->If this book is part of a series, please enter the series number here.</div>
                </li>

                <li><!-- gsection -->
                  <h2><!-- gsection_title -->Book and Author Description</h2>
                </li>

                <li>
                  <%= pfs.input :description, label: 'Back Blurb / Book Description',
                        required: true,
                        input_html: { rows: 10, cols: 50 }
                   %>
                  <div><!-- gfield_description -->
                    <p>
                      It must have an appealing and informative back cover. The material on the back cover is frequently used elsewhere, such as for your Amazon and Barnes &amp; Noble .com descriptions. It needs to give someone a desire to read your book, pure and simple.
                      Also, be sure to consider relevant keywords for SEO - popular words people search for on Google/Amazon to find books like this. Relevant cities, genres, topics. You can use the Google Key Word tool to see how popular search terms are.
                      Bottom line - the book back should be another invitation to read - like the cover design - and convey the appropriate flavor of the book!
                   </p>
                   <p>NOTE: If you want to format your description or author bio (e.g. add italics, paragraph formatting, etc.), you can do so after the book has been published via the author's Amazon Author Central account.</p>
                  </div>

                </li>

                <li>
                  <%= pfs.input :author_bio, label: 'Author Bio',
                        required: true,
                        input_html: { rows: 10, cols: 50 } %>
                  <div><!-- gfield_description -->Be sure to include: author name, writing experience, and any work experience that pertains to the book (like if you wrote a diet book and you’re a certified nutritionist). Also, always include where they can find more information about the author (website URL).</div>
                </li>

                <li>
                  <%= pfs.input :endorsements,
                        input_html: { rows: 10, cols: 50 } %>
                  <div><!-- gfield_description -->NOTE: Endorsements will be added while uploading to BN.com and itunes, but not Amazon. Authors must add endorsements to Amazon via their Author Central Account. </div>
                </li>

                <li>
                  <%= pfs.input :one_line_blurb, required: true %>
                  <div><!-- gfield_description -->Short blurb for inclusion in "Other Great Reads" at the back of similar books. Short blurb for inclusion in “Other Great Reads” at the back of similar Booktrope books - This is a
                  short catchy phrase to communicate the flavor of the book. We include it at the end of other, similar
                  books. Here is an example:
                  Riversong by Tess Hardwick (Contemporary Romance) Sometimes we must face our deepest fears to find hope again. A redemptive story of forgiveness and friendship.
                  </div>
                </li>

                <li><!-- gsection -->
                  <h2><!-- gsection_title -->Pricing</h2>
                </li>

                <li>
                  <%= pfs.input :ebook_price, label: 'ebook Price', required: true %>
                  <div class="gfield_description">In US dollars. Fiction ebooks are recommended to be priced between $2.99 - $4.99. For exceptions, please talk to your book manager team leader.</div>
                </li>

                <li><!-- gsection -->
                  <h2><!-- gsection_title -->Classification and Search Terms</h2>
                  <div><!-- gsection_description -->
                  Please place BISAC Codes here (include both the description AND the number). If Juvenile, please specify a grade level (e.g. eighth, ninth, twelfth, college freshman...).
                  Enter 3 Codes in order of priority. Use this link for reference:
                  <a href="https://www.bisg.org/complete-bisac-subject-headings-2013-edition" target="_blank">Code List</a>
                  </div>
                </li>

                <li>
                  <%= pfs.input :bisac_code_one, label: 'BISAC Code One', required: true %>
                </li>

                <li>
                  <%= pfs.input :bisac_code_two, label: 'BISAC Code Two' %>
                </li>

                <li>
                  <%= pfs.input :bisac_code_three, label: 'BISAC Code Three' %>
                </li>

                <li>
                  <%= pfs.input :search_terms,
                        label: 'Search Terms (up to 7, separate by commas)',
                        input_html: { rows: 10, cols: 50 } %>
                  <div>
                    Separate terms by commas. These are popular terms, or keywords, about your book that readers would use to search for a book of this nature on Amazon. The search terms help SEO so your book appears to new readers!
                    <p>
                      Please read Amazon's guidelines on Search Terms here.  You cannot use anything misrepresentative, such as the name of an author that is not associated with your book.
                      <a href="https://kdp.amazon.com/self-publishing/help?topicId=A2EZES9JAJ6H02">Search Term Guidelines</a>
                    </p>
                  </div>
                </li>

                <li>
                  <%= pfs.label :age_range, 'What age range is most appropriate for your book?<span>*</span>'.html_safe %>
                  <%= pfs.collection_radio_buttons :age_range, PublicationFactSheet::AGE_RANGES,
                         :first, :last, required: true,
                         collection_wrapper_tag: 'ul',
                         item_wrapper_tag: 'li' %>
                </li>

                <li>
                  <%= pfs.label :paperback_cover_type, 'Do you want your paperback cover to be matte or glossy?<span>*</span>'.html_safe %>
                  <%= pfs.collection_radio_buttons :paperback_cover_type, PublicationFactSheet::COVER_TYPES,
                        :first, :last, required: true,
                        collection_wrapper_tag: 'ul',
                        item_wrapper_tag: 'li' %>
                </li>
          </ul>
            <% end %>
        </div>
        <div>
          <%= f.submit 'submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
