<h1>Remove Team Member Request</h1>

<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @project, url: url_for(:controller => 'projects', :action => 'remove_team_member', id: @project.id),
                         html: { id: "remove_team_member" } do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag :submitted_task_id, current_tab.task.id %>

        <%= f.simple_fields_for :audit_team_membership_removals, f.object.audit_team_membership_removals.build do | builder | %>

          <div id="remove_team_member_errors"></div>
          <div class="collection_list_input">
            <label>Remove Team Member<span>*</span></label>
            <%= builder.input :member_id,
                              collection: [],
                              input_html: {
                                      id: 'remove_team_member_users'
                              },
                              :prompt => 'Select a member',
                              label: false,
                              required: true
            %>
          </div>

          <div class="collection_list_input">
            <label>Reason *</label>
            <%= builder.collection_radio_buttons :reason, TeamMembership::RemovalReasons, :first, :last,
                                                 :collection_wrapper_tag => 'ul',
                                                 :item_wrapper_tag => 'li',
                                                 input_html: {
                                                         id: 'remove_team_member_reason'
                                                 },
                                                 required: true
            %>
            </div>

            <div class="collection_list_input">
              <label>Have you notified this member of the pending change?<span>*</span></label>
              <%= builder.collection_radio_buttons :notified_member,
                                                   [[true, 'Yes'], [false, 'No']], :first, :last,
                                                   :collection_wrapper_tag => 'ul',
                                                   :item_wrapper_tag => 'li',
                                                   input_html: {
                                                           id: 'remove_team_member_notified_member'
                                                   }
              %>
            </div>
        <% end %>

      <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>

<script>
    var team_memberships = <%= @project.members_available_for_removal.to_json.html_safe %>;
</script>