<h1>Update Project Status</h1>

<div class="gf_browser_safari gform_wrapper">
	<%= simple_form_for @project,
				url: url_for(controller: 'projects', action: 'update_status', id: @project),
				html: { id: 'status_update' } do | f | %>
		<div>
			<ul>
				<%= f.simple_fields_for :status_updates, f.object.status_updates.build do | status_update | %>
				<li>
					<label class="gfield_label">Type of update<span class="gfield_required">*</span></label>
					<%= status_update.collection_radio_buttons :type, 
								StatusUpdate::TYPES,
								:first, :last,
								collection_wrapper_tag: 'ul',
								item_wrapper_tag: 'li'  %>
					<div>We're here to help! Let us know if you need assistance or if your project is stalled for some reason. No question is too small.  Please note, however, that the information you submit in this form is public to the Teamtrope community.  </div>
				</li>
				<li>
					<div>
						<%= status_update.input :status,
									label: 'Status',
									required: true,
									as: :text,
									input_html: { class: %q[textarea medium], rows: 10, cols: 50 } %>
					</div>
					<div>Enter the current status for your project. </div>
				</li>
				<% end %>		
	    </ul>
  	</div>
  	<%= f.submit "Submit" %>
	<% end %>
</div>

