
<!-- Layout Upload -->
<div class="container">
    <h1>Layout Upload</h1>
    <div class="col-md-8">
      <p>For Booktrope Production Team use Only. This is where the Booktrope Production Team will upload a proof of the final layout design.</p>

      <label>Layout File<span class="required">*</span></label>
      <%= s3_uploader_form callback_url: project_project_layout_url(@project),
                            id: "layout_layout_upload_s3_uploader",
                            acl: 'private',
                            callback_param: 'layout_layout_upload[direct_upload_url]',
                            expiration: 24.hours.from_now.utc.iso8601,
                            max_file_size: 100.megabytes do %>
        <%= file_field_tag :file, multiple: false %>

      <% end %>
        <div id="layout_layout_upload_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div><!-- gfield_description -->
          <p>The Booktrope Production Team will upload the layout file here for team review. (.pdf only)</p>
        </div>

      <%= simple_form_for @project, url: url_for(controller: "projects", action: "layout_upload", id: @project), html: { id: 'upload_layout_form' } do | f | %>
          <%= f.error_notification %>
          <%= hidden_field_tag :submitted_task_id, current_tab.task.id %>
          <%= f.simple_fields_for :layout, (f.object.layout.nil?) ? f.object.build_layout : f.object.layout do | l | %>
            <%= l.input :layout_notes, as: :text, label: 'Layout Info', input_html: { rows: 10, cols: 50 } %>
          <% end %>

          <p>Information from the Production team about this layout sample.</p>
          <%= f.submit "submit", disabled: '', class: 'btn disabled', id: 'layout_upload_submit_button'  %>
      <% end %>

    </div>
</div>
