<!-- Upload Cover Templates / Final Covers -->
<div class="container">
  <h1>Upload Cover Templates</h1>
  <div class="col-md-8">
    <h5>Please upload the cover templates.</h5>

    <ul class="cover_template_list">

      <%-# 2015-09-14 NB we don't use accept: to cause the file picker to filter based on suffix. -%>
      <%-# At one time we did, but apparently this was not working right in all browsers. -%>
      <%-# TODO revisit this periodically as browser list changes...it would be nice to fix... -%>

      <li class="cover_template_list">
        <label>Raw Cover File</label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
                              id: "cover_template_raw_cover_s3_uploader",
                              acl: 'private',
                              callback_param: 'cover_template_raw_cover[direct_upload_url]',
                              expiration: 24.hours.from_now.utc.iso8601,
                              max_file_size: 500.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_raw_cover_uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div>
          Raw front cover file, .psd (Photoshop), .ai (Illustrator) or .zip only<br />

          The raw cover file will only be used for compliance checks and brand consistency in the event the designer
          is not available for a future book in the series. This is now optional, but highly recommended.
        </div>
      </li>

      <li class="cover_template_list">
        <label>Front Cover File JPEG<span class="required">*</span></label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
                              id: "cover_template_ebook_front_cover_s3_uploader",
                              acl: 'private',
                              callback_param: 'cover_template_ebook_front_cover[direct_upload_url]',
                              expiration: 24.hours.from_now.utc.iso8601,
                              max_file_size: 100.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_ebook_front_cover_uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div><!-- gfield_description -->
          Final front cover, JPEG only, minimum 1650px height<br />
          This will be used as your ebook cover and for display on vendor sites such as Amazon and BN.com.
        </div>
      </li>

      <li class="cover_template_list">
        <label>CreateSpace Cover Template File<span class="required">*</span></label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
                              id: "cover_template_createspace_cover_s3_uploader",
                              acl: 'private',
                              callback_param: 'cover_template_createspace_cover[direct_upload_url]',
                              expiration: 24.hours.from_now.utc.iso8601,
                              max_file_size: 100.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_createspace_cover_uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div><!-- gfield_description -->
          This should be a .pdf.<br />
        </div>
      </li>

      <li class="cover_template_list">
        <label>Lightning Source Cover Template File<span class="required">*</span></label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
                              id: "cover_template_lightning_source_cover_s3_uploader",
                              acl: 'private',
                              callback_param: 'cover_template_lightning_source_cover[direct_upload_url]',
                              expiration: 24.hours.from_now.utc.iso8601,
                              max_file_size: 100.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_lightning_source_cover_uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div><!-- gfield_description -->Please save the cover file for lightning source in the form [isbn_number_without_dashes]-cvr.pdf on your local computer before uploading here. Example: 1234567890123-cvr.pdf</div>
      </li>

      <li class="cover_template_list">
        <label>Alternative Template File</label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
                              id: "cover_template_alternative_cover_s3_uploader",
                              acl: 'private',
                              callback_param: 'cover_template_alternative_cover[direct_upload_url]',
                              expiration: 24.hours.from_now.utc.iso8601,
                              max_file_size: 100.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_alternative_cover_uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div><!-- gfield_description -->This field is not typically used; do not upload anything here unless you have specifically discussed with Booktrope management. </div>
      </li>

      <li class="cover_template_list">
        <label>Font License</label>
        <%= s3_uploader_form callback_url: project_cover_template_url(@project),
                              id: "cover_template_font_license_s3_uploader",
                              acl: 'private',
                              callback_param: 'cover_template_font_license[direct_upload_url]',
                              expiration: 24.hours.from_now.utc.iso8601,
                              max_file_size: 100.megabytes do %>
          <%= file_field_tag :file, multiple: false %>
        <% end %>
        <div id="cover_template_font_license_uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
        <div><!-- gfield_description -->Upload font license files here, if any are needed. If there are multiple files, upload them together as a single .zip.</div>
      </li>

    </ul>

    <div>
      <%= simple_form_for @project,
          url: url_for(controller: 'projects', action: 'upload_cover_templates', id: @project),
          html: { id: "upload_cover_templates" } do | f | %>
        <%= f.error_notification %>
        <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'upload_cover_templates_submitted_task_id' %>

        <li class="cover_template_list">
          <%= label_tag 'font_list', 'Font List <span class="required">*</span>'.html_safe %><br />
          <%= text_field_tag 'font_list', nil, size: 60 %><br />
          <div><!-- gfield_description -->List the names of fonts used (separated by commas if there's more than one).</div>
        </li>

        <li class="cover_template_list">
          <label>Sign Off on following<span class="required">*</span></label>
          <div>
            <ul class="cover_template_sign_off">
              <%
                [
                  'Author bio is correct.',
                  'Book blurb on back is final.',
                  'ISBN bar code matches ISBN on title page of laid out document.',
                  'Author name and title are correct on front cover.',
                  'All fonts are for commercial use, and appropriate license(s) have been acquired.'
                ].each_with_index do | check_box, index |
              %>
              <li class="cover_template_sign_off">
                <%= check_box_tag "checklist_#{index}", index, false, class: "upload_cover_checklist " %>
                <%= label_tag "checklist_#{index}",check_box, class: "" %>
              </li>
              <% end %>
            </ul>
          </div>
        </li>

        <br />

        <div>
          <%= f.submit "submit", disabled: '', class: 'btn disabled', id: 'cover_template_submit_button'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
