<h1>Listing imprints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imprints.each do |imprint| %>
      <tr>
        <td><%= imprint.name %></td>
        <td><%= link_to 'Show', imprint %></td>
        <td><%= link_to 'Edit', edit_imprint_path(imprint) %></td>
        <td><%= link_to 'Destroy', imprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imprint', new_imprint_path %>
