<h1>Listing ebook_only_incentives</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Author name</th>
      <th>Publication date</th>
      <th>Retail price</th>
      <th>Blurb</th>
      <th>Website one</th>
      <th>Website two</th>
      <th>Website three</th>
      <th>Category one</th>
      <th>Category two</th>
      <th>Praise</th>
      <th>Isbn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ebook_only_incentives.each do |ebook_only_incentive| %>
      <tr>
        <td><%= ebook_only_incentive.project %></td>
        <td><%= ebook_only_incentive.title %></td>
        <td><%= ebook_only_incentive.author_name %></td>
        <td><%= ebook_only_incentive.publication_date %></td>
        <td><%= ebook_only_incentive.retail_price %></td>
        <td><%= ebook_only_incentive.blurb %></td>
        <td><%= ebook_only_incentive.website_one %></td>
        <td><%= ebook_only_incentive.website_two %></td>
        <td><%= ebook_only_incentive.website_three %></td>
        <td><%= ebook_only_incentive.category_one %></td>
        <td><%= ebook_only_incentive.category_two %></td>
        <td><%= ebook_only_incentive.praise %></td>
        <td><%= ebook_only_incentive.isbn %></td>
        <td><%= link_to 'Show', ebook_only_incentive %></td>
        <td><%= link_to 'Edit', edit_ebook_only_incentive_path(ebook_only_incentive) %></td>
        <td><%= link_to 'Destroy', ebook_only_incentive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ebook only incentive', new_ebook_only_incentive_path %>
