<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @ebook_only_incentive.project %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ebook_only_incentive.title %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @ebook_only_incentive.author_name %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @ebook_only_incentive.publication_date %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @ebook_only_incentive.retail_price %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @ebook_only_incentive.blurb %>
</p>

<p>
  <strong>Website one:</strong>
  <%= @ebook_only_incentive.website_one %>
</p>

<p>
  <strong>Website two:</strong>
  <%= @ebook_only_incentive.website_two %>
</p>

<p>
  <strong>Website three:</strong>
  <%= @ebook_only_incentive.website_three %>
</p>

<p>
  <strong>Category one:</strong>
  <%= @ebook_only_incentive.category_one %>
</p>

<p>
  <strong>Category two:</strong>
  <%= @ebook_only_incentive.category_two %>
</p>

<p>
  <strong>Praise:</strong>
  <%= @ebook_only_incentive.praise %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @ebook_only_incentive.isbn %>
</p>

<%= link_to 'Edit', edit_ebook_only_incentive_path(@ebook_only_incentive) %> |
<%= link_to 'Back', ebook_only_incentives_path %>
