<% provide(:title, "Edit Project") %>
<h1>Edit Project</h1>
<%= form_for(@project) do | f | %>
	<%= f.label :final_title %><br />
	<%= f.text_field :final_title %><br />	
	<%= f.label :project_type_id %><br />
	<%= f.collection_select :project_type_id, ProjectType.all, :id, :name %><br />
	<%= f.label :final_doc_file %><br />
	<%= f.text_field :final_doc_file %><br />
	<%= f.label :final_manuscript_pdf %><br />
	<%= f.text_field :final_manuscript_pdf %><br />
	<%= f.label :final_pdf %><br />
	<%= f.text_field :final_pdf %><br />
	<%= f.label :stock_image_request_link %><br />
	<%= f.text_field :stock_image_request_link %><br />
	<%= f.label :layout_notes %><br />
	<%= f.text_field :layout_notes %><br />
	<%= f.label :previously_published %><br />
	<%= f.text_field :previously_published %><br />
	<%= f.label :prev_publisher_and_date %><br />
	<%= f.text_field :prev_publisher_and_date %><br />
	<%= f.label :stock_cover_image %><br />
	<%= f.text_field :stock_cover_image %><br />
	<%= f.label :cover_concept_notes %><br />
	<%= f.text_field :cover_concept_notes %><br />
	<%= f.label :proofed_word_count %><br />
	<%= f.text_field :proofed_word_count %><br />
	<%= f.label :cover_concept %><br />
	<%= f.text_field :cover_concept %><br />
	<%= f.label :teamroom_link %><br />
	<%= f.text_field :teamroom_link %><br />
	<%= f.label :publication_date %><br />
	<%= f.text_field :publication_date %><br />
	<%= f.label :marketing_release_date %><br />
	<%= f.text_field :marketing_release_date %><br />


	<%= f.label :cover_art_approval_date %><br />
	<%= f.text_field :cover_art_approval_date %><br />
	<%= f.label :layout_approved_date %><br />
	<%= f.text_field :layout_approved_date %><br />
	<%= f.label :final_page_count %><br />
	<%= f.text_field :final_page_count %><br />
	<%= f.label :layout_upload %><br />
	<%= f.text_field :layout_upload %><br />
	<%= f.label :use_pen_name_on_title %><br />
	<%= f.text_field :use_pen_name_on_title %><br />
	<%= f.label :use_pen_name_for_copyright %><br />
	<%= f.text_field :use_pen_name_for_copyright %><br />
	<%= f.label :exact_name_on_copyright %><br />
	<%= f.text_field :exact_name_on_copyright %><br />
	<%= f.label :pen_name %><br />
	<%= f.text_field :pen_name %><br />
	<%= f.label :special_text_treatment %><br />
	<%= f.text_field :special_text_treatment %><br />
	<%= f.label :has_sub_chapters %><br />
	<%= f.text_field :has_sub_chapters %><br />
	<%= f.label :layout_style_choice %><br />
	<%= f.text_field :layout_style_choice %><br />
	<%= f.label :has_index %><br />
	<%= f.text_field :has_index %><br />
	<%= f.label :non_standard_size %><br />
	<%= f.text_field :non_standard_size %><br />
	<%= f.label :has_internal_illustrations %><br />
	<%= f.text_field :has_internal_illustrations %><br />
	<%= f.label :color_interior %><br />
	<%= f.text_field :color_interior %><br />
	<%= f.label :manuscript_edited %><br />
	<%= f.text_field :manuscript_edited %><br />
	<%= f.label :childrens_book %><br />
	<%= f.text_field :childrens_book %><br />
	<%= f.label :manuscript_proofed %><br />
	<%= f.text_field :manuscript_proofed %><br />
	<%= f.label :edit_complete_date %><br />
	<%= f.text_field :edit_complete_date %><br />
	<%= f.label :manuscript_original %><br />
	<%= f.text_field :manuscript_original %><br />
	
	<h2>Genres</h2>
	<%= f.collection_select(:genre_ids, Genre.all, :id, :name, { include_hidden: false }, { multiple: true } ) %><br /><br />	
	
	<%= f.submit %>
<% end %>
