<% provide(:title, "The Grid") %>
<div class="page" id="blog-page" role="main">
  <h2><%= @grid_title %> (<%= @projects.count %>)</h2>
  <%= link_to "New", new_project_path %><br /><br />
  <script type="text/javascript" async="">
  	function toggleTable1() {
  	var lTable = document.getElementById("ProjectListTable");
  	lTable.style.display = (lTable.style.display == "table") ? "none" : "table";}
  </script>
  <table id="ProjectListTable" class="projectListTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Editor</th>
        <th>Proofreader</th>
        <th>Project Manager</th>
        <th>Marketing Manager</th>
        <th>Cover Designer</th>
        <th>Teamroom Link</th>
      </tr>
    </thead>

    <% @projects.each do | project | %>
      <tr>
        <td class="book-title">
          <%= link_to project.title, project %>
          <% if can? :edit, project %>
          | <%= link_to "Edit", edit_project_path(project)  %>
          <% end%>
          <% if can? :delete, project %>
          | <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"}%><br />
          <% end %>
        </td>
        <td><%= (project.authors.try(:first).try(:member).nil?) ? 'N/A' : project.authors.first.member.name %></td>
        <td><%= project.genres.map(&:name).join(', ') %></td>
        <td><%= (project.editors.try(:first).try(:member).nil?) ? 'N/A' : project.editors.first.member.name %></td>
        <td><%= (project.proof_readers.try(:first).try(:member).nil?) ? 'N/A' : project.proof_readers.first.member.name %></td>
        <td><%= (project.project_managers.try(:first).try(:member).nil?) ? 'N/A' : project.project_managers.first.member.name %></td>
        <td><%= (project.book_managers.try(:first).try(:member).nil?) ? 'N/A' : project.book_managers.first.member.name %></td>
        <td><%= (project.cover_designers.try(:first).try(:member).nil?) ? 'N/A' : project.cover_designers.first.member.name %></td>
        <td><% if !project.teamroom_link.try(:empty?) %><a href="<%= project.teamroom_link %>">Teamroom Link</a><% else %><% end %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @projects %>
  <script>
  $("#ProjectListTable").DataTable({
      "pageLength" : 50
  });
  </script>
  <br />
</div>
