<% provide(:title, "The Grid") %>
<div class="page" id="blog-page" role="main">
	<h2>The Grid - All Book Projects</h2><br />
  <%= link_to "New", new_project_path %><br /><br />
  <h2>Manuscript (Pre-Edit) (32)  <a id="tableSwitch" onclick="toggleTable1();" href="#" style="text-decoration:none;"><img src="https://teamtrope.com/wp-content/uploads/2014/02/expand_collapse_plus.gif"><img src="https://teamtrope.com/wp-content/uploads/2014/02/expand_collapse_minus.gif"></a></h2>
  
  <script type="text/javascript" async="">
  	function toggleTable1() {
  	var lTable = document.getElementById("Table1");
  	lTable.style.display = (lTable.style.display == "table") ? "none" : "table";}
  </script>
  <table id="Table1" class="sortable">
  	<tr>
			<th>Title</th>
			<th>Days in Step</th>
			<th>Author</th>
			<th>Genre</th>
			<th>Teamroom Link</th>
			<th>Prod Workflow Step</th>
			<th>Design Step</th>
			<th>Marketing Step</th>
			<th>Project Manager</th>
			<th>Editor</th>
			<th>Proofreader</th>
			<th>Marketing Manager</th>
			<th>Cover Designer</th>
			<th>Edit Complete Date</th>
			<th>Original Manuscript</th>
			<th>ISBN</th>
			<th>eBook ISBN</th>
			<th>ASIN</th>
			<th>LSI ISBN</th>
			<th>Author Pct</th>
			<th>Manager Pct</th>
			<th>Project Manager Pct</th>
			<th>Editor Pct</th>
			<th>Designer Pct</th>
			<th>Proofreader Pct</th>
			<th>Other Pct</th>
			<th>Edited Manuscript</th>
			<th>Children's Book?</th>
			<th>Color Interior?</th>
			<th>Has Index?</th>
			<th>Has Internal Illustrations?</th>
			<th>Non-Standard Size?</th>
			<th>Final Manuscript</th>
			<th>Has Sub-Chapters?</th>
			<th>Special Text Treatment</th>
			<th>Page Count</th>
			<th>Previously Published?</th>
			<th>Layout Style Choice</th>
			<th>Use Pen Name?</th>
			<th>Use Pen Name for Copyright?</th>
			<th>Pen Name</th>
			<th>Exact Name on Copyright</th>
			<th>Layout Upload</th>
			<th>Layout Approved Date</th>
			<th>Final Page Count</th>
			<th>eBook Front Cover</th>
			<th>CreateSpace Cover</th>
			<th>Lightning Source Cover</th>
			<th>Alt. Cover Template</th>
			<th>Cover Approval Date</th>
			<th>Final Title</th>
			<th>Series Name</th>
			<th>Series Number</th>
			<th>Book Blurb</th>
			<th>Blurb - One Line</th>
			<th>Author Bio</th>
			<th>Endorsements</th>
			<th>book Print Price</th>
			<th>eBook Price</th>
			<th>BISAC Code One</th>
			<th>BISAC Code Two</th>
			<th>BISAC Code Three</th>
			<th>Search Terms</th>
			<th>Age Range</th>
			<th>Paperback Cover Type</th>
			<th>Marketing Release Date</th>
			<th>Publication Date</th>
			<th>Final Manuscript</th>
			<th>Final ePub</th>
			<th>Final Mobi</th>
			<th>Production Exception?</th>
		</tr>
		
		<% @projects.each do | project | %>
			<tr>
				<td class="book-title">
					<%= link_to project.final_title, project %> 
					<% if can? :edit, project %>
					| <%= link_to "Edit", edit_project_path(project)  %>
					<% end%>
					<% if can? :delete, project %> 
					| <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"}%><br />
					<% end %>
					
				</td>
				<td>Days in Step</td>
				<td>Author</td>
				<td>Genre</td>
				<td>Teamroom Link</td>
				<td>Prod Workflow Step</td>
				<td>Design Step</td>
				<td>Marketing Step</td>
				<td>Project Manager</td>
				<td>Editor</td>
				<td>Proofreader</td>
				<td>Marketing Manager</td>
				<td>Cover Designer</td>
				<td><%= project.edit_complete_date.try(:strftime, "%b %d %Y") %></td>
				<td>Original Manuscript</td>
				<td>ISBN</td>
				<td>eBook ISBN</td>
				<td>ASIN</td>
				<td>LSI ISBN</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Edited Manuscript</td>
				<td>Children's Book?</td>
				<td>Color Interior?</td>
				<td>Has Index?</td>
				<td>Has Internal Illustrations?</td>
				<td>Non-Standard Size?</td>
				<td>Final Manuscript</td>
				<td>Has Sub-Chapters?</td>
				<td>Special Text Treatment</td>
				<td>Page Count</td>
				<td>Previously Published?</td>
				<td>Layout Style Choice</td>
				<td>Use Pen Name?</td>
				<td>Use Pen Name for Copyright?</td>
				<td>Pen Name</td>
				<td>Exact Name on Copyright</td>
				<td>Layout Upload</td>
				<td>Layout Approved Date</td>
				<td>Final Page Count</td>
				<td>eBook Front Cover</td>
				<td>CreateSpace Cover</td>
				<td>Lightning Source Cover</td>
				<td>Alt. Cover Template</td>
				<td>Cover Approval Date</td>
				<td>Final Title</td>
				<td>Series Name</td>
				<td>Series Number</td>
				<td>Book Blurb</td>
				<td>Blurb - One Line</td>
				<td>Author Bio</td>
				<td>Endorsements</td>
				<td>book Print Price</td>
				<td>eBook Price</td>
				<td>BISAC Code One</td>
				<td>BISAC Code Two</td>
				<td>BISAC Code Three</td>
				<td>Search Terms</td>
				<td>Age Range</td>
				<td>Paperback Cover Type</td>
				<td>Marketing Release Date</td>
				<td>Publication Date</td>
				<td>Final Manuscript</td>
				<td>Final ePub</td>
				<td>Final Mobi</td>
				<td>Production Exception?</td>
			</tr>
		<% end %>
	</table>
</div>
