<% provide(:title, "New Project") %>
<div class="container">
  <h1>New Project</h1>
  <% if ! current_user.role?(:author) && ! current_user.role?(:booktrope_staff) %>
      <h2>Sorry, you cannot create a new project unless you are either an Author or Booktrope Staff</h2>
  <% else %>
      <div class="col-md-8">
        <%= simple_form_for @project, html: { id: 'new_project_form' } do | f | %>

          <div>
            <label>Title:<br/>
              <%= f.input :title, label: false, :input_html => { type: 'text', size: '40' } %>
            </label>
          </div>

          <div>
            <%= f.simple_fields_for :team_memberships, f.object.team_memberships.build do | member | %>
              <label>Author:<br/>
                <% if current_user.role?(:booktrope_staff) %>
                  <%= member.input :member_id,
                        label: false,
                        collection: User.with_role('author'),
                        label_method: :name, value_method: :id,
                        input_html: {
                                class: 'chosen-select',
                                id: 'new_project_authors_list'
                        },
                        :include_blank => 'Select an Author..',
                        required: true
                  %>
                  <script>
                      $("#new_project_authors_list").chosen({width: '200px;'});
                  </script>
                <% else %>
                  <span><em><%= current_user.name %></em></span>
                  <%= member.input :member_id, as: :hidden, :input_html => { :value => current_user.id } %>
                <% end %>
              </label>
              <%= member.input :role_id, as: :hidden, :input_html => { :value => Role.where(name: 'Author').first.id } %>
            <% end %>
          </div>

          <div>
            <label>Genres:<br/>
              <%= f.collection_select(:genre_ids, Genre.all, :id, :name, { include_hidden: false }, { multiple: true } ) %><br /><br />
            </label>
          </div>

          <div>
            <label>Project Type:<br/>
              <%= f.input :project_type_id,
                     label: false,
                     collection: ProjectType.all,
                     label_method: :name, value_method: :id,
                     :include_blank => 'Select Project Type',
                     required: true,
                     :selected => ProjectType.where(name: 'Standard Project').first.id
              %>
            </label>
          </div>

            <div>
              <label>Teamroom Link:<br/>
                <%= f.input :teamroom_link, label: false, :input_html => { type: 'text', size: '40' } %>
              </label>
            </div>

          <br/>

        <%= f.submit 'Create Project' %>
      <% end %>
        <br/>
      </div>
  <% end %>
</div>

<script>
    <% if current_user.role?(:booktrope_staff) %>
    $(document).ready(function() {
        $("#new_project_authors_list").chosen({width: '200px;'})
    });
  <% end %>

    // For some reason, running this on document ready doesn't work, and validate has to
    // be able to bind to the element so it must be executed after the page has rendered.
    $("#new_project_form").validate({
        rules: {
            'project[title]': { required: true },
            'project[team_memberships_attributes][0][member_id]': { required: true },
            'project[genre_ids][]': { required: true },
            'project[project_type_id]': { required: true },
            'project[teamroom_link]': { required: true, url: true }
        },
        messages: {
            'project[title]': 'Please enter a working title for this project.',
            'project[team_memberships_attributes][0][member_id]': 'Please select an Author.',
            'project[genre_ids][]': 'Please select one or more genres.',
            'project[project_type_id]': 'Please select a Project Type.',
            'project[teamroom_link]': 'A Teamroom link is required and must contain a valid URL.'
        }
    });
</script>