<% provide(:title, "New Project") %>
<div class="container">
      <div class="col-md-8">
        <h1>New Project</h1>
        <% if
           ! current_user.role?(:author) &&
           ! current_user.role?(:booktrope_staff) %>
            <h2>Sorry, you cannot create a new project unless you are Booktrope Staff</h2>
        <% else %>

        <p>We are so glad you wish to publish another title with Booktrope. This is an honor we take seriously. Because
        we have a responsibility to our creative teams, we need to ensure any titles we publish have a great chance for
        commercial appeal. As such there are certain genres we are unable to publish such as screenplays, workbooks,
        most poetry, and young children’s picture books.  If the title you are submitting is a dramatic change from
        what we have already published for you or includes something mentioned in the previous sentence, please submit a Booktrope Assistance ticket to discuss prior to setting up the project.</p>
        <p>Please note: While we would not wish to do so, Booktrope reserves the right to remove any project that does not follow this request.</p>

        <%= simple_form_for @project, html: { id: 'new_project_form' } do | f | %>

          <div class="input_field">
            <label>Title:&nbsp;<span class="required">*</span></label><br/>
              <%= f.input :title, label: false, :input_html => { type: 'text', size: '40' }, placeholder: 'Book title only. Please do not include the author or series information.' %>
          </div>

          <div class="input_field">
            <%= f.simple_fields_for :team_memberships, f.object.team_memberships.build do | member | %>
              <label>Author:&nbsp;<span class="required">*</span></label><br/>
                <% if current_user.role?(:booktrope_staff) %>
                  <%= member.input :member_id,
                        label: false,
                        collection: User.with_role('author'),
                        label_method: :name, value_method: :id,
                        input_html: {
                                class: 'chosen-select',
                                id: 'new_project_authors_list'
                        },
                        :include_blank => 'Select an Author..',
                        required: true
                  %>
                  <script>
                      $("#new_project_authors_list").chosen({width: '200px;'});
                  </script>
                <% else %>
                  <span><em><%= current_user.name %></em></span>
                  <%= member.input :member_id, as: :hidden, :input_html => { :value => current_user.id } %>
                <% end %>
              <%= member.input :role_id, as: :hidden, :input_html => { :value => Role.where(name: 'Author').first.id } %>
            <% end %>
          </div>

          <div class="input_field">
            <label>How long is the book? (number of words)</label><br>
            <div class="col-md-4">
                <%= f.input :page_count, label: false, :input_html => { type: 'text', size: '10' } %>
            </div>
          </div>

          <div class="input_field">
            <label>Does your book have any pictures or illustrations other than what you envision for the cover? &nbsp;<span class="required">*</span></label>
            <%= f.input :has_internal_illustrations, as: :radio_buttons,
                        collection: [['Yes', true], ['No', false]],
                        wrapper: :vertical_radio_and_checkboxes,
                        label: false
            %>
          </div>

          <div class="input_field">
            <label>Has this title been published previously?&nbsp;<span class="required">*</span></label>
            <%= f.input :previously_published, as: :radio_buttons,
                        collection: [['Yes', true], ['No', false]],
                        wrapper: :vertical_radio_and_checkboxes,
                        label: false
            %>
          </div>

          <div class="input_field">
            <label>Any special treatment?</label>
            <%= f.input :special_text_treatment,
                        label: false,
                        as: :text,
                        input_html: { class: %q[textarea small], rows: 10, cols: 50 }
            %>
          </div>

          <div class="input_field">
            <%= f.simple_fields_for :book_genres, f.object.book_genres.build do | genre | %>
                <label>Genres:&nbsp;<span class="required">*</span></label><br/>
                <%= genre.collection_select(:genre_id, Genre.all, :id, :name, { prompt: true, include_hidden: false }, { multiple: false } ) %>
            <% end %>
          </div>

          <div class="input_field">
            <label >Imprint&nbsp;<span class="required">*</span></label><br/>
            <%= f.input :imprint_id, as: :radio_buttons,
                              collection: Imprint.all.map{ |imp| [imp.name, imp.id ] },
                              wrapper: :vertical_radio_and_checkboxes,
                              label: false
            %>
            <p class="input_description">IMPORTANT: If you have not discussed being part of a specific imprint with the imprint's Managing Director or Booktrope Management, please select "Booktrope Editions." </p>
          </div>

          <div class="input_field">
            <label>Synopsis:&nbsp;<span class="required">*</span></label><br/>
              <%= f.input :synopsis, as: :text, label: false, input_html: { rows: 8, cols: 70 } %>
            <p class="input_description">If you don't have a full synopsis, don't worry - a couple of sentences about the book will suffice.</p>
          </div>

          <div class="input_field">
            <%= f.simple_fields_for :layout, (f.object.layout.nil?) ? f.object.build_layout : f.object.layout do | l | %>
            <label>Are you using a pen name on the title?<span class="required">*</span></label>
            <p class="input_description">Please choose 'Yes' and enter it here even if you are in Teamtrope under your pen name.</p>
            <div>
              <!-- The choice here should conditionally unlock fields below -->
              <%= l.collection_radio_buttons :use_pen_name_on_title,
                                           [[true, 'Yes'], [false, 'No']], :first, :last,
                                           :collection_wrapper_class => 'collection_radio_buttons',
                                           :collection_wrapper_tag => 'ul',
                                           :item_wrapper_tag => 'li', required: true
              %>
            </div>
            <div class='input_field pen_name_optional'>
              <label>What is your pen name?<span class="required">*</span></label>
              <%= l.input :pen_name, label: false %>
            </div>
            <div class='input_field'>
              <label>What is your legal name?<span class="required">*</span></label>
              <%= l.input :legal_name, label: false %>
            </div>
            <% end %>
          </div>
          <div class="input_field">
            <label>Project Type:&nbsp;<span class="required">*</span></label><br/>
              <%= f.input :project_type_id,
                     label: false,
                     collection: ProjectType.all,
                     label_method: :name, value_method: :id,
                     :include_blank => 'Select Project Type',
                     required: true,
                     :selected => ProjectType.where(name: 'Standard Project').first.id
              %>
          </div>

          <div class="input_field">
            <label>Teamroom Link:&nbsp;<span class="required">*</span></label><br/>
              <%= f.input :teamroom_link, label: false, :input_html => { type: 'text', size: '40' } %>
            <p class="input_description">Include the full url with 'http://'.</p>
          </div>

          <%= f.submit 'Create Project' %>
        <% end %>
        <br/>
      </div>
  <% end %>
</div>

<script>
    <% if current_user.role?(:booktrope_staff) %>
    $(document).ready(function() {
        $("#new_project_authors_list").chosen({width: '200px;'})
    });
  <% end %>

    // For some reason, running this on document ready doesn't work, and validate has to
    // be able to bind to the element so it must be executed after the page has rendered.
    $("#new_project_form").validate({
        ignore: [],
        rules: {
            'project[synopsis]': { required: true, minlength: 10 },
            'project[teamroom_link]': { required: true, url: true, minlength: 10 },
            'project[title]': { required: true },
            'project[team_memberships_attributes][0][member_id]': { required: true },
            'project[book_genres_attributes][0][genre_id]': { required: true },
            'project[has_internal_illustrations]': { required: true },
            'project[previously_published]': { required: true },
            'project[project_type_id]': { required: true },
            'project[layout_attributes][legal_name]': { required: true},
            'project[layout_attributes][pen_name]': {
              required: {
                depends: function(element) {
                  return ($("input[name=project\\[layout_attributes\\]\\[use_pen_name_on_title\\]]:checked").val() == 'true');
                }
              }
            }
        },
        messages: {
            'project[title]': 'Please enter a working title for this project.',
            'project[team_memberships_attributes][0][member_id]': 'Please select an Author.',
            'project[book_genres_attributes][0][genre_id]': 'Please select a genre.',
            'project[has_internal_illustrations]': 'Please answer Yes or No.',
            'project[previously_published]': 'Please answer Yes or No.',
            'project[synopsis]': 'Please provide a brief synopsis for this project.',
            'project[project_type_id]': 'Please select a Project Type.',
            'project[teamroom_link]': 'A Teamroom link is required and must contain a valid URL.',
            'project[layout_attributes][legal_name]': 'Please your legal name.',
            'project[layout_attributes][pen_name]': 'Please provide your pen name.'
        }
    });
</script>
