<% provide(:title, @project.final_title) %>
    <%= image_tag download_ebook_front_cover_path(@project), class: 'thumbalignright' if @project.try(:cover_template).try(:ebook_front_cover?) %>

    <h1 class="entry-title"><%= @project.title %></h1><br />
    <% if can? :edit, @project %><%= link_to "Edit", edit_project_path(@project) %> | <% end %>
    <%= link_to "Back" , projects_path %>

    <div>
      <% if @project.is_team_member? current_user %>
        You are this team's <%= @project.team_roles(current_user).map{ | role | role.name.to_s }.join(", ") %>
      <% else %>
        You are not a member of this team.
      <% end %>
    </div>

    <div class="pcss3t pcss3t-icons-left  pcss3t-height-auto pcss3t-theme-3-all-white">
      <label>Team: </label>
      <label class='brown'>
        <% if @project.has_author? %>
          <%= link_to image_tag(avatar_url(@project.authors.first.member, :thumb, '60'), size: "60x60", class: "avatar photo"), @project.authors.first.member.profile_page %>
        <% else %>
        Needs Author
        <% end %>
      </label>
      <label class='green'>
        <% if @project.has_book_manager? %>
          <%= link_to image_tag(avatar_url(@project.book_managers.first.member, :thumb, '60'), size: "60x60", class: "avatar photo"), @project.book_managers.first.member.profile_page %>
        <% else %>
        Needs Book Manager
        <% end %>
      </label>
      <label class='yellow'>
      <% if @project.has_project_manager? %>
        <%= link_to image_tag(avatar_url(@project.project_managers.first.member, :thumb, '60'), size: "60x60", class: "avatar photo"), @project.project_managers.first.member.profile_page %>
      <% else %>
      Needs Project Manager
      <% end %>
      </label>
      <label class='red'>
      <% if @project.has_editor? %>
        <%= link_to image_tag(avatar_url(@project.editors.first.member, :thumb, '60'), size: "60x60", class: "avatar photo"), @project.editors.first.member.profile_page %>
      <% else %>
      Needs Editor
      <% end %>
      </label>
      <label class='white'>
      <% if @project.has_proofreader? %>
        <%= link_to image_tag(avatar_url(@project.proofreaders.first.member, :thumb, '60'), size: "60x60", class: "avatar photo"), @project.proofreaders.first.member.profile_page %>
      <% else %>
      Needs Proofreader
      <% end %>
      </label>
      <label class='blue'>
      <% if @project.has_cover_designer? %>
        <%= link_to image_tag(avatar_url(@project.cover_designers.first.member, :thumb, '60'), size: "60x60", class: "avatar photo"), @project.cover_designers.first.member.profile_page %>
      <% else %>
      Needs Cover Designer
      <% end %>
      </label>
    </div>
    <br/>
    <%= link_to "Link to Teamroom", @project.teamroom_link if @project.teamroom_link? %><span> Genre:
    <%= @project.genres.map { |genre| genre.name }.join(", ") %>
    </span>
    <% merged_array = [] %>
    <% @project.current_tasks.each do | current_task | %>
      <% merged_array.push current_task.task_id %>
      <% merged_array.concat(current_task.task.unlocked_tasks.map { |ut| ut.unlocked_task_id }) %>
    <% end %>
    <% merged_array.uniq! %>
<% @project.project_type.project_view.phases.includes(:tabs).each do | phase | %>
    <!-- rails tabs -->
    <div class="pcss3t pcss3t-icons-left  pcss3t-height-auto pcss3t-theme-3-<%= phase.color %>">
      <input type="radio" name="pcss3t0<%= phase.order %>" checked id="tab00<%= phase.order %>" class="tab-content-first" >
      <label for="tab00<%= phase.order %>"><%= phase.name %><i class="<%= phase.icon %>"></i></label>
<% form_content = "" %>
<%= form_content %>
<% phase.tabs.includes(:task).each do | tab | %>
      <input type="radio" name="pcss3t0<%= phase.order %>" id="tab<%= tab.order+1 %>0<%= phase.order %>" class="tab-content-<%= tab.order+1 %>">
      <label  <% if merged_array.include? tab.task.id %>for="tab<%=tab.order+1%>0<%=phase.order%>"<% else %> class="tab-inactive"<%end%>><%= tab.task.tab_text %><i class="<%= tab.task.icon %>"></i></label>

    <% if merged_array.include? tab.task.id %>
    <% form_content << " <li class='tab-content tab-content-" %>
    <% form_content << "#{tab.order+1}" %>
    <% form_content << " typography'>" %>
    <% if !tab.task.team_only? || tab.task.performers.where(id: @project.team_roles(current_user)).count > 0 || current_user.role?(:booktrope_staff)%>
      <% partial_path = "projects/forms/#{tab.task.partial}" unless tab.task.partial.nil? %>
      <% form_content += render(partial: partial_path, locals: { current_tab: tab }) unless tab.task.partial.nil? || tab.task.partial.empty? %>
    <% else %>
      <% form_content << "<h1>Access Denied</h1>" %>
      <% form_content << "You must be this project's: #{tab.task.performers.map { |role| role.name }.join(', ')} " %>
    <% end %>

    <% form_content << "</li>" %>
    <% end %>
<% end %>
    <ul>
<%= form_content.html_safe %></li>
    </ul>
  </div>
  <!--/ rails tabs -->
<% end %>
  </div>
</div>
