<h1>Production Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Total quantity ordered</th>
      <th>Total cost</th>
      <th>Complimentary quantity</th>
      <th>Complimentary cost</th>
      <th>Author advance quantity</th>
      <th>Author advance cost</th>
      <th>Purchased quantity</th>
      <th>Purchased cost</th>
      <th>Paypal invoice amount</th>
      <th>Calculation explanation</th>
      <th>Marketing quantity</th>
      <th>Additional cost mask</th>
      <th>Additional team cost</th>
      <th>Additional booktrope cost</th>
      <th>Effective date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_expenses.each do |production_expense| %>
      <tr>
        <td><%= link_to production_expense.project.title, production_expense.project %></td>
        <td><%= production_expense.total_quantity_ordered %></td>
        <td>$<%= production_expense.total_cost %></td>
        <td><%= production_expense.complimentary_quantity %></td>
        <td>$<%= production_expense.complimentary_cost %></td>
        <td><%= production_expense.author_advance_quantity %></td>
        <td>$<%= production_expense.author_advance_cost %></td>
        <td><%= production_expense.purchased_quantity %></td>
        <td>$<%= production_expense.purchased_cost %></td>
        <td>$<%= production_expense.paypal_invoice_amount %></td>
        <td><%= production_expense.calculation_explanation %></td>
        <td><%= production_expense.marketing_quantity %></td>
        <td><%= production_expense.additional_costs.join(", ") %></td>
        <td>$<%= production_expense.additional_team_cost %></td>
        <td>$<%= production_expense.additional_booktrope_cost %></td>
        <td><%= production_expense.effective_date %></td>
        <td><%= link_to 'Show', production_expense %></td>
        <td><%= link_to 'Edit', edit_production_expense_path(production_expense) %></td>
        <td><%= link_to 'Destroy', production_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production expense', new_production_expense_path %>
