<h1>Listing tabs</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Phase</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= tab.task %></td>
        <td><%= tab.phase %></td>
        <td><%= tab.order %></td>
        <td><%= link_to 'Show', tab %></td>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
        <td><%= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab', new_tab_path %>
