<h1>Tabs</h1>

<table id="tabs_table">
  <thead>
    <tr>
      <th>Task</th>
      <th>Phase</th>
      <th>Order</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= tab.task.display_name unless tab.task.nil? %></td>
        <td><%= tab.phase.name unless tab.task.nil? %></td>
        <td><%= tab.order %></td>
        <td><%= link_to 'Show', tab %></td>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#tabs_table").DataTable({ 'pageLength': '100'});
</script>

<%= link_to 'New Tab', new_tab_path %>
