<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @tab.task.name unless @tab.task.nil? %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @tab.phase.name unless @tab.phase.nil? %>
</p>

<p>
  <strong>Order:</strong>
  <%= @tab.order %>
</p>

<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
