<%= form_for(@current_task) do |f| %>
  <% if @current_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_task.errors.count, "error") %> prohibited this current_task from being saved:</h2>

      <ul>
      <% @current_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.text_field :task_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
