<h1>Required Role</h1>

<p>
  <strong>Role:</strong>
  <%= @required_role.role.name unless @required_role.role.nil? %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @required_role.project_type.name unless @required_role.project_type.nil? %>
</p>

<p>
  <strong>Suggested percent:</strong>
  <%= @required_role.suggested_percent %>
</p>

<%= link_to 'Edit', edit_required_role_path(@required_role) %> |
<%= link_to 'Back', required_roles_path %>
