<h1>Listing Roles</h1>

<table id="roles_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Needs Agreement</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= (role.needs_agreement?)?  "Yes" : "No" %></td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#roles_table").DataTable({ "pageLength" : 100 });
</script>

<%= link_to 'New Role', new_role_path %>
