<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Needs Agreement:</strong>
  <%= @role.needs_agreement?? "Yes" : "No" %>
</p>


<p>
  <strong>Contract Description:</strong>
  <pre><%= @role.contract_description %></pre>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
