<h1>Listing draft_blurbs</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Draft blurb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_blurbs.each do |draft_blurb| %>
      <tr>
        <td><%= draft_blurb.project %></td>
        <td><%= draft_blurb.draft_blurb %></td>
        <td><%= link_to 'Show', draft_blurb %></td>
        <td><%= link_to 'Edit', edit_draft_blurb_path(draft_blurb) %></td>
        <td><%= link_to 'Destroy', draft_blurb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft blurb', new_draft_blurb_path %>
