<h1>Task Dependencies</h1>

<table id="task_dependencies_table">
  <thead>
    <tr>
      <th>Main Task</th>
      <th>Dependent Task</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @task_dependencies.each do |task_dependency| %>
      <tr>
        <td><%= link_to task_dependency.main_task.display_name, task_dependency.main_task unless task_dependency.main_task.nil?  %></td>
        <td><%= link_to task_dependency.dependent_task.display_name, task_dependency.dependent_task unless task_dependency.dependent_task.nil? %></td>
        <td><%= link_to 'Show', task_dependency %></td>
        <td><%= link_to 'Edit', edit_task_dependency_path(task_dependency) %></td>
        <td><%= link_to 'Destroy', task_dependency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#task_dependencies_table").DataTable({ 'pageLength': '100'});
</script>


<%= link_to 'New Task dependency', new_task_dependency_path %>
