		<article id="post-<%= post.title %>" class="post-<%= post.title %> post type-post status-publish format-standard has-post-thumbnail hentry category-authors category-book-managers category-book-marketing category-books category-booktrope-community category-news tag-authors tag-book-managers tag-book-marketing tag-books tag-news has-post-thumbnail">
			<% if post.featured_image_file_name %>
				<%= link_to image_tag(post.featured_image.url, class: "attachment-post-thumbnail wp-post-image", alt: "Terracotta_Warriors_Xian_6612w", size: "672x372"), post, class: "post-thumbnail" %>
			<% end %>
			<header class="entry-header">
				<div class="entry-meta">
					<span class="cat-links"><a href="https://teamtrope.com/category/booktrope-community/" title="View all posts in Booktrope Community" rel="category tag">Booktrope Community</a>, <a href="https://teamtrope.com/category/group/" title="View all posts in Groups" rel="category tag">Groups</a>, <a href="https://teamtrope.com/category/teamrooms/" title="View all posts in Teamrooms" rel="category tag">Teamrooms</a></span>
				</div>
				<h1 class="entry-title"><%= link_to post.title, post %></h1>
				<div class="entry-meta">
					<span class="entry-date">
						<%= link_to time_tag(post.post_date, class: "entry-date"), post, rel:"bookmark" %>
					</span>
					<span class="byline">
						<span class="author vcard">
							<%= link_to post.author.name, post.author, class: "url fn n", rel: "author" %>
						</span>
					</span>
					<span class="comments-link">
						<% comment_title = "Comment on #{post.title}" %>
						<%= link_to pluralize(post.comments.count, "comment"), post_path(post, anchor: "comments"), title: comment_title %>
					</span>
					<span class="edit-link">
						<%= link_to "Edit", edit_post_path(post), class: "post-edit-link" %>
					</span>
				</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
			
			<div class="entry-content">
				<%= post.content %>
			</div><!-- .entry-content -->	
			
			<% if post.tags %>
			<footer class="entry-meta">
				<span class="tag-links">
					<% post.tags.each do | tag | %>
						<%= link_to tag.name, tag %>
					<% end %>
				</span>
			</footer>
			<% end %>
		</article><!-- #post-## -->