<% provide(:title, "Edit #{@post.title}") %>
<h1>Edit Post</h1>
<%= form_for @post do | f | %>
	<%= f.label :title %><br />
	<%= f.text_field :title %><br />
	<%= f.label :post_date %><br />
	<%= f.text_field :post_date %><br />
	<%= f.hidden_field :author_id, value: current_user.id %><br />
	<%= f.label :content %><br />
	<%= f.text_area :content %><br />
	<br />
	<%= f.submit "Update Post" %>
<% end %>
