<% provide(:title, @post.title) %>
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
		
		<%= link_to "Back", posts_path %>
		
		<%= render @post %>
		
		<nav class="navigation post-navigation" role="navigation">
			<h1 class="screen-reader-text">Post navigation</h1>
			<div class="nav-links">
				<a href="https://teamtrope.com/2014/11/bookbub-clarification/" rel="prev">
					<span class="meta-nav">Previous Post</span>BookBub Clarification!
				</a>
			</div><!-- .nav-links -->
		</nav><!-- .navigation -->
		
		<div id="comments" class="comments-area">
			<h2 class="comments-title"><%= @post.comments.count.humanize %> <%= "thought".pluralize(@post.comments.count) %> on “<%= @post.title%>”</h2>
			<ol class="comment-list">
				<%= render @post.comments %>	
			</ol><!-- .comment-list -->
			<div id="respond" class="comment-respond">
				<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
				<%= form_for([@post, @post.comments.build], html: { class: "comment-form"} ) do |f| %>
					<%= render 'comments/fields', f: f %><br />
					<p><%= f.submit "Post Comment" %></p>
			  <% end %>			
			</div><!-- #respond -->
		</div><!-- #comments -->
	</div><!-- #content -->
</div><!-- #primary -->
<%= render "layouts/sidebar" %>