<h1>Project Type Workflows</h1>

<table>
  <thead>
    <tr>
      <th>Project Type</th>
      <th>Workflow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_type_workflows.each do |project_type_workflow| %>
      <tr>
        <td><%= project_type_workflow.project_type.name %></td>
        <td><%= project_type_workflow.workflow.name %></td>
        <td><%= link_to 'Show', project_type_workflow %></td>
        <td><%= link_to 'Edit', edit_project_type_workflow_path(project_type_workflow) %></td>
        <td><%= link_to 'Destroy', project_type_workflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project type workflow', new_project_type_workflow_path %>
