<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow:</strong>
  <%= @project_type_workflow.workflow_id %>
</p>

<p>
  <strong>Projecttype:</strong>
  <%= @project_type_workflow.project_type_id %>
</p>

<%= link_to 'Edit', edit_project_type_workflow_path(@project_type_workflow) %> |
<%= link_to 'Back', project_type_workflows_path %>
