<br>

<%= render partial: "final_manuscripts/final_manuscript_pdf" %>
<br>

<%= render partial: "final_manuscripts/final_manuscript_doc" %>
<br>

<%= simple_form_for(@final_manuscript) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :updated_pdf, 'no' %>
    <%= hidden_field_tag :updated_doc, 'no' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
