<%
# amazon s3 uploads
[
  {
    label: "Original Manuscript", required: true, callback_url: project_manuscript_url(@project),
    form_id: "original_manuscript_s3_uploader", callback_param: "original_manuscript[direct_upload_url]",
    container_id: "original_manuscript_uploads_container", object: @manuscript, column_name: "original",
    controller_action: 'download_original_manuscript'
  },
  {
    label: "Edited Manuscript", required: true, callback_url: project_manuscript_url(@project),
    form_id: "edited_manuscript_s3_uploader", callback_param: "edited_manuscript[direct_upload_url]",
    container_id: "edited_manuscript_uploads_container", object: @manuscript, column_name: "edited",
    controller_action: 'download_edited_manuscript'
  },
  {
    label: "Proofread Reviewed", required: true, callback_url: project_manuscript_url(@project),
    form_id: "proofread_reviewed_manuscript_s3_uploader", callback_param: "proofread_reviewed_manuscript[direct_upload_url]",
    container_id: "proofread_reviewed_manuscript_uploads_container", object: @manuscript, column_name: "proofread_reviewed",
    controller_action: 'download_proofread_reviewed_manuscript'
  },
  {
    label: "Proofread Final Manuscript", required: true, callback_url: project_manuscript_url(@project),
    form_id: "proofread_final_manuscript_s3_uploader", callback_param: "proofread_final_manuscript[direct_upload_url]",
    container_id: "proofread_final_manuscript_uploads_container", object: @manuscript, column_name: "proofread_final",
    controller_action: 'download_proofread_final_manuscript'

  }
].each do | s3_upload_hash | %>

<%= render partial: "shared/amazon_s3_upload", locals: s3_upload_hash %>

<% end %>


<%= simple_form_for(@manuscript) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :updated_original_manuscript, 'no' %>
    <%= hidden_field_tag :updated_edited_manuscript, 'no' %>
    <%= hidden_field_tag :updated_proofread_reviewed_manuscript, 'no' %>
    <%= hidden_field_tag :updated_proofread_final_manuscript, 'no' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
