<br>
<%= render partial: "manuscripts/original_manuscript" %>

<br>
<%= render partial: "manuscripts/edited_manuscript" %>

<br>
<%= render partial: "manuscripts/proofed_manuscript" %>

<br>
<%= simple_form_for(@manuscript) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :updated_original_manuscript, 'no' %>
    <%= hidden_field_tag :updated_edited_manuscript, 'no' %>
    <%= hidden_field_tag :updated_proofed_manuscript, 'no' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
