<% if ! @last_errors.nil? && @last_errors.length > 0 %>
    console.log(<%=@last_errors.to_s.html_safe%>);
    $('#upload_<%=params[:unique_id]%>').html('<span>There was an error processing your file.  Please check the file type and try again.<br><br></span>');
<% else %>

    <% if @manuscript.persisted? %>
        $('#upload_<%=params[:unique_id]%>').hide();

        <% if ! @updated_file.nil? %>
            $('#<%=@updated_file%>_s3_uploader').html('<span><%=params[:filename] %> was successfully uploaded.</span>');

            <% if @updated_file == 'original_manuscript' %>
                $('#original_manuscript_submit_button').removeAttr('disabled').removeClass('disabled');
            <% end %>

            <% if @updated_file == 'edited_manuscript' %>
                $('#edited_manuscript_submit_button').removeAttr('disabled').removeClass('disabled');
            <% end %>

            <% if @updated_file == 'proofed_manuscript' %>
                $('#submit_proofred_manuscript_fake').removeAttr('disabled').removeClass('disabled');
            <% end %>
        <% end %>
    <% else %>
        $('#upload_<%=params[:unique_id]%> div.progress').removeClass('active progress-striped').addClass('progress-danger');
    <% end %>
<% end %>
