console.log(<%=@last_errors%>);

<% if @manuscript.persisted? %>
$('#upload_<%=params[:unique_id]%>').hide();

    <% if ! @updated_file.nil? %>
        $('#<%=@updated_file%>_s3_uploader').html('<span><%=params[:filename] %> was successfully uploaded.</span>');

        <% if @updated_file == 'original_manuscript' %>
            $('#original_manuscript_submit_button').removeAttr('disabled').removeClass('disabled');
            $('#updated_original_manuscript').val('yes');
        <% end %>

        <% if @updated_file == 'edited_manuscript' %>
            $('#edited_manuscript_submit_button').removeAttr('disabled').removeClass('disabled');
            $('#updated_edited_manuscript').val('yes');
        <% end %>

        <% if @updated_file == 'proofed_manuscript' %>
            $('#submit_proofred_manuscript_fake').removeAttr('disabled').removeClass('disabled');
            $('#updated_proofed_manuscript').val('yes');
        <% end %>
    <% end %>

<% else %>
    $('#upload_<%=params[:unique_id]%> div.progress').removeClass('active progress-striped').addClass('progress-danger');
<% end %>
