<h1>Manuscripts</h1>

<table id="manuscripts_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Update</th>
      <th>Original</th>
      <th>Edited</th>
      <th>Proofed</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @manuscripts.each do |manuscript| %>
      <tr>
        <td><%= link_to manuscript.project.book_title, manuscript.project %></td>
        <td><%= manuscript.updated_at %></td>
        <td>
          <% unless manuscript.original_file_name.nil? %>
            <%= link_to manuscript.original_file_name, url_for(controller: 'projects', action: 'download_original_manuscript', id: manuscript.project, only_path: false) %>
          <% else %>
          -
          <% end %>
        </td>
        <td>
          <% unless manuscript.edited_file_name.nil? %>
            <%= link_to manuscript.edited_file_name, url_for(controller: 'projects', action: 'download_edited_manuscript', id: manuscript.project, only_path: false) %>
          <% else %>
          -
          <% end %>
        </td>
        <td>
          <% unless manuscript.proofed_file_name.nil? %>
            <%= link_to manuscript.proofed_file_name, url_for(controller: 'projects', action: 'download_proofed_manuscript', id: manuscript.project, only_path: false) %>
          <% else %>
          -
          <% end %>
        </td>
        <td><%= link_to 'Show', manuscript %></td>
        <td><% if can? :edit, manuscript %><%= link_to 'Edit', edit_manuscript_path(manuscript) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#manuscripts_table").DataTable({ "pageLength" : 100 });
</script>
