<h1>Manuscripts</h1>

<table id="manuscripts_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Update</th>
      <th>Original</th>
      <th>First Pass Edit</th>
      <th>Edited</th>
      <th>Proofed</th>
      <th>Proofread Complete</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @manuscripts.each do |manuscript| %>
      <tr>
        <td><%= link_to manuscript.project.title, manuscript.project %></td>
        <td><%= manuscript.updated_at %></td>
        <% Manuscripts::MANUSCRIPT_VERSIONS.each do |version| %>
        <% filename_attr = version + '_file_name' %>
        <td>
          <% if manuscript.send(filename_attr) %>
            <%= link_to manuscript.send(filename_attr), url_for(controller: 'projects', action: 'download_' + version, id: manuscript.project, only_path: false) %>
          <% else %>
          -
          <% end %>
        </td>
        <% end %>

        <td><%= link_to 'Show', manuscript %></td>
        <td><% if can? :edit, manuscript %><%= link_to 'Edit', edit_manuscript_path(manuscript) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#manuscripts_table").DataTable({ "pageLength" : 100 });
</script>
