<h2>Showing Manuscript files for <%= @project.title %></h2>

<div>Project: <%= link_to @project.title, project_path(@project) %></div>

<table>
  <thead>
    <th>Manuscript</th>
    <th>Name</th>
    <th>Size</th>
    <th>Updated</th>
  </thead>
  <tbody>

    <% Manuscript::MANUSCRIPT_VERSIONS.each do |version| %>
    <% filename_attr = version + '_file_name' %>
    <tr>
      <td>
        <%= version %>
      </td>
      <td>
        <% if @manuscript.send(filename_attr) %>
          <%= link_to @manuscript.send(filename_attr), url_for(controller: 'projects', action: 'download_' + version, id: @manuscript.project, only_path: false) %>
        <% else %>
          -
        <% end %>
      </td>

      <td>
        <%= @manuscript.send(version + '_file_size') || '-' %>
      </td>
      <td>
        <%= @manuscript.send(version + '_updated_at') || '-' %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<% if can? :edit, @Manuscript %>
  <%= link_to 'Edit', edit_manuscript_path(@manuscript) %> |
  <%= link_to 'Back', manuscripts_path %>
<% end %>
