<%= simple_form_for(@hellosign_document_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <label>Hellosign Template Id<span class="required">*</span></label>
    <%= f.input :template_id, label: false, required: true %>
    <%= f.input :name %>

    <%= f.input :subject %>
    <%= f.input :message %>

    <%#= f.input :signers %>
    <%#= f.input :ccs %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
