<%= simple_form_for(@hellosign_document_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :subject %>
    <%= f.input :message %>
    <%= f.input :template_id %>
    <%#= f.input :signers %>
    <%#= f.input :ccs %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
