<h1><%= @hellosign_document_type.name %></h1>

<p>
  <strong>Hellosign Template ID:</strong>
  <%= @hellosign_document_type.template_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @hellosign_document_type.subject %>
</p>

<p>
  <strong>Message:</strong>
  <pre>
    <%= @hellosign_document_type.message %>
  </pre>
</p>

<h2>Signers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @hellosign_document_type.signers.each do | signer | %>
  <tr>
    <td><%= signer['name'] %></td>
    <td><%= signer['email_address'] %></td>
    <td><%= signer['role'] %></td>
  </tr>
  <% end %>
</table>

<h2>CCs</h2>
<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @hellosign_document_type.ccs.each do | signer | %>
  <tr>
    <td><%= signer['email_address'] %></td>
    <td><%= signer['role'] %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_hellosign_document_type_path(@hellosign_document_type) %> |
<%= link_to 'Back', hellosign_document_types_path %>
