<h1><%= @hellosign_document_type.name %></h1>

<p>
  <strong>Hellosign Template ID:</strong>
  <%= @hellosign_document_type.template_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @hellosign_document_type.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @hellosign_document_type.message %>
</p>

<!-- list of signers -->
<p>
  <strong>Signers:</strong>
  <%= @hellosign_document_type.signers %>
</p>

<!-- list of ccs -->
<p>
  <strong>CCs:</strong>
  <%= @hellosign_document_type.ccs %>
</p>

<%= link_to 'Edit', edit_hellosign_document_type_path(@hellosign_document_type) %> |
<%= link_to 'Back', hellosign_document_types_path %>
