<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hellosign_document_type.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @hellosign_document_type.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @hellosign_document_type.message %>
</p>

<p>
  <strong>Template:</strong>
  <%= @hellosign_document_type.template_id %>
</p>

<p>
  <strong>Signers:</strong>
  <%= @hellosign_document_type.signers %>
</p>

<p>
  <strong>Ccs:</strong>
  <%= @hellosign_document_type.ccs %>
</p>

<%= link_to 'Edit', edit_hellosign_document_type_path(@hellosign_document_type) %> |
<%= link_to 'Back', hellosign_document_types_path %>
