<h1>Marketing Expenses</h1>

<table id="marketing_expenses_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Invoice due date</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Type</th>
      <th>Service Provider</th>
      <th>Cost</th>
      <th>Other information</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @marketing_expenses.each do |marketing_expense| %>
      <tr>
        <td><%= link_to marketing_expense.project.try(:title), marketing_expense.project %></td>
        <td><%= marketing_expense.invoice_due_date %></td>
        <td><%= marketing_expense.start_date %></td>
        <td><%= marketing_expense.end_date %></td>
        <td><%= marketing_expense.expense_type.join(',') %></td>
        <td><%= marketing_expense.service_provider.join(',') %></td>
        <td><%= marketing_expense.cost %></td>
        <td><%= marketing_expense.other_information %></td>
        <td><%= link_to 'Show', marketing_expense %></td>
        <td>
          <% if can? :edit, marketing_expense %>
            <%= link_to 'Edit', edit_marketing_expense_path(marketing_expense) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#marketing_expenses_table").DataTable({ 'pageLength': '100'});
</script>
