<h1>Phases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
			<th>Vertical order</th>
      <th>Color value</th>
      <th>Color</th>
      <th>Icon</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.name %></td>
        <td><%= phase.vertical_order %></td>
        <td><%= content_tag :span, phase.color_value, style: ["background-color:#{phase.color_value};", "color:#ffffff"]  %></td>
        <td><%= phase.color %></td>
        <td><%= phase.icon %></td>
        <td><%= link_to 'Show', phase %></td>
        <td><%= link_to 'Edit', edit_phase_path(phase) %></td>
        <td><%= link_to 'Destroy', phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phase', new_phase_path %>
