<h1>Phases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order</th>
      <th>Color value</th>
      <th>Color</th>
      <th>Icon</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.name %></td>
        <td><%= phase.order %></td>
        <td><%= content_tag :span, phase.color_value, style: ["background-color:#{phase.color_value};", "color:#ffffff"]  %></td>
        <td><%= phase.color %></td>
        <td><%= phase.icon %></td>
        <td><%= link_to 'Show', phase %></td>
        <td><%= link_to 'Edit', edit_phase_path(phase) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#control_numbers_table").DataTable({ 'pageLength': '100'});
</script>


<%= link_to 'New Phase', new_phase_path %>
