<h4>Stock Image Request</h4>
Image Request(s): <br/>
<% if(!@project.cover_concept.image_request_list.nil? &&
       @project.cover_concept.image_request_list.count > 0) %>
    <table cellspacing="0" border="0" height="100%" cellpadding="3" cellspacing="3" width="80%">
      <thead>
      <tr>
        <th style="text-align: left; background-color: #555555; color: white; line-height: 18px;">Subject</th>
        <th style="text-align: left;  background-color: #555555; color: white; line-height: 18px;">Link</th>
      </tr>
      </thead>
      <tbody>
      <% @project.cover_concept.image_request_list.each do |img| %>
          <tr bgcolor="<%= cycle('#ffffff', '#a3a9af') -%>">
            <td style="text-align: left; overflow: auto; font-family: Arial, Helvetica, sans-serif; line-height: 18px;"> <%= img['subject']  %></td>
            <td style="text-align: left; overflow: auto; font-family: Arial, Helvetica, sans-serif; line-height: 18px;"> <%= img['link'] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<h4>Cover Concept Notes</h4>
Cover Concept Notes:
<% if(! @project.cover_concept.cover_concept_notes.nil?) %>
    <pre style="width: 800px; height: 300px; overflow: auto;">
      <%= @project.cover_concept.try(:cover_concept_notes) %>
    </pre><br/>
<% end %>

<h4>Cover Concept</h4>
<% if ! @project.cover_concept %>
    N/A<br/>
<% else %>
    <div>
      Cover Concept: <%= link_to "DOWNLOAD", download_cover_concept_path(@project) if cover_concept.cover_concept? %><br/>
    </div>
    <%= image_tag download_cover_concept_path(@project), class: 'alignright', width: "340px" if cover_concept.try(:cover_concept?) %>

    <div style="clear: right;">
        Stock Cover Image: <%= link_to "DOWNLOAD", download_stock_cover_image_path(@project) if cover_concept.stock_cover_image? %><br/>
    </div>
    <% if(['image/jpeg', 'image/pjpeg'].include? cover_concept.try(:stock_cover_image_content_type)) %>
        <%= image_tag download_stock_cover_image_path(@project), class: 'alignright', width: "340px" if cover_concept.try(:stock_cover_image?) %>
    <% end %>

<% end %>
<br>
