<br>
<%= render partial: "cover_concepts/cover_concept_image" %>

<br>
<%= render partial: "cover_concepts/stock_cover_image" %>

<br>
<%= simple_form_for(@cover_concept) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= hidden_field_tag :updated_cover_concept %>
    <%= hidden_field_tag :updated_stock_cover_image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
