<% provide(:title, "High Allocations") %>
<div class="page" id="blog-page" role="main">
  <h2>Projects Lacking Tasks</h2><br />
  <h3>Total: (<%= @projects.map.count %>)</h3>

  <script type="text/javascript" async="">
    function toggleTable1() {
    var lTable = document.getElementById("ProjectListTable");
    lTable.style.display = (lTable.style.display == "table") ? "none" : "table";}
  </script>
  <table id="ProjectListTable" class="projectListTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Missing Tasks</th>
        <th>Prod Workflow Step</th>
        <th>Design Step</th>
        <th>Marketing Step</th>
      </tr>
    </thead>
  <% @projects.each do | project | %>
    <% next if project.nil? %>
    <tr>
      <td><%= link_to project.title, project %></td>
      <td><%=  3 - project.task_count %></td>
      <td><%= project.current_task_for_workflow('Production').try(:task).try(:name) %></td>
      <td><%= project.current_task_for_workflow('Design').try(:task).try(:name) %></td>
      <td><%= project.current_task_for_workflow('Marketing').try(:task).try(:name) %></td>
    </tr>
  <% end %>
  </table>
  <script>
  $("#ProjectListTable").DataTable({
      "pageLength" : 50
  });
  </script>
</div>
