<% provide(:title, "Scribd Metadata Export") %>
<div class="page" id="blog-page" role="main">
  <h2>Scribd Metadata Export</h2><br />
  <div id="scribd_metadata_export_results"></div>
  <%= button_to "Email Report",
    {
      controller: 'reports',
      action: 'send_scribd_export_email',
      page: @current_path,
    },
    {
      remote: true,
      id: 'email_scribd_report_button',
      class: 'btn',
      on_click: "alert('test');",
      method: :post,
      form: { id: "scribd_metadata_export_form" }
    }
  %>
  <script type="text/javascript">

    $('#scribd_metadata_export_form').bind("submit", function() {
      $("#email_scribd_report_button").attr("disabled", true)
      $("#email_scribd_report_button").addClass("disabled")
    });

    function toggleTable1() {
    var lTable = document.getElementById("ProjectListTable");
    lTable.style.display = (lTable.style.display == "table") ? "none" : "table";}
  </script>
  <table id="ProjectListTable" class="projectListTable">
    <thead>
      <% Constants::ScribdCsvHeaderHash.values.each do | column_name | %>
      <th><%= column_name %></th>
      <% end %>
    </thead>
    <% @scribd_metadata_export_items.each do | scribd_meta_hash | %>
    <tr>
      <td><%= scribd_meta_hash[:project_id] %></td>
      <td><%= scribd_meta_hash[:imprint] %></td>

      <td><%= scribd_meta_hash[:parent_isbn] %></td>
      <td><%= scribd_meta_hash[:ebook_isbn] %></td>
      <td><%= scribd_meta_hash[:format] %></td>
      <td><%= scribd_meta_hash[:filename] %></td>
      <td class='book-title'><%= link_to scribd_meta_hash[:title], scribd_meta_hash[:project] %> </td>
      <td><%= scribd_meta_hash[:subtitle] %></td>
      <td><%= scribd_meta_hash[:authors] %></td>
      <td><%= scribd_meta_hash[:publication_date] %></td>
      <td><%= scribd_meta_hash[:street_date] %></td>
      <td><%= scribd_meta_hash[:digital_list_price] %></td>
      <td><%= scribd_meta_hash[:currency] %></td>
      <td><%= scribd_meta_hash[:permitted_sales_territories] %></td>
      <td><%= scribd_meta_hash[:excluded_sales_territories] %></td>
      <td><%= scribd_meta_hash[:short_description] %></td>
      <td><%= scribd_meta_hash[:bisac_categories] %></td>
      <td><%= scribd_meta_hash[:number_of_pages] %></td>
      <td><%= scribd_meta_hash[:series] %></td>
      <td><%= scribd_meta_hash[:delete] %></td>
      <td><%= scribd_meta_hash[:direct_purchase] %></td>
      <td><%= scribd_meta_hash[:subscription] %></td>
      <td>10%</td>
      <td>eng</td>
      <td><%= scribd_meta_hash[:genre] %></td>
      <td><%= scribd_meta_hash[:prefunk_enrollment] %></td>
    </tr>
    <% end %>
  </table>
  <script>
    $("#ProjectListTable").DataTable({
      "paging": false,
      "order": []
    });
  </script>
</div>
