<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_prerequisite_field.task %>
</p>

<p>
  <strong>Field name:</strong>
  <%= @task_prerequisite_field.field_name %>
</p>

<%= link_to 'Edit', edit_task_prerequisite_field_path(@task_prerequisite_field) %> |
<%= link_to 'Back', task_prerequisite_fields_path %>
