<%= form_for(@current_step) do |f| %>
  <% if @current_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_step.errors.count, "error") %> prohibited this current_step from being saved:</h2>

      <ul>
      <% @current_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :workflow_step_id %><br>
    <%= f.text_field :workflow_step_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
