<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @current_step.project %>
</p>

<p>
  <strong>Workflow step:</strong>
  <%= @current_step.workflow_step %>
</p>

<%= link_to 'Edit', edit_current_step_path(@current_step) %> |
<%= link_to 'Back', current_steps_path %>
