        <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
          <button class="menu-toggle">Primary Menu</button>
          <a class="screen-reader-text skip-link" href="#content">Skip to content</a>
          <div class="menu-main-container">
            <ul id="menu-main" class="nav-menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><%= link_to "Home", 'https://teamtrope.com'%></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Members", 'https://teamtrope.com/members/' %></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://teamtrope.com/groups/?tree">Teamrooms</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><%= link_to 'Projects(The Grid)', projects_path %>
                <ul class="sub-menu">

                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><%= link_to "* Help *", 'https://teamtrope.com/project-status-and-grid-explanation/'%></li>
                  <% Constants::ProjectsIndexFilters.each do | key, value | %>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-status"><%= link_to value, projects_path(show: key) %></li>
                  <% end %>

                  <% if current_user.role? :booktrope_staff %>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-status"><%= link_to "Admin", '#' %>
                    <ul class="sub-menu">
                      <% Constants::AdminProjectsIndexFilters.each do | key, value | %>
                      <li class="menu-item menu-item-type-taxonomy menu-item-object-status"><%= link_to value, projects_path(show: key) %></li>
                      <% end %>
                    </ul>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li id="menu-item-3035" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3035"><a href="#">Groups</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://teamtrope.com/groups/authors/">Authors</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://teamtrope.com/groups/editors/">Editors</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://teamtrope.com/groups/designers/">Designers</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://teamtrope.com/groups/book-managers/">Book Managers</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://teamtrope.com/groups/founder-topics/">Founders</a></li>
                </ul>
              </li>
              <li id="menu-item-1800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1800"><a href="https://teamtrope.com/groups/booktrope-policy-procedures/docs/">Help!</a></li>
              <li id="menu-item-1942" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1942">
                <a href="#">Howdy, <%= current_user.name %>&nbsp;&nbsp;<%= image_tag current_user.profile.avatar.url(:thumb), size: "26x26" %></a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><%= link_to image_tag(current_user.profile.avatar.url(:thumb), size: "64x64", class: "avatar"), current_user.profile_page %></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
