<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US">
<head>
  <script src="https://teamtrope.com/wp-content/themes/twentyfourteen/_inc/sorttable.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= full_title(yield(:title))%></title>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="https://teamtrope.com/xmlrpc.php">
  <!--[if lt IE 9]>
    <script src="https://teamtrope.com/wp-content/themes/twentyfourteen/js/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://teamtrope.com/wp-content/themes/twentyfourteen/css/demo.css">
  <link rel="stylesheet" href="https://teamtrope.com/wp-content/themes/twentyfourteen/css/pcss3t.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="Teamtrope &raquo; Feed" href="https://teamtrope.com/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Teamtrope &raquo; Comments Feed" href="https://teamtrope.com/comments/feed/" />
  <link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=3.9.2' type='text/css' media='all' />
  <link rel='stylesheet' id='bp-admin-bar-css'  href='https://teamtrope.com/wp-content/plugins/buddypress/bp-core/css/admin-bar.min.css?ver=2.0.1' type='text/css' media='all' />
  <link rel='stylesheet' id='rcpt_style-css'  href='https://teamtrope.com/wp-content/plugins/recent_custom_post_type/media/style.css?ver=3.9.2' type='text/css' media='all' />
  
  <link rel='stylesheet' id='bowe-codes-css-css'  href='https://teamtrope.com/wp-content/plugins/bowe-codes/css/bowe-codes.css?ver=2.1' type='text/css' media='all' />
  <link rel='stylesheet' id='bp-legacy-css-css'  href='https://teamtrope.com/wp-content/plugins/buddypress/bp-templates/bp-legacy/css/buddypress.css?ver=2.0.1' type='text/css' media='screen' />
  <link rel='stylesheet' id='jquery-ui-standard-css-css'  href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css?ver=3.9.2' type='text/css' media='all' />
  
  <link rel='stylesheet' id='twentyfourteen-lato-css'  href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic' type='text/css' media='all' />
  <link rel='stylesheet' id='genericons-css'  href='https://teamtrope.com/wp-content/plugins/jetpack/_inc/genericons/genericons.css?ver=3.0.3' type='text/css' media='all' />
  <link rel='stylesheet' id='twentyfourteen-style-css'  href='https://teamtrope.com/wp-content/themes/twentyfourteen/style.css?ver=3.9.2' type='text/css' media='all' />
  
  <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentyfourteen-ie-css'  href='https://teamtrope.com/wp-content/themes/twentyfourteen/css/ie.css?ver=20131205' type='text/css' media='all' />
  <![endif]-->
  <link rel='stylesheet' id='wp-advanced-rp-css-css'  href='https://teamtrope.com/wp-content/plugins/advanced-recent-posts-widget/css/advanced-recent-posts-widget.css?ver=3.9.2' type='text/css' media='all' />
  <link rel='stylesheet' id='wpcountdown-css'  href='https://teamtrope.com/wp-content/plugins/wpcountdown/static/css/main.css?ver=1.1' type='text/css' media='all' />
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var BP_DTheme = {"accepted":"Accepted","close":"Close","comments":"comments","leave_group_confirm":"Are you sure you want to leave this group?","mark_as_fav":"Favorite","my_favs":"My Favorites","rejected":"Rejected","remove_fav":"Remove Favorite","show_all":"Show all","show_all_comments":"Show all comments for this thread","show_x_comments":"Show all %d comments","unsaved_changes":"Your profile has unsaved changes. If you leave the page, the changes will be lost.","view":"View"};
    /* ]]> */
  </script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/buddypress/bp-templates/bp-legacy/js/buddypress.js?ver=2.0.1'></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
      var BP_Confirm = {"are_you_sure":"Are you sure?"};
    /* ]]> */
  </script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/buddypress/bp-core/js/confirm.min.js?ver=2.0.1'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/wpcountdown/static/js/countdown.js?ver=1.1'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/google-analyticator/external-tracking.min.js?ver=6.4.7.3'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://teamtrope.com/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://teamtrope.com/wp-includes/wlwmanifest.xml" /> 
  <link rel='prev' title='Living and Dying with Dogs' href='https://teamtrope.com/projects/living-and-dying-with-dogs-or-why-the-refugees-crossed-the-road-by-duke-miller/' />
  <link rel='next' title='The Soured Earth' href='https://teamtrope.com/projects/the-soured-earth-by-sophie-weeks/' />
  <meta name="generator" content="WordPress 3.9.2" />
  <link rel='canonical' href='https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/' />
  <script type="text/javascript">var ajaxurl = 'https://teamtrope.com/wp-admin/admin-ajax.php';</script>
  <style id="fourteen-colors" type="text/css">

		/* Custom accent color. */

		button,

		.button,

		.contributor-posts-link,

		input[type="button"],

		input[type="reset"],

		input[type="submit"],

		.search-toggle,

		.hentry .mejs-controls .mejs-time-rail .mejs-time-current,

		.hentry .mejs-overlay:hover .mejs-overlay-button,

		.widget button,

		.widget .button,

		.widget input[type="button"],

		.widget input[type="reset"],

		.widget input[type="submit"],

		.widget_calendar tbody a,

		.content-sidebar .widget input[type="button"],

		.content-sidebar .widget input[type="reset"],

		.content-sidebar .widget input[type="submit"],

		.slider-control-paging .slider-active:before,

		.slider-control-paging .slider-active:hover:before,

		.slider-direction-nav a:hover,

		.ie8 .primary-navigation ul ul,

		.ie8 .secondary-navigation ul ul,

		.ie8 .primary-navigation li:hover > a,

		.ie8 .primary-navigation li.focus > a,

		.ie8 .secondary-navigation li:hover > a,

		.ie8 .secondary-navigation li.focus > a {

			background-color: #4992bc;

		}



		.site-navigation a:hover {

			color: #4992bc;

		}



		::-moz-selection {

			background: #4992bc;

		}



		::selection {

			background: #4992bc;

		}



		.paging-navigation .page-numbers.current {

			border-color: #4992bc;

		}



		@media screen and (min-width: 782px) {

			.primary-navigation li:hover > a,

			.primary-navigation li.focus > a,

			.primary-navigation ul ul {

				background-color: #4992bc;

			}

		}



		@media screen and (min-width: 1008px) {

			.secondary-navigation li:hover > a,

			.secondary-navigation li.focus > a,

			.secondary-navigation ul ul {

				background-color: #4992bc;

			}

		}

	

			.contributor-posts-link,

			.button,

			button,

			input[type="button"],

			input[type="reset"],

			input[type="submit"],

			.search-toggle:before,

			.hentry .mejs-overlay:hover .mejs-overlay-button,

			.widget button,

			.widget .button,

			.widget input[type="button"],

			.widget input[type="reset"],

			.widget input[type="submit"],

			.widget_calendar tbody a,

			.widget_calendar tbody a:hover,

			.site-footer .widget_calendar tbody a,

			.content-sidebar .widget input[type="button"],

			.content-sidebar .widget input[type="reset"],

			.content-sidebar .widget input[type="submit"],

			button:hover,

			button:focus,

			.button:hover,

			.button:focus,

			.widget a.button:hover,

			.widget a.button:focus,

			.widget a.button:active,

			.content-sidebar .widget a.button,

			.content-sidebar .widget a.button:hover,

			.content-sidebar .widget a.button:focus,

			.content-sidebar .widget a.button:active,

			.contributor-posts-link:hover,

			.contributor-posts-link:active,

			input[type="button"]:hover,

			input[type="button"]:focus,

			input[type="reset"]:hover,

			input[type="reset"]:focus,

			input[type="submit"]:hover,

			input[type="submit"]:focus,

			.slider-direction-nav a:hover:before,

			.ie8 .primary-navigation li:hover > a,

			.ie8 .primary-navigation li.focus > a,

			.ie8 .secondary-navigation li:hover > a,

			.ie8 .secondary-navigation li.focus > a {

				color: #2b2b2b;

			}



			@media screen and (min-width: 782px) {

				.site-navigation li .current_page_item > a,

				.site-navigation li .current_page_ancestor > a,

				.site-navigation li .current-menu-item > a,

				.site-navigation li .current-menu-ancestor > a,

				.primary-navigation ul ul a,

				.primary-navigation li:hover > a,

				.primary-navigation li.focus > a,

				.primary-navigation ul ul {

					color: #2b2b2b;

				}

			}



			@media screen and (min-width: 1008px) {

				.secondary-navigation ul ul a,

				.secondary-navigation li:hover > a,

				.secondary-navigation li.focus > a,

				.secondary-navigation ul ul {

					color: #2b2b2b;

				}

			}



			::selection {

				color: #2b2b2b;

			}



			::-moz-selection {

				color: #2b2b2b;

			}



			.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded {

				background-color: #2b2b2b;

			}



		

		/* Generated variants of custom accent color. */

		a,

		.content-sidebar .widget a {

			color: #3079a3;

		}



		.contributor-posts-link:hover,

		.button:hover,

		.button:focus,

		.slider-control-paging a:hover:before,

		.search-toggle:hover,

		.search-toggle.active,

		.search-box,

		.widget_calendar tbody a:hover,

		button:hover,

		button:focus,

		input[type="button"]:hover,

		input[type="button"]:focus,

		input[type="reset"]:hover,

		input[type="reset"]:focus,

		input[type="submit"]:hover,

		input[type="submit"]:focus,

		.widget button:hover,

		.widget .button:hover,

		.widget button:focus,

		.widget .button:focus,

		.widget input[type="button"]:hover,

		.widget input[type="button"]:focus,

		.widget input[type="reset"]:hover,

		.widget input[type="reset"]:focus,

		.widget input[type="submit"]:hover,

		.widget input[type="submit"]:focus,

		.content-sidebar .widget input[type="button"]:hover,

		.content-sidebar .widget input[type="button"]:focus,

		.content-sidebar .widget input[type="reset"]:hover,

		.content-sidebar .widget input[type="reset"]:focus,

		.content-sidebar .widget input[type="submit"]:hover,

		.content-sidebar .widget input[type="submit"]:focus,

		.ie8 .primary-navigation ul ul a:hover,

		.ie8 .primary-navigation ul ul li.focus > a,

		.ie8 .secondary-navigation ul ul a:hover,

		.ie8 .secondary-navigation ul ul li.focus > a {

			background-color: #66afd9;

		}



		.featured-content a:hover,

		.featured-content .entry-title a:hover,

		.widget a:hover,

		.widget-title a:hover,

		.widget_twentyfourteen_ephemera .entry-meta a:hover,

		.hentry .mejs-controls .mejs-button button:hover,

		.site-info a:hover,

		.featured-content a:hover {

			color: #66afd9;

		}



		a:active,

		a:hover,

		.entry-title a:hover,

		.entry-meta a:hover,

		.cat-links a:hover,

		.entry-content .edit-link a:hover,

		.post-navigation a:hover,

		.image-navigation a:hover,

		.comment-author a:hover,

		.comment-list .pingback a:hover,

		.comment-list .trackback a:hover,

		.comment-metadata a:hover,

		.comment-reply-title small a:hover,

		.content-sidebar .widget a:hover,

		.content-sidebar .widget .widget-title a:hover,

		.content-sidebar .widget_twentyfourteen_ephemera .entry-meta a:hover {

			color: #4d96c0;

		}



		.page-links a:hover,

		.paging-navigation a:hover {

			border-color: #4d96c0;

		}



		.entry-meta .tag-links a:hover:before {

			border-right-color: #4d96c0;

		}



		.page-links a:hover,

		.entry-meta .tag-links a:hover {

			background-color: #4d96c0;

		}



		@media screen and (min-width: 782px) {

			.primary-navigation ul ul a:hover,

			.primary-navigation ul ul li.focus > a {

				background-color: #66afd9;

			}

		}



		@media screen and (min-width: 1008px) {

			.secondary-navigation ul ul a:hover,

			.secondary-navigation ul ul li.focus > a {

				background-color: #66afd9;

			}

		}



		button:active,

		.button:active,

		.contributor-posts-link:active,

		input[type="button"]:active,

		input[type="reset"]:active,

		input[type="submit"]:active,

		.widget input[type="button"]:active,

		.widget input[type="reset"]:active,

		.widget input[type="submit"]:active,

		.content-sidebar .widget input[type="button"]:active,

		.content-sidebar .widget input[type="reset"]:active,

		.content-sidebar .widget input[type="submit"]:active {

			background-color: #7ac3ed;

		}



		.site-navigation .current_page_item > a,

		.site-navigation .current_page_ancestor > a,

		.site-navigation .current-menu-item > a,

		.site-navigation .current-menu-ancestor > a {

			color: #7ac3ed;

		}

  </style>
  <style>@media screen and (min-width: 783px){.primary-navigation{float: right;margin-left: 20px;}a { transition: all .5s ease; }}</style>
  <style>.site {margin: 0 auto;max-width: 1260px;width: 100%;}.site-header{max-width: 1260px;}
		@media screen and (min-width: 1110px) {.archive-header,.comments-area,.image-navigation,.page-header,.page-content,.post-navigation,.site-content .entry-header,

	    .site-content .entry-content,.site-content .entry-summary,.site-content footer.entry-meta{padding-left: 55px;}}
  </style>
  <style>
	    .site-content .entry-header,.site-content .entry-content,.site-content .entry-summary,.site-content .entry-meta,.page-content 

		{max-width: 700px;}.comments-area{max-width: 700px;}.post-navigation, .image-navigation{max-width: 700px;}
  </style>
  
  <style>.site:before,#secondary{width:0;display:none;}.ie8 .site:before,.ie8 #secondary{width:0px;display:none;}

	    .featured-content{padding-left:0;}.site-content,.site-main .widecolumn{margin-left:0;}.ie8 .site-content,.ie8 .site-main .widecolumn{margin-left:0;}

		@media screen and (min-width: 1008px) {.search-box-wrapper{padding-left:0;}}

		@media screen and (min-width: 1080px) {.search-box-wrapper,.featured-content{padding-left:0;}}

		@media screen and (min-width: 1080px) {.grid-content{padding-left:0;}}
  </style>
  <style>.hentry{max-width: 1038px;}

	    img.size-full,img.size-large,.wp-post-image,.post-thumbnail img,.site-content .post-thumbnail img{max-height: 572px;}
  </style>
  <style>

		.slider .featured-content .hentry{max-height: 500px;}.slider .featured-content{max-width: 1600px;

		margin: 0px auto;}.slider .featured-content .post-thumbnail img{max-width: 1600px;width: 100%;}

		.slider .featured-content .post-thumbnail{background:none;}.slider .featured-content a.post-thumbnail:hover{background-color:transparent;}
  </style>
  <style type="text/css">

.ui-widget {

font-family: inherit;

font-size: inherit;

}

.ui-tabs .ui-tabs-panel {

padding: 0 1.4em;

}

.ui-state-highlight p, .ui-state-error p {

line-height: 1em;

}

.ui-accordion .ui-accordion-content {

padding: 0 1.4em;

}

.ui-widget-content p, .ui-widget p {

margin: 1em 0;

}

.ui-helper-reset {

line-height: inherit;

}

.ui-dialog-content {

line-height: 1.3em;

}

/* Twenty Ten specific fix. */

#content .ui-accordion h3 {

margin: 0;

}
  </style>

  <style type='text/css'>img#wpstats{display:none}</style><style type="text/css" id="custom-background-css">
    body.custom-background { background-color: #ffffff; }
  </style>
  <style type="text/css" media="print">#wpadminbar { display:none; }</style>
  <style type="text/css" media="screen">
	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}
  </style>
  <!-- Jetpack Open Graph Tags -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="A Chorus of Wolves" />
  <meta property="og:url" content="https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/" />
  <meta property="og:description" content="A collection of shorts by author Alex Kimmell: ”Down the Sunday Hole” ”Kodi” ”A Chorus Of Wolves” ”Suite Sweet” &quot;Kodi&quot; &quot;Josephine&quot;" />
  <meta property="article:published_time" content="2013-07-23T17:32:11+00:00" />
  <meta property="article:modified_time" content="2014-08-29T18:42:13+00:00" />
  <meta property="article:author" content="https://teamtrope.com/author/jessejames/" />
  <meta property="og:site_name" content="Teamtrope" />
  <meta property="og:image" content="http://wordpress.com/i/blank.jpg" />
  <meta name="twitter:site" content="@jetpack" />
  <meta name="twitter:card" content="summary" />
  <!-- Google Analytics Tracking by Google Analyticator 6.4.7.3: http://www.videousermanuals.com/google-analyticator/ -->
  <script type="text/javascript">
    var analyticsFileTypes = ['pdf','mobi','epub','png','jpg','jpeg'];
    var analyticsSnippet = 'enabled';
    var analyticsEventTracking = 'enabled';
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-36713374-1']);
    _gaq.push(['_addDevId', 'i9k95']); // Google Analyticator App ID with Google
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
  </script>
  
  <style type='text/css'>
#wpadminbar .quicklinks li#wp-admin-bar-stats {
	height: 28px;
}
#wpadminbar .quicklinks li#wp-admin-bar-stats a {
	height: 28px;
	padding: 0;
}
#wpadminbar .quicklinks li#wp-admin-bar-stats a div {
	height: 28px;
	width: 95px;
	overflow: hidden;
	margin: 0 10px;
}
#wpadminbar .quicklinks li#wp-admin-bar-stats a:hover div {
	width: auto;
	margin: 0 8px 0 10px;
}
#wpadminbar .quicklinks li#wp-admin-bar-stats a img {
	height: 24px;
	padding: 2px 0;
	max-width: none;
	border: none;
}
  </style>
  <script type="text/javascript">
  /* <![CDATA[ */
	var wpNotesIsJetpackClient = true;
	var wpNotesLinkAccountsURL = 'https://teamtrope.com/wp-admin/admin.php?page=jetpack';
  /* ]]> */
  </script>
  <!-- Rails tags -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="single single-projects postid-6187 logged-in no-customize-support custom-background group-blog masthead-fixed singular no-js" >
  <div id="page" class="hfeed site">
    <%= render 'layouts/header' %>
    <div id="main" class="site-main">
    	<div class="page">
    		<div class='padder'>
		    	<% flash.each do | message_type, message | %>
    				<div class="alert alert-<%= message_type %>"><%= message %></div>
		    	<% end %>
      		<%= yield %>
      	</div>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </div><!-- #page -->
  
  <div style="display:none"></div>
  <link rel='stylesheet' id='noticons-css'  href='https://s0.wp.com/i/noticons/noticons.css?ver=3.0.2-201447' type='text/css' media='all' />
  <link rel='stylesheet' id='gforms_reset_css-css'  href='https://teamtrope.com/wp-content/plugins/gravityforms/css/formreset.css?ver=1.8.9' type='text/css' media='all' />
  <link rel='stylesheet' id='gforms_formsmain_css-css'  href='https://teamtrope.com/wp-content/plugins/gravityforms/css/formsmain.css?ver=1.8.9' type='text/css' media='all' />
  <link rel='stylesheet' id='gforms_ready_class_css-css'  href='https://teamtrope.com/wp-content/plugins/gravityforms/css/readyclass.css?ver=1.8.9' type='text/css' media='all' />
  <link rel='stylesheet' id='gforms_browsers_css-css'  href='https://teamtrope.com/wp-content/plugins/gravityforms/css/browsers.css?ver=1.8.9' type='text/css' media='all' />
  <link rel='stylesheet' id='gforms_datepicker_css-css'  href='https://teamtrope.com/wp-content/plugins/gravityforms/css/datepicker.css?ver=1.8.9' type='text/css' media='all' />
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/admin-bar.min.js?ver=3.9.2'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/ui/jquery.ui.datepicker.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/ui/jquery.ui.mouse.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/ui/jquery.ui.slider.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/themes/twentyfourteen/js/functions.js?ver=20140319'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/underscore.min.js?ver=1.6.0'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-includes/js/backbone.min.js?ver=1.1.2'></script>
  <script type='text/javascript' src='https://s1.wp.com/wp-content/js/mustache.js?ver=3.0.2-201447'></script>
  <script type='text/javascript' src='https://s1.wp.com/wp-content/mu-plugins/notes/notes-common-v2.js?ver=3.0.2-201447'></script>
  
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/jquery.json-1.3.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/jquery.placeholders.2.1.1.min.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/gravityforms.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/jquery.textareaCounter.plugin.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/conditional_logic.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/datepicker.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/chosen.jquery.min.js?ver=1.8.9'></script>
  <script type='text/javascript' src='https://teamtrope.com/wp-content/plugins/gravityforms/js/jquery.maskedinput-1.3.1.min.js?ver=1.8.9'></script>
</body>
</html>
